
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	/*width: 100%;
	position: fixed;
	padding:0%;
	min-height: 108px;
	z-index: 100;
	top:0;*/
	
	
}

.mean-bar a.meanmenu-reveal {
	cursor: pointer;
    height: 45px;
    margin: 0px;
	top:6px;
    position: absolute;
    transform: rotate(0deg);
   
    width: 60px;
}



.mean-bar a .mean-bar {
	float: left;
	width: 100%;
	position: fixed;
	background: #f5f5f5;
	padding: 4px 0%;
	min-height: 52px;
	z-index: 100;
	top:0;
	
	
}

.mean-bar  a.meanmenu-reveal {
	width: 38px;
	height: 27px;
	padding: 13px 0px 11px 0px;
	position: absolute;
	top: 7px;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	right:160px !important;
	top:30px;
	z-index:9
}

.mean-bar  a.meanmenu-reveal span {
	display: block;
	background: #000000;
	height: 5px;
	margin-bottom: 5px;
}
.mean-bar  a.meanclose{background:url(../images/menu-close.png) no-repeat center center;text-indent:100000px;}







.subMenu{display:block !important}



.mean-container .mean-nav {
	width: 100%;
	background: #e9e9ea ;
	margin-top: 108px;
	position:absolute
 }

.meanclose{
        height: 2000px;
        overflow: scroll;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	border:0px;
	
}
.mean-container .mean-nav .navbar-nav{height:100vh; overflow-y:auto}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	padding:0px;
	margin:0px;
	text-align:center
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: center;
	border-top: 1px solid #dcdcdc;
	text-decoration: none;
	text-transform: uppercase;
	font-size:30px;
	line-height:18px;
	font-weight:normal;
	color:#1f1f1f
}

.mean-container .mean-nav ul ul ul li a{text-transform:capitalize}
.mean-container .mean-nav ul ul ul{padding-bottom:0}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li li a {
	width: 88% !important;
	padding: 1em 6% !important;
	
}

.mean-container .mean-nav ul ul li li a {
	width: 86% !important;
	padding: 1em 7% !important;}
/*
.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}
*/

.mean-container .mean-nav ul li.mean-last a, .mean-container .mean-nav ul li.hidden-md a{text-align:center}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	/*width: 26px;*/
	height: 22px;
	padding: 12px 20px!important;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	/*border-left: 1px solid rgba(206,206,206,0.4) !important;*/
	border-bottom: 1px solid rgba(206,206,206,0.2) !important;
	font-family:Arial, Helvetica, sans-serif;
	display:none
}
.mean-container .mean-nav ul li a.mean-expand.mean-clicked{padding-right:23px !important; }
.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(186,186,187,0);
	color:#000000
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none
}


.mean-remove {
	display: none !important;
}


/* XS Portrait */
@media (max-width: 480px) {
.navbar > .container .navbar-brand{margin-top:23px;}
.navbar-brand img{max-width:100%}
.mean-bar a.meanmenu-reveal{right:90px !important}
.homeurgency .mean-bar a.meanmenu-reveal span{background:#ffffff}
.homeurgency .mean-bar a.meanmenu-reveal{right:30px !important;}

}
