/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

 
  ul.social_icons li{
    margin-right: 0;
  }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  
}

/* xs */
@media (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }
	#header{height:108px;}
 .howworks-content{padding:0px;}
.footer-bottom .footerbottom-content, .partnaires_logo{padding:0px }
	ul.social-share{text-align:center}
    ul.social-share li a{margin-right:0}
	.navbar{position:relative}
	.btnDonate{position:absolute;right:0;width:141px;height:100%;top:0;bottom:0;padding:0px;background-position:center 14px;line-height:normal;-webkit-border-radius:0;border-radius:0;text-align:center;padding:45px 37px 0px}
	.navbar{height:108px;}
}

/* XS Portrait */
@media (max-width: 480px) {


}

