
@media (max-width: 992px) {

#header{height:111px;top:-1px}
header .btnDonate{position:absolute;right:0;width:141px;height:100%;top:0;bottom:0;padding:0px;background-position:center 14px;line-height:normal;-webkit-border-radius:0;border-radius:0;
  text-align:center;padding:45px 37px 0px;margin-top:0; height: 111px;}
header .btnDonate:hover{background-position:center 14px;}

body > section,.section-news{padding: 30px 0; }

body > section.section-solidarity{padding:118px 0;}

.main-slider .owl-nav,.secondary-fundraising-slider .owl-nav{display: none;}

.owl-carousel .owl-stage-outer{height: auto;}
.section-fundraising .features .overlay{position: relative;}
.secondary-twitter-slider .item, .secondary-twitter-slider .owl-stage-outer{height: auto !important; }

.section-footerbottom,.section-htmlfree .col-md-4,
.section-footerbottom .postal-account, .howworks-content{padding-left: 0;padding-right: 0; word-wrap:;}

/*.footer-bottom .col-md-6{padding-right: 0;}*/
.newsletter input[type=email]{width: 80%}

.section-threeColumn{padding-bottom: 30px;}

.section-htmlfree{padding:0px;}
.section-htmlfree figcaption{position:static}
.section-htmlfree a.btn.underline{border-radius:0; padding: 20px; font-size: 25px; text-transform: uppercase; text-decoration: none; margin-top: 0; margin-bottom:10px;}

.footerbottom-content{background:#fff;}
.footer-bottom .footerbottom-content{padding: 0 159px}
.newsletter{text-align:center}
.social-share{padding:38px 0px 40px 0px; text-align: center}
.partnaires_logo{padding:35px;}

/*.section-fundraising .features figure figcaption a span,
.section-fundraising .features figure figcaption a,*/
.section-fundraising .features:hover figcaption a{width:auto; margin-left:11px;}
.section-fundraising .features:hover figcaption a span,
.section-fundraising .features .overlay,.section-fundraising .features .overlay a{display: none; opacity: 0;}
.section-fundraising .features .content-wrap a.btn{position: relative;margin-bottom: 20px;}

/*CSS FOR FONT
*/
.main-slider .sliderCaption h2, .main-slider .sliderCaption h1{font-size: 6vh;}
.mobile-carousel .owl-nav .owl-prev{left: 20px;}
.mobile-carousel .owl-nav .owl-next{right:20px;}
.section-news .owl-nav{top:53%;}

.postal-account .postal-content{height: 150px;}

.owl-theme .owl-controls .owl-nav div{margin:0;}

.section-fundraising .features .content-wrap,section .features .content-wrap{padding-right: 0px 60px}

.contact-form{padding-left:0;padding-right: 0;}

.slider-twitter{background: #fff; padding-bottom: 20px;}

.sticky .middle-status-fund{padding: 0;}

}

@media (max-width: 768px) {
  .main-slider .content-left{padding-left: 10%;}
   .main-slider .content-right{padding-right: 10%;}

   .section-video{padding-top: 220px;}

   .section-howworks .col-xs-6:first-child  img{padding-top: 9%;}

}
@media (max-width: 600px) {
.owl-item div.col-xs-12{padding-left: 0;}

.postal-account .postal-content{height: 170px;}
.partnaire_rt img{margin-left: 0; margin-right: 15px;}
.partnaire_rt{text-align: left;}

body{font-size: 16px;}

.section-video{padding-top: 70px;}

.postalfooter li{ display: block; background: none; }

}

@media (min-width:600px) and (max-width: 767px) {
  #menu-footer > li{padding-right: 15px;padding-left: 15px;}

  }

@media (min-width:768px) and (max-width: 992px) {
  #menu-footer > li{padding-right: 28px;padding-left: 28px;}

}



@media (max-width: 414px) {

  h1,h2{word-wrap: break-word;}

body > section.section-solidarity{padding:60px 0;}

section.section-threeColumn .owl-item div.col-xs-12{padding-right: 0}

.postal-account .postal-content{height: 190px;}

header .btnDonate{padding: 45px 10px 0px;}
.partnaires_logo{padding: 10px 0 10px;}

.footer-bottom .footerbottom-content{padding: 0}
.howworks-content h3{font-size: 4vh}

header .btnDonate{width: 80px; line-height: 18px;}

.section-htmlfree a.btn.underline{font-size:  16px; padding:8px 0}

.section-solidarity h4{font-size: 50px;}
.section-solidarity h4{font-size: 21px;}

ul.social-share li a{margin-right: 7px;}

.mobile-carousel .owl-nav{top:50%;}


#menu-footer > li:first-child,#menu-footer > li:last-child{display: block}
#menu-footer > li:last-child{padding-left: 0}
#menu-footer > li{padding-right: 30px;padding-left: 30px;}
#menu-footer > li:first-of-type::after, #menu-footer > li:nth-last-of-type(2)::after{display: none;}


.partnaire_lt img{margin-right: 0;}
.partnaire_rt a{display: inline-block; width: 40% }

.partnaire_rt a:first-child{width: 54%;}

/*CSS for menu*/
/*.mean-container .mean-nav ul li a.mean-expand{border:none !important;}

.mean-container .mean-nav ul li a{font-size: 17px !important}
.dropdown-menu figure{display: none;}
.dropdown-menu figure figcaption h3{font-size: 20px; margin-top: 0;}
.dropdown-menu .subMenu li{border-top:none;}
.dropdown-menu .col-sm-6{padding-left: 0; padding-right: 0;}
*/
}


@media (max-width:992px) {
  .homeurgency .main-banner .item .sliderCaption{padding-top:120px;}
}


@media (min-width:992px) {
  .section-htmlfree a.btn.underline{background: none !important}  
}

@media (max-width: 360px) {
  .mobile-carousel .owl-nav{top:46%;}
  #menu-footer > li{padding-left: 20px;padding-right: 20px;}
}

@media (max-width: 360px) {
  .homeurgency .main-banner .item .sliderCaption{padding-top:50px;}
  .main-banner .item .sliderCaption h1,.section-solidarity h2{font-size: 50px}
  .homeurgency .main-banner .itemCaption h3{font-size: 25px;}

}


/*////////CSS FOR FUND RAISING//////////*/


@media (max-width: 992px) {
  .status_bar.sticky{top:100px;}

  .secondary-twitter-slider .owl-dots{display: none !important;text-align: center;}
  .secquote blockquote{padding:0;}

  .sec-testimonail .content{text-align: center;}
  .sec-testimonail figure{margin-bottom: 30px;}

  .secquote{padding: 45px 0; }

  .fund_desc figure{text-align: center;}

   section.keyfigure{padding-top: 140px !important;}  

   section.fund_desc,.sec-testimonail, .section-partners {padding-top: 40px;padding-bottom: 40px;}

}


@media  (max-width: 767px) {
   .status_bar .totalDonation{margin-top:20px;}
   .main-banner .item{height: auto;padding-bottom: 30px;}
   .navbar-brand img{max-width: 100%;}
}



@media (max-width: 414px) {

  .main-banner .item .sliderCaption{padding-top: 110px;}

  .progress-bar-reconstruction{ width: 33% !important;}

  .progress-bar-consolidation{width: 25% !important;}

  .progress-bar-urgence{width:21% !important}

  .progress{width: 355px;}
  .secquote blockquote{font-size: 20px; line-height: 26px;}

 }



@media (max-width: 375px) {

.partners li{padding-left: 0}

.contact-filter{height: 140px;}


span.multiselect-native-select {
  position: relative;
  margin-left: 24px;
  width: 49%;
  display: inline-block;
  margin: 0 !important;
  text-align: left;
}

.multiselect-native-select .caret{margin-left: 0;}


.section-solidarity h4{font-size: 19px;}
.section-solidarity p{font-size: 17px;}

}

@media (min-width: 361px) and (max-width: 414px) {
  body > section.section-solidarity{padding: 90px 0;}
  .mobile-carousel .owl-nav{top: 60%}
  .section-video h1{font-size: 33px;}
  .section-video{padding-top: 140px;}
}

@media (max-width: 360px) {
  .progress{width: 310px;}
  .section-video h1{font-size: 27px;}
  body > section.section-solidarity{padding: 120px 0}
}

/*CSS FOR CMS*/

@media (max-width: 768px) {
/*  .nav-tabs>li:first-child.active>a, .nav-tabs>li:first-child.active>a:hover, .nav-tabs>li:first-child.active>a:focus{border-bottom: 1px solid #b7bdbf}
.nav-tabs>li>a{border:none; border-bottom: 1px solid #b7bdbf !important}*/
.nav-tabs>li{float: none; margin-bottom: 2px; }
.nav-tabs>li.active:last-of-type>a{border-right: none;}

.nav-tabs>li>a,.nav-tabs{border:none;}

.panel-body{width: 100%; overflow: auto;}

}


/*CSS FOR NEWS*/

@media (max-width: 768px) {

.multiselect-container{top:42px; left: -40px;}

.multiselect-container > li{padding: 9px 25px !important}

.multiselect-container>li>a>label{padding:3px 20px 3px 30px !important;}

.main-banner .item .sliderCaption h1{font-size: 50px;}
}

/*CSS FOR MEDIA PAGE*/

@media (max-width: 992px) {
  .status_bar.sticky{top:0;}

  .section-two-col aside{padding-left: 0}
  input[type=search]{width: 80%;}
}