    @media (max-width: 992px) {
    .main-banner .item{height: auto; padding-bottom: 30px}
    .main-banner .item .sliderCaption {padding-top: 110px;}
    .section-two-col aside {
    padding-left: 0;
    }
   
    .section-footerbottom, .section-footerbottom .postal-account {
    padding-left: 0;
    padding-right: 0;
    word-wrap:;
    }
    .postal-account .postal-content {
    padding-bottom: 30px;
    height: auto;
    padding-bottom: 30px;
    }
    .social-share {
    padding: 30px 0px 40px 0px;
    text-align: center;
    }
    .newsletter {
    text-align: center;
    }

    aside .social-share {padding: 20px 0 0 ;}

    .footerbottom-content .hidden-xs{display: none !important;}

    }
    @media (max-width: 768px) {
    h1,h2{word-wrap: break-word;}

    .navbar-brand img {
    max-width: 100%;
    }
    .accRt {
    margin-top: 10px;
    }


    .main-banner .item .sliderCaption h1 {
    font-size: 50px;
    }
    .section-filter {
    padding: 15px 0; z-index: 190 !important;
    }
    .section-filter h4 {
    margin: 6px 0;
    }
    span.multiselect-native-select {
    position: relative;
    margin-left: 24px;
    width: 49%;
    display: inline-block;
    margin: 0 !important;
    text-align: left;
    }

    section .features {
    min-height: auto;
    }

    .media-body .more-media-btn{margin:0;}
    .slider-twitter {
    background: #fff;
    padding-bottom: 20px;
    margin-top: 60px;
    }


    aside .widget{margin-bottom: 30px;}
    .media-page .media-body{padding-bottom: 30px;}

    .section-two-col {
    padding-top: 30px !important;
    }
    section .features {
    min-height: auto;
    }

    .footer-bottom .footerbottom-content {
    background: #fff;
    padding: 0 50px;
    }

    #menu-footer > li,#menu-footer > li:last-child {
    padding-right: 34px;
    padding-left: 34px;
    }
    .slider-twitter .item{padding:40px 40px 0}
    }

    @media (max-width: 600px) {
    h1{font-size: 30px;}
    .postalfooter li {
    display: block;
    background: none;
    }

    input[type=submit]{font-size: 18px;padding: .3em 0.09em .4em}

    }

    @media (max-width: 414px) {
    .multiselect-native-select .caret { margin-left: 0;}


    ul.grid li {
    width: 100% !important;
    width: 100% !important;
    margin-bottom: 30px;
    left: 0 !important;
    }

    ul.social-share li a {margin-right: 7px; }

    .footer-bottom .footerbottom-content {
    padding: 0;
    }
    ul.social-share li a {
    margin-right: 7px !important;
    }


    #menu-footer > li:first-child,#menu-footer > li:last-child{display: block}
    #menu-footer > li:last-child{padding-left: 0}
    #menu-footer > li{padding-right: 30px;padding-left: 30px;}
    #menu-footer > li:first-of-type::after, #menu-footer > li:nth-last-of-type(2)::after{display: none;}


    section .features .content-wrap {
    padding: 40px 20px 20px;
    }
    }

    @media (max-width: 375px) {
    .section-filter h4{font-size: 18px; letter-spacing: -0.03em}


    ul.social-share li a{
    width: 47px;
    height: 47px;
    line-height: 45px;
    font-size: 18px;
    }
    #menu-footer > li{padding-right: 25px;padding-left: 25px;}

    }
