@charset "UTF-8";
/*
Theme Name: Custom Theme
Theme URI: http://asimove.com
Description: A custom Wordprss theme for asimove
Author: Lorenzo Pirondini
Vestion: 1.00
*/




body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

body.page{
	padding-top:0px !important;
	}	


body.page-template-page-arch-php {
	overflow-y: scroll;
}

/** Scroll detector ****/



/* Header ***********/

header{
	padding-top: 25px;
	}


#langues ul li{
	float:left;
	}
	
#langues ul li{
	padding: 0;
	margin-right: 15px;
	}
	
#langues ul li:last-child{
	margin:0;
	color: black;
	
}
	
	
#langues ul li span{
	position: relative;
left: -4px;
margin-left: 2px;
	}
#langues ul li span.active a {
	color:#D9272E;
	font-weight:bold;
	}	
#langues a{
	color:#4b4b4b;
	font-size: 12px;
	}	

#langues a.active{
	color:#d9272e;
	}	

.menu.nav.navbar-nav .active > a {
	font-weight:bold;
}	
	
#nav_affix.affix {
 	 top:0;
	width: 1170px;
	z-index:10;
}

nav.navbar {
  border-radius: 0px;
  margin-bottom: 0;
  background-color: #d9272e;
  color:#FFF;
  border-bottom: 1pt solid #fff;
  padding-left:0;
}

.navbar-right {
	padding-top:15px;
}

.navbar-right img {
    width:100%;
	height:auto;
}

.navbar-right li a {
    margin: 0;
	padding:0;
	
}

nav.navbar .container-fluid{
	padding-right: 0;
	padding-left:0;
	}
#bs-example-navbar-collapse-1{
	padding-left:0;
	padding-right: 0px;
	}	

.navbar-nav.navbar-left li a {
    color: #fff;
	padding-right: 40px;
	padding-left: 40px;
}

.navbar-nav.navbar-left li:first-child a {
    color: #fff;
	padding-left: 15px;
}

.navbar-nav li {
 display:inline-block !important;
}

.navbar-nav.navbar-left  li a:after, .navbar-nav.navbar-left  li a:hover:after { content: "\2022";position: absolute;right: -2px;font-weight: normal;font-size: 22px; }
.navbar-nav.navbar-left  li:last-child a:after { content: ""; }


.menu.nav.navbar-nav .active > a {
	font-weight:bold;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	font-weight:bold;
	background-color:transparent;
}
/*.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #f0f;
  background-color: #fff;
}*/




/********SIDE NAV *****/

/*MAIN SIDE NAV */

#sidenav{
	padding:0;
	width:30%;
	}

.mainnav.affix {
  position: fixed;
  top: 0;
  width: 1170px;
  z-index: 10;
  border-bottom: 1pt solid white;
}


.mainnav.affix + .home_content {
  padding-top: 100px;
}



/*----------Side bar ----------*/
.bs-docs-sidebar {
	padding:0;
}
.bs-docs-sidenav.affix {
  top: 55px;
}
.bs-docs-sidenav {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

/*-------First Level-------------*/
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 0px;
  color: #d9272e;
}

.bs-docs-sidebar .nav > li > a {
  display: block;
  font-size: 1em ;
  color: #4b4b4b;
  padding-right: 10px;
  padding-top:10px;
  padding-left: 5px !important;
  border-bottom:1pt solid #BABABA;
  text-transform:uppercase;
  padding-bottom:0;
  margin-left: 0px;
  margin-right: 10px;

}

.bs-docs-sidebar .nav > li > a {
	background-color: #fff;
	padding-left: 20px;
}

.bs-docs-sidebar .nav > li.active > a {
	background-color: #e2e2e2;
	border-color:#FFF;
	padding-left: 20px;
	
}

.bs-docs-sidebar .nav > li.active li a {
	background-color: #e2e2e2;
	border-color:#FFF; !important
	padding-left: 20px;
}

.bs-docs-sidebar .nav > li.active > li.active a {
    border-color: #bababa;
}


.bs-docs-sidebar .nav .nav > li.active ~ li a {
	background-color: #FFF !important;
	border-color:#bababa;
	padding-left: 20px;
}

.bs-docs-sidebar .nav > li.active > a:hover {
	background-color: #e2e2e2;
	padding-left: 20px;

}

 .bs-docs-sidebar .nav > li.active > a:after { 
 content: '';
 background-image: url('images/arrow_g.jpg'); 
 background-size: 100% auto;
 position: absolute;
 right: 0;
 top: 0;
 width: 35px;
 height: 100%;
 } 
 .bs-docs-sidebar .nav > li.active > a:only-child:after { 
 background-image:none;
 background:none;
  }   

.bs-docs-sidebar .nav > .active > ul {
  display: block;
}

.bs-docs-sidebar li {
  display: block;
/*  height: 35px; */
  padding-right: 0px;
}

/*-------second Level-------------*/
.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 0px;
}

.bs-docs-sidebar .nav .nav > .active > a,
 {
  padding-left: 40px !important;
  color: #d9272e;
  text-indent: -25px;
  border-color: #bababa;

}

.bs-docs-sidebar .nav > li.active > ul ~ li.active > a{
	  border-color: #FFF;

	}


 .bs-docs-sidebar .nav .nav > li.active > a:after { 

 width: 22px;
 } 

.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px !important;
  font-size: 1em ;
  text-transform:uppercase;
  text-indent: -25px;
}

.bs-docs-sidebar .nav .nav > .active > ul {
  display: block;
}

/*-------third level--------*/

.bs-docs-sidebar .nav .nav .nav {
  display: none;
  padding-bottom: 0px;
}

.bs-docs-sidebar .nav .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav .nav > .active:focus > a {
  padding-left: 65px !important;
  color: d9272e;
  text-transform:none;
  border-color: #bababa;

}

.bs-docs-sidebar .nav .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 65px  !important;
  font-size: 1em ;
  text-transform: none;

}

/******rapport_content********/

.rapport_content{
	padding:0;
	width:70%;
	overflow-x: hidden;
	}
	
	
/****** Generic Template ****/




/******* for header and pages ******/

.index_marker{
	width: 100%;
	height: 30px;
	background: green;
	position: absolute;	
	background:transparent;
	}

.cb_btn{
	width: auto;
	background: none repeat scroll 0% 0% #dd313a !important;
	position: relative;
	display: inline-block;
	margin-bottom:35px;
	overflow: hidden;
	}

.page-template-page-arch-php .home_content .cb_btn{
	margin-top:2px !important;
	
	}

.page .cb_btn{
	margin-top:10px;

	}	
		

.cb_btn .icon{
	width: 35px;
	height: 100%;
	position: absolute;
	background:url(images/arrow.jpg) !important;
	background-repeat:no-repeat;
	background-position:center;
	top: 0px;
	right: 0px;
	background-color:#bb2025 !important;
	}
.cb_btn a:hover, .cb_btn a:focus{
	text-decoration:none;
	}
.cb_btn p{
	padding-top:7px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:50px;
	color:#FFF !important;
	margin: 0;

	}


	
.PdfDlWrap{
	position:relative;
	margin-top: 20px;
	}	
.page-template-page-rapport-financier-php .PdfDlWrap{
	top: 10px;
	margin-top: 0;
}
.page-template-page-rapport-financier-php .redBar h1{
	font-size: 1.3em !important;
}



/************** Pages *********************/


.page{
	clear: both;
	/*margin-bottom: 65px;*/
	padding-top:40px;
	position:relative;
	/*overflow:hidden; */
	}

.page .content{
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 36px;
	
	}
.page .image{
	margin-bottom: 33px;
	}	
	
.page h3{
	color:#d9272e;
	font-size: 1.6em;
	font-weight:lighter;
	text-transform:uppercase;
	}		
			
.page p{
	font-size: 16.2px;
	line-height: 20px;
	}	
	
.page .fact_box{
	margin-left: 40px;
	margin-right: 40px;
	background: #e5e4e4 !important;
	padding: 0px;
	overflow: hidden;
	}	

.fact_box h4{
	color:#d9272e !important;
	font-size: 16px;
	text-transform:uppercase;
	margin-bottom: 5px;
		word-break:break-all;


	}	
.fact_box > div:first-child > h4:nth-of-type(2) {
	color:#333 !important;
	margin-top: 0;
	font-size: 14px;
	
	}	
.fact_box p{
	margin-bottom:0;
	}
.fact_box > div:nth-of-type(2) p {
	font-size: 14px;
	line-height: 20px;	
	
	}	
	
.fact_box > div:only-of-type {
	padding:5px 10px;
	background: #D2D3D3 !important;
}

.page a{ color: #d9272e; }
	
/****** Tempalte 1 **********/
.page.template1{
	clear: both;
	padding-top: 0px;
	position:relative;
	}

.template1.full_img{
	margin-bottom: 0;
	padding-top:0;
	}
.redBar{
	background:#D9272E;
	text-align: right;
	}	
.redBar img{
	width: 90%;
	position: absolute;
	bottom: 35px;
	right: 10px;	
	}
.redBar h1{
	color:#FFFFFF;
	font-size: 23px;
	}				
/****** Tempalte 2 **********/


/****** Tempalte 3 **********/
.page.template3  .content{	

	}	
.page.template3  .image{	
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
	padding:0;
	}	
.page.template3  .image_right{
	float:right;
	margin-bottom: 30px;
	margin-left: 20px;
	padding:0;
	}	

.page.template3  .image_right img{
	width:100%;
	height:auto;
	}
.page.template3  .image img{
	width:100%;
	height:auto;
	}


/****** Tempalte 4 **********/
.page.template4 img{
	width:100%;
	height:auto;
	}		
.page.template4 h3{
	position: absolute;
	left: 45px;
	top: 50px;
	}	
.page.template4 .content{
	position: absolute;
	bottom:0px;
	background:rgba(255,255,255,0.80);
	padding: 8px 30px;
	margin-bottom: 0;
	width: 100%;
	}	
.page.template4 .content p{
	font-size:14px;
	line-height: 19px;
	}	
.page.template4 .img_div{
	overflow: hidden;
	}		
	
/****** Tempalte 5 **********/	
.page.template5 .cb_btn{
	margin: 10px auto;
	margin-bottom:0;
	}	
.page.template5 .image{
	padding:0;
	}
 	
/****** Tempalte 6 **********/

.page.template6 h3{
	margin-top: 0;
	}

.page.template6 .fact_box{
	margin-left: 12px;
	padding: 0;
	margin-right: 12px;
	}
.page.template6 .fact_box > div{
	padding: 8px 10px;	
	}		
.page.template6 .fact_box h4{
	margin-top:0;
	}	
	
.page.template6 .fact_box div:nth-of-type(2) h4:nth-of-type(2){
	margin-top: 10px;
	}		


	

/****** Tempalte 7 **********/
.page.template7 .partener{
	border-bottom:solid 1pt #000;

	}
.page.template7 .partener:nth-of-type(1){
	border-top:solid 1pt #000;
	margin-top:37px;
	}	
	

.page.template7 .image{
	float: left;

	}
.page.template7 img{
	margin-top:2px;
	margin-bottom:2px;

	}/****** Tempalte 8 **********/
.page.template8{
	padding-left: 40px;
	padding-right: 40px;
	}
.page.template8 .col-sm-8{
	bottom: 0px;
	right: 0px;
	text-align: center;
margin-top: 77px;
	}	

/******* Footer ********************/

body.page-template-page-rapport-financier-php .copy{
margin-top: 0px !important;
	}

.copy{
background:#f6f6f6;	
padding:0;
margin-top: 35px;
	}
	
	
.footer .container{
padding:0;
	}	
.copy ul{
padding:0;
margin: 8px 0px;
	}	
.copy .fnav-left{ margin-top:10px }	
	
	.copy .fnav-left li{
		position:relative;
		}
.copy .fnav-left li:after, .copy .fnav-left li a:hover:after { content: "\2022";position: absolute;right: -3px;
font-weight: normal;
font-size: 18px;
top: -3px; }

.copy .fnav-left li:last-child:after, .copy .fnav-left li:last-child:hover:after, .copy .fnav-left li:last-child a:hover:after  { content: ""; }	

.copy .fnav-left li{ padding: 0 15px; }	
	
	.copy .fnav-left li:first-child{ padding-left: 0; }	

.copy  ul li{
display:inline-block;

	}	
	
ul.fnav-left{
float: left;
padding: 0px;
list-style: none;
margin-bottom: 10px;
margin-top: 0px;
	}	
	
ul.navbar-right li{
width:22px;

	}	
ul.navbar-right li{
margin-right:15px;	
	}	
.fnav-left ul {
	float:left;
	}
.fnav-left ul li {
	list-style:none;
	}
		
.logos{
background:#ededed;	
padding-top: 50px;
	}
.logos .navbar-right{

	padding:0;
	
	}	
	
	
.logos .navbar-right li{
	list-style:none;
	width: auto;
	float: left;
	
	}
.logos  .navbar-right li:last-child{
	margin-right:0;
	}	
		
.footer_last{
	border-top:solid 1pt black;
	padding-top: 5px !important;
padding-bottom: 40px !important;
	}	
.footer_last .left{
	float:left;
	}	
.footer_last .right{
	float:right;
	}	
	
	/*portrait*/
.indexBtn{
	width: 35px;
	height: 35px;
	position: absolute;
	background:url(images/arrow.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#bb2025;	
	top: 1px;
	right: -35px;	}	
.affix-top .indexBtn{
	display:none !important;
	}
.rotate{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);

	}

.portrainIndex{
position: absolute;
z-index: 10;
opacity:0.87;
}



.portrainIndex #my_affix{
background: #fff;
top: 51px;
}
.portrainIndex #my_affix li{
	display:none;
}
.portrainIndex #my_affix.affix-top li{
	display:block!important;
}

	
@media (min-width: 768px) {
.template6 .col-sm-4{
	padding:0;		
	}	
	
}
	/*PDF*/
@media only print {

.page-template-page-pdf-php .rapport_content{
	width:100%;
	}
.page {
   /* page-break-after: always;*/
	page-break-after: always!important;
	width:210mm;
	height:290mm !important;
	float:none !important;
	padding-top:0px;
	overflow:hidden;	

  }	

.page h3 {
color: #d9272e !important;

}  
  
.rapport_content{
	width:210mm;
	float:none;
	overflow-x: visible;
	overflow:visible;	
	}  
.container{
	width:210mm;
	}	
.pdfredBar {
    background: #D9272E !important;
	width: 96.7%;
	position:absolute;
	left:14px;
	right:0px;
	bottom:16px;
	height: 180px;
}
	.pdfredBar img {
	float: right;
	margin-right: 20px;
	margin-top: 60px;
	}
	.pdfredBar h1 {
	position: absolute;
	margin-top: 80px;
	color: #fff !important;
	
	}


@page {
margin: 0cm;
}

.full_imgPDF{
	position:relative;
	width:100%;
	height:297mm;
	/*overflow:hidden;*/
	}	

a {
	color:#D9272E !important;	    
  }
a[href]:after {
	color:#D9272E !important;	    
  }

	
.full_imgPDF img{
	width:100%;
	height:100%;
	}
.template1{
	width: 100%;
	height: 290mm;	
	
	}
.cb_btn {
height: 35px !important;
overflow: visible !important;
}


.page.template4 .content {
	padding-bottom: 35px;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8) !important;

}



.template5 .cb_btn:after{
	margin-bottom:20px;
	}


.template8 footer{
margin-left:0;	
	
	}

 .template8 a[href]:after {
    content: "";
  }

footer{

	width:716px;
	height:30px;
	background:#D9272E !important;	
	position:absolute;
	bottom:10px;
	margin-left:40px;
	margin-right:40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	margin-bottom:0;
	}	

footer p{
	margin:0;
	color: #FFF !important;
	font-size: 13px;
	}	
footer p span{
	font-weight:bold;
	font-size: 15px;
	margin:0;
		color: #FFF !important;

	}
	
.alignleft {
	float: left;
}
.alignright {
	float: right;
}	
	
.Pnumber{
	position:absolute;
	right:0;
	bottom:12px;	
	margin-right:10px;
	color:#D9272E !important;	
	font-size:18px;
	font-weight:bold;

}

}
	