
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #e5222f;
}

::selection {
    color: #fff;
    background: #e5222f;
}

a {
	color: #e5222f;
	text-decoration: none
}
a:hover, a:focus {
	color: #111;
	text-decoration: underline !important;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

/*************************
*******Typography******
**************************/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background: #ffffff;font-family: 'robotoregular';color:#4e4e4e;line-height: 22px;margin-top:110px;font-size:16px;}
h1,h2,h3,h4,h5,h6 { color:#1f1f1f;  font-family: 'robotomedium'; }
h1{font-size: 60px;color:#1f1f1f;text-transform:uppercase;font-family: 'robotobold';}
h2{font-size: 32px;}
h3{font-size: 25px;color: #1f1f1f;line-height: 24px;}
h4{font-size: 20px;}
h5,.h5{font-size:16px;color:#1f1f1f}
ul,li{list-style:none;margin:0px;padding:0px;}
p{font-family:'robotoregular';line-height:23px;}
a {
 /* color: #1f1f1f;*/
 /* -webkit-transition: all 500ms, background-color 500ms;
  -moz-transition: all 500ms, background-color 500ms;
  -o-transition:  all 500ms, background-color 500ms;
  transition:  all 500ms, background-color 500ms;*/
}
label{font-weight:normal}
a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
img{max-width:100%}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
/*btns*/
.btn{font-size:16px;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-o-transition:  all 500ms ease;transition:  all 500ms ease; }
.btn.rounded{background:#e5222f;-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#ffffff; font-family: 'robotobold';text-align:center;min-width:195px;height:48px;line-height:46px;padding:0px 15px;border:1px solid #e5222f}
.btn.rounded:hover{background:#ffffff;color:#e5222f}


.btn.black{background:#1f1f1f;border-color:#1f1f1f}
.btn.black:hover{color:#1f1f1f;background:#ffffff}

.btn.underline{text-decoration:underline;color:#e5222f}
.btn.underline:hover{text-decoration:none;}

.btn.border{-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#9b9ea1; font-family: 'robotobold';text-align:center;min-width:234px;height:48px;line-height:48px;padding:0px 15px;border:1px solid #a6a6a6}
.btn.border:hover{background:#a6a6a6;color:#ffffff}

.play_btn{width:107px;height:107px;display:inline-block;background:url(../images/play.png) no-repeat center center; position:relative;text-align:center; margin-top: 40px}
.play_btn span{font-size:16px;position:absolute;bottom:-54px;width:200%;left:-50%;color:#ffffff;text-decoration:underline}
.play_btn:hover span{text-decoration:none}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {margin-top: -1px;min-width: 180px;nprder:0px;background:#f5f5f5;-webkit-border-radius:0;border-radius:0;box-shadow:none;border:0px;}
body > section {padding: 118px 0;}
.center {text-align: center;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}



/*************************
*******Header******
**************************/

#header{background:#ffffff}
/*#header  .navbar{ -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}*/
#header.sticky{position:fixed;top:0;left:0;right:0;z-index:110;height:110px;}

#header a:hover{text-decoration:none;}


.navbar-right{position:static}
.navbar>.container .navbar-brand{margin-left: 0;margin-top:6px;}
.navbar-brand img{max-width:none}
.top-bar {padding: 0px 0;}
.top-number{color: #fff;}
.top-number p{margin: 0}
.social{text-align: right;}
.social-share{display: inline-block;list-style: none;padding: 0;margin: 0;}
ul.social-share li {display: inline-block;}
ul.social-share li a {display: inline-block;color: #9a9a9a;background: #ffffff;width: 49px;height: 49px;line-height: 49px;text-align: center;-webkit-border-radius:100%;border-radius: 100%;border:1px solid #acacac;font-size:20px;margin-right:20px; transition:all 0.1s ease-in;}
ul.social-share li a:hover{color:#ffffff; border:none;}
ul.social-share li.fb a:hover{background:#3b5998;}
ul.social-share li.tw a:hover{background:#1da1f2;}
ul.social-share li.insta a:hover{background:#ec9e2f;}
ul.social-share li.youtube a:hover{background:#fe3432;}
ul.social-share li.link a:hover{background:#0077b5;}

ul.social-share li:last-child a{margin-right:0px;}
ul.social-share li a:hover {}
.navbar-brand {padding: 0;margin:0;}
.navbar {border-radius: 0;margin-bottom: 0;padding: 10px 0 0;border:0px;/*background:#ffffff*/}
.navbar-nav{}
.navbar-nav > li{margin-right: 10px; }
.navbar-nav > li > a{color:#1f1f1f;text-transform:uppercase;padding:25px 14px 30px 14px;position:relative; font-family:robotomedium;}
.navbar-nav > li:hover > a{color:#a1a4a7;background:none}
.navbar-nav > li:hover > a:after{content:"";position:absolute;bottom:0px;width:30px;height:15px;background:#f5f5f5;left:50%;margin-left:-15px;border-radius: 30px 30px 0 0;-moz-border-radius: 30px 30px 0 0;-webkit-border-radius: 30px 30px 0 0;

}


/*.dropdown-menu {font-family: FontAwesome} */
.dropdown-menu a{display:block;color:#1f1f1f;}
.dropdown-menu figure{text-align:center}
.dropdown-menu figure img{margin-bottom:20px;}
.dropdown-menu figure figcaption h3{font-size:24px;font-family: 'robotolight';}

.dropdown-menu .subMenu {list-style:none;padding-left:0px;margin-top:-21px;}
.dropdown-menu .subMenu li{border-top:1px solid #a6a6a6;padding:20px 0px;}
.dropdown-menu .subMenu li:first-child{border:0px;padding-top:0px;}
.dropdown-menu .subMenu li a{font-family: 'robotolight';font-size:20px;}
.dropdown-menu .subMenu li a:hover, .dropdown-menu .subMenu li a.active{color:#a1a4a7}

.navbar-toggle .icon-bar{background:#1f1f1f;width:38px;height:5px;}
.navbar-toggle{margin-right:184px;}





/*************************
*******Home Page******
**************************/



.nav-tabs {
  border-bottom: 1px solid #ddd
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px
}
.nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border-radius:0;
  background:#eeeeee;
  color:#000000;
  border-left:1px solid #ddd
}
.nav-tabs>li>a:hover {
  border-color: #eee #eee #eee #ddd;
  background:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus.nav-tabs>li.active>a {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  
  border-radius:0
}
.nav-tabs>li:first-child.active>a {border-left:0px;}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0
}
.nav-tabs.nav-justified>li {
  float: none
}
.nav-tabs.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto
}


.navbar-collapse nav{float:left}
.btnDonate{height:43px;line-height:41px;-webkit-border-radius:21px;border-radius:21px; letter-spacing:0.05em; background:#e5222f url(../images/btn-donate.png) no-repeat 25px center;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;
padding:0px 25px 0px 50px;float:right;display:block;margin-top:-62px;border:1px solid #e5222f;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-o-transition:  all 500ms ease;
transition:  all 500ms ease;}

.btnDonate:hover{background:#ffffff url(../images/btn-donate-r.png) no-repeat 25px center;color:#e5222f}

.accRt{float:right}
.account, .lang{float:left;padding:0}
.account li, .lang li{float:left;list-style:none;color:#9b9ea1}
.lang li a{color:#9b9ea1}
.account li, .lang li{margin-left:25px;position:relative;line-height: 16px;}
.lang li{margin-left: 10px;}
.top-bar .lang > li:first-of-type{border-right: 1px solid #cacbcd;padding-right: 10px; }
.lang li i{margin-left: 5px;}

.account li a{background:url(../images/icon-acc.png) no-repeat left top;display:block}

.dropdown-menu li a { background: none; color: #9b9ea1;}
.dropdown-menu li { margin-left: 0px;}

.account li .acc{width:15px;height:17px;background-position:left bottom; padding-left: 20px; color:#9b9ea1 }
.account li .mail{width:21px;height:17px;background-position:right bottom}


.lang{position:relative}
.langDrop .btn{background:none;padding:0px;color:#9b9ea1}
.lang .dropdown-menu li{display:block;float:none;margin-left:0}
.lang .dropdown-menu{left:0;right:auto;min-width:inherit;}
.account .dropdown-menu li{text-align: right; width:100%;}

.account .dropdown-menu,.lang .dropdown-menu{top:110%;}
/*mega menu*/
.navbar-collapse{padding:0px;}
.navbar-default{color: #fff;background-color: #ccc6c6;border-color: #aca1a2;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .dropdown > a .caret{border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .navbar-brand{color:#fff;}
/*.menu-large {position: static !important;}*/
.megamenu{padding: 96px 0px 85px 0;width:100%;}
.megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul > li {list-style: none;}
.megamenu> li > ul > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.428571429;color: #333333;white-space: normal;}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}


/*main-slider*/

.main-slider{padding:0px;}
.main-slider .item{height:626px;}
.main-slider .sliderCaption{position:absolute;width:100%;top:150px}
.main-slider .sliderCaption .pull-middle{float:none !important;margin:0px auto;text-align:center}
.main-slider .sliderCaption .coutry{color:#ffffff;font-size:32px; font-family: 'robotolight';}
.main-slider .sliderCaption h2, .main-slider .sliderCaption h1{color:#ffffff;font-family: 'robotobold';line-height:57px;font-size:60px;}
.main-slider .sliderCaption p{color:#ffffff;font-size:20px;line-height:27px;font-family: 'robotolight';padding-bottom:20px;}
.main-slider .item img{max-width:none}
.main-slider .sliderCaption .btn{}

.main-slider .sliderCaption .content-right{float: right;}

/*fund raising*/
.section-threeColumn, .section-news{background:#f5f5f5}
.section-threeColumn{padding-bottom:110px;}
.section-fundraising .features/*,.section-news .features*/{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 0px 0px;min-height:562px;}
.section-fundraising .features figure{position:relative;margin-bottom:40px;}
.section-fundraising .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:2}
.section-fundraising .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:red /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff}
.section-fundraising .features figure figcaption a span{display:none;padding:0px 0px 0px 15px;float:left;-webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  }
.section-fundraising .features figure figcaption a  img{display:inline-block;padding-top:11px;float:left;padding-left:16px;}
.section-fundraising .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
  .section-fundraising .features .overlay a{display:block;position:absolute;left:0;right:0;bottom:0;top:0;}
.section-fundraising .features:hover .overlay {opacity: 1;}
.section-fundraising .features:hover figcaption a {width:182px;margin-left:-56px;background-image:none}
.section-fundraising .features:hover figcaption a span{display:block}
.section-fundraising .features .content-wrap{padding:0px 40px;}
.section-fundraising .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-fundraising .features .content-wrap h3{ font-family: 'robotolight';line-height:33px; font-size: 32px; margin-bottom: 20px}
.section-fundraising .features .content-wrap p{line-height:20px;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}



section .features{position:relative; /*overflow:hidden;*/background:#ffffff;padding:0px 0px 0px 0px;min-height:483px;}
section .features figure{position:relative; /*height: 260px; border: 1px solid red;*/}
section .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23}
section .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;}
section .features figure figcaption a  img{display:inline-block;width:auto}
section .features figure img{width:100%;max-width:none}
section .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
section .features .content-wrap{padding:20px 22px;}
section .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;padding-top:20px;}
section .features .content-wrap h3{ font-family: 'robotoregular';line-height:33px;}
section .features .content-wrap h4{font-size:25px; font-family: 'robotoregular';line-height:27px;}
section .features .content-wrap p{line-height:20px;}
.section-news .features .content-wrap a.btn{color:#e5222f;position:absolute;bottom:20px;left:0;width:100%}
section .features figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
section .features figure figcaption a.icon_news{background:#1f1f1f }

.title h3, .title h2{padding-bottom:30px;  color: #1f1f1f;font-size: 32px;line-height: 24px;font-family: 'robotoregular';}

section .postList .btn.rounded,.features .btn.rounded.black{margin-bottom:20px;}

/*news section*/

.section-news .mobile-carousel{display: flex;flex-direction: row; flex-wrap:nowrap;}
.section-news .feature{margin-bottom: 30px;}



/*html free area*/

.section-htmlfree{ overflow:hidden; padding:75px 0 110px;}
.section-htmlfree h3{padding-bottom: 45px;}
.section-htmlfree figure{position:relative}
.section-htmlfree figcaption{position:absolute;right:0;bottom:22px;left:0;text-align:center}
.section-htmlfree figcaption a{position:relative;top:85%;width:100%;text-align:center;color:#ffffff !important}
.section-htmlfree figcaption span.video{display:block; height:105px;background:url(../images/icon-video-play.png) no-repeat center center;margin-bottom:75px; }
.section-htmlfree figcaption a.video span{position:relative;top:87%;width:100%;text-align:center;color:#ffffff !important}

/*video section*/

.section-video{background-size:cover !important;height:650px;padding-top:176px;}
.section-video h3{font-family: 'robotolight';color:#ffffff; font-size: 32px;}
.section-video h2{font-size: 42px; font-family: robotobold; color: #fff; text-transform: uppercase;}

/*section how works*/
.section-howworks{overflow:hidden;position:relative;padding:75px 0px 60px 0px}
.section-howworks:before{content:'';position:absolute;left:0px;top:0px;bottom:0px;background:#3a3a3b;width:50%;}
.section-howworks:after{content:'';position:absolute;right:0px;top:0px;bottom:0px;background:#e5222f;width:50%;z-index:-1}
.howworks-content{padding:0px 125px;position:relative;min-height:433px;}
.howworks-content h3{line-height:30px; font-size:32px; margin-bottom: 15px;}
.howworks-content figure{padding-top:35px;}
.howworks-content h3, .howworks-content .btn, .howworks-content p{color:#ffffff}
.howworks-content .btn{position:absolute;left:0;width:100%;bottom:0}
.howworks-content a.underline{ color: #fff; }


/*solidarity section*/
.section-solidarity{background-size:cover !important;height:809px;}
.section-solidarity h2{color:#ffffff;padding:0px 0px 0px 0px;font-family: 'robotobold'; font-size: 60px; text-transform: uppercase;}
.section-solidarity h4{font-size:32px;color:#ffffff;font-family: 'robotobold';}
.section-solidarity p{font-size:20px;font-family: 'robotolight';}
.partners{text-align:center;color:#ffffff;padding-top:85px}
.partners ul li{list-style:none}

.section-solidarity  h3{color:#ffffff; font-family: robotolight;  font-size: 32px;letter-spacing: 0.01em; margin-top: 35px;}

/*footer*/
/*footer bottom*/

.section-footerbottom{background:#f5f5f5; padding:0px;}
.postal-account{text-align:center; position:relative}
.postal-account .postal-content{background:#e5222f;height:130px;color:#ffffff}
/*.home .postal-account .postal-content,.homepage .postal-account .postal-content {margin-top:-130px;}
*/.postal-account .postal-content h3{font-size:25px;color:#ffffff;font-family: 'robotobold';padding:15px 0px 0px 0px;margin:0px 0px 5px 0px}
.postal-account .postal-content p{padding:0;margin:0}
.icon_fund{position:absolute;width:44px;height:44px;-webkit-border-radius:100%;border-radius:100%;background:#ffffff;left:50%;margin-left:-22px;top:-20px; text-align:center;line-height:44px;}
.postalfooter{padding:5px 0px 0px 0px}
.postalfooter li {display: inline-block;padding:0px 33px 0px 35px;background:url(../images/postal-sep.png) no-repeat left center}
.postalfooter li:first-child{background:none}
/**/
.footer-bottom {background:#ffffff;}
.footer-bottom .footerbottom-content{padding:85px 108px; }
.footerbottom-lt h3{font-size:60px;font-family: 'robotobold';line-height:57px;text-transform:uppercase; margin-bottom: 40px; margin-top: 0}
.newsletter h3{font-size:20px;font-family: 'robotobold';margin:0px;}
.newsletter p{font-family: 'robotolight';padding-bottom:20px;color: #838689;}
.newsletter{padding:46px 0px 0 0px; overflow:hidden}

input[type=email],input[type=text],input[type=search]{
	float:left;height:56px;line-heihght:56px;border:0px;padding:0px 3%;border:1px solid #a6a6a6; font-style: italic;font-family: robotolight;
	color:#a1a1a1;width:80%;
}


input[type=submit]{width:19%;float:right;height:56px;line-heihght:56px;text-transform:uppercase;font-size:20px;font-family: 'robotobold';background:#1f1f1f;border:0px; padding:.6em 0; text-align:center;color:#ffffff;}

.partnaires_logo{padding:35px 78px 20px 115px; overflow:hidden;}
.partnaire_lt,partnaire_rt{vertical-align:middle}
.partnaire_lt img{margin-right:22px;}
.partnaire_rt{text-align:right;padding-top:25px;}
.partnaire_rt img{margin-left:20px; vertical-align:text-top; }
.footer {background: #2E2E2E;border-top: 5px solid #C52D2F;height: 84px;margin-top: 110px;}
.footer_left {padding: 10px;}
.section-footer {padding-top: 30px;padding-bottom: 30px;color: #b3b3b3;background: #1f1f1f;}
.section-footer a {color: #b3b3b3;font-size:14px;}
.section-footer a:hover {color: #c52d2f;}

#menu-footer { text-align: center; font-size: 14px;}

#menu-footer > li {position: relative;display: inline-block;padding-right: 40px; padding-left: 40px;}

#menu-footer > li::after{ position: absolute; top: 50%; right: 0; content: ""; display: block; width: 2px;  height: 10px; background: #b3b3b3; transform: translateY(-50%);}

#menu-footer > li:last-child{ padding-right: 0;}

#menu-footer > li:first-of-type::after,
#menu-footer > li:nth-last-of-type(2)::after {
  width: 1px;  height: 5px;  transform: translateY(-50%) rotate(90deg);
}

#menu-footer > li:last-child::after{  background:none;}

/*home page urgency*/


.homeurgency header, .homeurgency .navbar{background:#e5222f}
.homeurgency header .btnDonate{display:none}
.homeurgency .lang li a{color:#ffffff}
.homeurgency .langDrop .dropdown-menu li a{color:#9b9ea1}
.homeurgency .account li a{background:url(../images/icon-acc-urg.png) no-repeat left top;}
.homeurgency .account li .mail{background-position:right bottom}
.homeurgency .navbar-collapse nav{float:right}
.homeurgency .navbar-nav > li > a{color:#ffffff}
.homeurgency .navbar-nav > li:last-child > a{padding-right:0px;}
.main-banner {padding:0px;background:#e5222f; overflow:hidden}
.main-banner .item{height:610px;background-size:cover !important;} 
.main-banner .item .sliderCaption{padding-top:220px;text-align:center}
.main-banner h3, .main-banner .item .sliderCaption h4{color:#ffffff;font-family: 'robotolight';}
.main-banner .item .sliderCaption h1{font-size:75px;color:#ffffff}

.main-banner .item .sliderCaption h4{text-transform:lowercase}
.main-banner .item .sliderCaption h4::first-letter{text-transform:uppercase;}

.main-banner .item .sliderCaption h4:lang(de-DE) { 
   text-transform:inherit;
}

.main-banner .item .sliderCaption .nopart{display:block;font-size:32px;font-family: 'robotobold';color:#ffffff}
.main-banner .item .sliderCaption .pull-left{text-align:left}
.main-banner .item .sliderCaption .btnDonate{clear:both;margin:0px;display:inline-block;float:none;margin-bottom:25px;}
.main-banner .itemCaption{padding:25px 0px;text-align:center;color:#ffffff}
.main-banner .itemCaption p, .main-banner .itemCaption a, .main-banner .itemCaption span{color:#ffffff}
.main-banner .itemCaption h3{padding-bottom:25px;}
.main-banner p{color:#ffffff}
.main-banner .btn{clear:both;display:block;color:#ffffff;margin-bottom:30px;}
.news-banner{height:490px;}
.news-banner .item .sliderCaption{padding-top:150px;}

/*fundraising page*/

.status_bar{background:#f5f5f5;padding:0px}
.status_bar.sticky{position:fixed;top:110px;left:0;width:98%;z-index:30}

.secquote{background:#e5222f;text-align:center;padding:85px 0px}
.secquote blockquote{color:#ffffff;font-size:25px;line-height:30px;border:0px;}
.secquote em{color:#ffffff}

/**/


.section-solidarity.keyfigure{height:638px;}
.sec-testimonail .title{text-align:center}
.sec-testimonail h3{font-weight:normal; font-family: 'robotoregular';}
.sec-testimonail p{line-height:23px;}
.sec-testimonail figcaption{margin-top:20px;}



/*partnaire*/


.section-partners{background:#f5f5f5}
.section-partners ul{padding:0px;}
.section-partners ul li{margin-bottom:30px;}
.section-partners ul li img{max-width:100%}

/*progress bar*/
.status{vertical-align:middle;background:url(../images/icon-signal.png) no-repeat left 2px;}
.status span{padding:0px 0px 0px 27px;color:#000000}
.status_bar{padding:25px 0px;}
.progress{box-shadow:none;width:400px; overflow:visible;margin-top:10px;}
.progress:after{content:'';overflow:hidden;clear:both;display:block}
.progress .progress-bar{position:relative;box-shadow:none}
.progress-bar-urgence{background:#e5222f;-webkit-border-radius:4px 0px 0px 4px;border-radius:4px 0px 0px 4px;}
.progress-bar-reconstruction{background:#f1959b}
.progress-bar-consolidation{background:#f5d2d5;-webkit-border-radius:0px 4px 4px 0px;border-radius:0px 4px 4px 0px;}
.progress .active:after{content:'';position:absolute;width:36px;height:36px;right:-18px;top:-8px;-webkit-border-radius:100%;border-radius:100%;background:#e5222f;z-index:9}
.progress-bar-reconstruction.active:after{background:#f1959b}
.progress-bar-consolidation.active:after{background:#f5d2d5}
.status_bar .dateDisaster{background:url(../images/icon-cal.png) no-repeat left 2px;}
.status_bar .totalDonation{background:url(../images/icon-donate.png) no-repeat left top;}
.status_bar .dateDisaster span, .status_bar .totalDonation span{display:block;}
.status_bar .dateDisaster span.date, .status_bar .totalDonation span.amount{font-size:20px;text-transform:uppercase;line-height:18px;}
.status_bar .totalDonation span.amount strong{color:#e5222f}
.status_bar .dateDisaster span.itemhide, .status_bar .totalDonation span.itemhide{padding-left:28px;}
.status_bar.sticky .itemhide{display:none !important}
.status_bar.sticky{/*height:80px;*/}
.status_bar.sticky .progress, .status_bar .totalDonation span.amount, .status_bar .dateDisaster span.date {margin-left:28px;margin-top:0}

/*seconday slider*/
.secondary-slider{padding:0px;}
.secondary-slider .item{height:689px;background-size:conver !important;}
.section-news .features figure figcaption a.icon_news.icon_insta{background:url(../images/insta-bkg.png) no-repeat center center}
.no-padding-btm{;background:#ffffff}
.slider-twitter{position:relative;}
.slider-twitter{margin-top:90px;}
.slider-twitter .item{height:auto;background:#ffffff;padding:50px;}
.slider-twitter .item a.btn{color:#33ccff}
.slider-twitter figure figcaption{position:absolute;top:-36px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23;text-align:center}
.slider-twitter figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;font-size:30px}
.slider-twitter figure figcaption a  img{display:inline-block;}
.slider-twitter figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
.slider-twitter figure figcaption a.icon_news{background:#1f1f1f }
.slider-twitter figure figcaption a.icon_tw{background:#33ccff }

/**/
.fund_desc ul{padding-left:15px;padding-top:10px;}
.fund_desc ul li{list-style:outside disc;position:relative;padding-bottom:15px;}
.fund_desc .downloadlnk{padding-top:60px;}
.fund_desc .downloadlnk li{float:left;list-style:none}
.fund_desc .downloadlnk li a{color:#383f46}
.fund_desc .downloadlnk li a.icon-download{font-size:20px;display:block;}
.fund_desc .downloadlnk li a img{padding:0px 20px 0px 0px;}
a.share{text-decoration:underline;background:url(../images/icon-share.png) no-repeat right center;padding-right:30px;}
.fund_desc .downloadlnk li.pull-right{text-align:right}
.fund_desc h3{text-transform:uppercase;padding-bottom:25px;}
.fund_desc h4{ font-family: 'robotolight';}
.fund_desc figure{padding-top:25px;}

/*news page*/


.section-filter{background:#ffffff;padding:30px 0px;}
.section-filter h4{text-transform:uppercase;color:#838689}

.multiselect-native-select .caret{border:0px; border-bottom: 2px solid #e5222f;border-right: 2px solid #e5222f;height: 8px;margin-top: -4px;pointer-events: none;transform: rotate(45deg);
transform-origin: 66% 66% 0;transition: all 0.15s ease-in-out 0s;width: 8px;margin-left:5px;}
.multiselect-native-select .btn{border:0px;background:none;color:#1f1f1f}
.multiselect-native-select .btn-default:hover, .multiselect-native-select .btn-default:focus, .multiselect-native-select .btn-default:active, .multiselect-native-select .btn-default.active, .open .multiselect-native-select .dropdown-toggle.btn-default{background:none;box-shadow:none}
.multiselect-container{background:#ffffff;top:62px;-webkit-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;/*padding:30px 35px !important;*/left:-70px;}

.multiselect-container.dropdown-menu > .active > a, .multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > .active > a:focus{color:#e5222f;background:none} 
.multiselect-container > li{padding:9px 35px !important;font-size:16px;}
.multiselect-container li:first-child{padding-top:35px;}
.multiselect-container li:last-child{padding-bottom:35px !important;}
.multiselect-container li.active label{background:url(../images/icon-tick.png) no-repeat left center}
.multiselect-container > li > a > label{padding-left:35px;}
.multiselect-native-select .btn-group.open .dropdown-toggle{background:none;box-shadow:none;color:#e5222f}



/**/

.section-contact{/*background:#efefef*/}
.section-contact .address{background:#ffffff}
.section-contact .address address{padding:35px;}
.section-contact .address address a{color:#4e4e4e}

/*media page*/

.media-page {margin-top:0px;background:#f5f5f5}
.media-page .navbar{background:none}
.section-two-col{padding:0;}
.section-backlink{padding:35px 0px;background:#ffffff; font-family: robotomedium; font-size: 20px; text-transform: uppercase; color: #8b8c90; letter-spacing: 0.08em;}
.section-backlink a{color: #8b8c90;}
.section-backlink i{margin-right: 30px; font-size: 15px;}
.media-page .media-body{padding:0px 0px 40px 0px; overflow:visible}



.media-body .features .content-wrap p{line-height:23px;color:#67696b;padding-bottom:25px;}

.media-buttons{padding-bottom:15px;}
.media-buttons li{display:inline-block;margin-bottom:15px}
.media-buttons li a{position:static !important;color:#ffffff}


.media-body .more-media-btn{margin: 40px 0;}
.media-body .features{background:#ffffff;padding-bottom:15px; /*margin-bottom:30px;*/ }
.post-Listing{text-align:center; overflow: hidden;}
.postList{padding:0px 15px;/* -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;*/}
.postList .btn{clear:both;}
.postList li{padding:0px 7px;}
.postList .btn.rounded{display:block;max-width:205px;margin:0px auto}
.media-footer a.share{color:#414141}

.media-footer div.share_block{position: relative;}
.media-footer div.share_block .addthis_inline_share_toolbox,.media-footer div.share_block:hover .addthis_inline_share_toolbox{display: none;
 position: absolute; right: 15px;  top: 22px;   background: #fff;  padding: 13px 13px 12px; border: 1px solid #ddd;}

.media-footer div.share_block:hover .addthis_inline_share_toolbox{display: block;}


aside .widget:after{content:'';clear:both; overflow:hidden;display:block}
aside .widget{margin-bottom:45px;}
.widget_contact{background:#ffffff}
.widget_contact address{padding:35px 25px 35px;}
.section-two-col aside{padding-left:30px;}
.section-two-col aside h4{font-family: robotobold; margin-bottom: 20px;}
.widget ul{padding-left:0px;}
.widget_contact a, .widget_archive ul li .date{ color: #4e4e4e !important;}
.widget_archive ul li p{color:#838689}
.widget ul.social-share li a{margin-right:10px;}
.widget_tags li{display:inline-block;margin-right:5px;
margin-bottom:10px;}
.widget_tags li a{display:block;background:#ffffff;height:56px;line-height:56px;font-style:italic;color:#9a9a9a;padding:0px 15px; font-family: robotolight;}
.section-two-col aside .widget_social h4{color: #949494; margin-bottom: 5px;}
ul.grid li{ width: 47% !important; margin-bottom: 30px;}


.section-two-col .owl-dots{display: none !important;}
/* ul.grid li .features{padding-bottom: 0; min-height: inherit; margin-bottom: 0;}

/* Base for label styling */
.multiselect-container [type="checkbox"]:not(:checked),
.multiselect-container [type="checkbox"]:checked, .multiselect-container [type="radio"] {position: absolute;left: -9999px;}
.multiselect-container [type="checkbox"]:not(:checked) + label,
.multiselect-container [type="checkbox"]:checked + label {position: relative;padding-left: 25px;cursor: pointer;}
.form-control{-webkit-border-radius:0;border-radius:0;border-color:#a6a6a6;height:60px;line-height:60px;font-size:16px;color:#282222}
.form-group input{float:none;width:100%;border-width:1px;box-shadow:none;border-color:#a6a6a6}
textarea.form-control{line-height:22px;padding-top:20px;}
.form-control-sel {background: #ffffff url(../images/icon-arro-dn.png) no-repeat 98% 50%;}
.form-control-sel select {padding: 5px 8px;width: 100%;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.form-control-sel select:focus {outline: none;}
.newslettertick {line-height:30px;padding:15px 0px 0px 0px}
.contact-listing .features{min-height:570px;}
.contact-filter{}
.formsubj{text-align:center}
.formsubj h4{display:inline-block;color:#838689;text-transform:uppercase;padding-right:15px;}
.formsubj .form-control-sel{display:inline-block;min-width:254px;background-color:#f5f5f5;background-position:96% 50%}
.formsubj .form-control-sel .form-control{-webkit-border-radius:30px;border-radius:30px}
.formsubj .form-control-sel select{font-style:italic;color:#9a9a9a;}
.formsubj .form-control-sel select option{font-style:normal}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {position: absolute;left: -9999px;}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {position: relative;padding-left: 40px;cursor: pointer;}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {content: '';position: absolute;left:0; top: 2px;width: 28px; height: 28px;border: 1px solid #a6a6a6;background: #f8f8f8;border-radius: 0px;}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {content: '✔';position: absolute;top: 7px; left: 7px;font-size: 18px;line-height: 0.8;color: #a6a6a6;transition: all .2s;}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {opacity: 0;transform: scale(0);}
[type="checkbox"]:checked + label:after {opacity: 1;transform: scale(1);}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,[type="checkbox"]:disabled:checked + label:before {box-shadow: none;border-color: #bbb;background-color: #ddd;}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {color: #aaa;}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {border: 1px dotted blue;}

/* hover style just for information */
label:hover:before {border: 1px solid #4778d9!important;}



.panel-title .accordion-toggle{display:block}
.accordion-toggle {position: relative;
}
.accordion-toggle::before,
.accordion-toggle::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 22px;
  width: 14px;
  height: 4px;
  margin-top: -2px;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.accordion-toggle::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
}
.accordion-toggle.collapsed::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.accordion-toggle.collapsed::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.panel{-webkit-box-shadow:none;box-shadow:none;border:0px;broder-radius:0}
.panel-group .panel, .panel-default > .panel-heading{border-radius:0}
.accList li{clear:both; display:block; overflow:hidden;margin-bottom:60px;}


/**/

.section-news{padding-top:80px; padding-bottom:85px; }
.section-two-col{padding-top:80px; }

.section-news h3{padding-bottom: 35px;}

/**/

.section-accordion-conter .panel-title{text-align:center}
.section-accordion-conter .panel-title .accordion-toggle::before, .section-accordion-conter .panel-title .accordion-toggle::after{right:auto;left:50%}

/*buttons*/

.btn.rounded.black{background:#1f1f1f;border:1px solid #1f1f1f}
.btn.rounded.black:hover{background:#ffffff;color:#e5222f}
.btn.underline{text-decoration:underline;color:#e5222f}
.btn.underline:hover{text-decoration:none;}
.btn.underline.black{color:#414141}
.btn.underline.grey{color:#838689}

.btn.border.red{border-color:#e5222f;color:#e5222f}
.btn.border.red:hover{background:#e5222f;color:#ffffff}

/**/
/*figure caption*/

.pictoSocial{display:inline-block;margin-right:25px;}
.pictoSocial{text-align:center}
.pictoSocial a{display:block;border-radius:48px;width:48px;height:48px;margin:11px;background:#000000;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;font-size:25px}
.pictoSocial  img{display:inline-block;width:auto}


/**/

.noList li{list-style:inside decimal;color:#7f898d}
.DiscList li{list-style:inside disc;color:#7f898d}





/**/


.status_bar.sticky{top:0px;}
.slider-twitter{margin-bottom:45px;}


div.wpcf7-validation-errors {
  border: 1px solid #a57965 !important;
  background: #f5e6e7 !important;
}






