@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jvkygk');
    src:  url('../fonts/icomoon.eot?jvkygk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jvkygk') format('truetype'),
    url('../fonts/icomoon.woff?jvkygk') format('woff'),
    url('../fonts/icomoon.svg?jvkygk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-coins:before {
    content: "\e900";
}
.icon-days:before {
    content: "\e901";
}
.icon-folder:before {
    content: "\e902";
}
.icon-graphic:before {
    content: "\e903";
}
.icon-hands:before {
    content: "\e904";
}
.icon-man:before {
    content: "\e905";	
}
.icon-multiple-users-silhouette:before {
    content: "\e906";
}
.icon-piggy-bank:before {
    content: "\e907";
}

.icon-earth:before {
  content: "\e908";
}
.icon-handshake:before {
  content: "\e909";
}

/*.section-howworks .icon-man:before{
	font-size:205px;
}
*/	

