
::-moz-selection { /* Code for Firefox */
 color: #fff;
 background: #e5222f;
}
::selection {
	color: #fff;
	background: #e5222f;
}
a {
	color: #e5222f;
	text-decoration: none;
	transition: all 0.1s ease-in;
}
a:hover{
	color: #111;
	text-decoration: none;
	outline: none;
}

a:focus {
color: #e5222f;
text-decoration: none;
}

a:visited{color: #e5222f;}

p a:hover {
	text-decoration: none;
	color: #111;
}
/*************************
*******Typography******
**************************/

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),  url('../fonts/roboto-regular-webfont.woff') format('woff'),  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('../fonts/../fonts/roboto-medium-webfont.eot');
	src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-medium-webfont.woff2') format('woff2'),  url('../fonts/roboto-medium-webfont.woff') format('woff'),  url('../fonts/roboto-medium-webfont.ttf') format('truetype'),  url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-light-webfont.woff2') format('woff2'),  url('../fonts/roboto-light-webfont.woff') format('woff'),  url('../fonts/roboto-light-webfont.ttf') format('truetype'),  url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoitalic';
	src: url('../fonts/roboto-italic-webfont.eot');
	src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-italic-webfont.woff2') format('woff2'),  url('../fonts/roboto-italic-webfont.woff') format('woff'),  url('../fonts/roboto-italic-webfont.ttf') format('truetype'),  url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-bold-webfont.woff2') format('woff2'),  url('../fonts/roboto-bold-webfont.woff') format('woff'),  url('../fonts/roboto-bold-webfont.ttf') format('truetype'),  url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background: #ffffff;
	font-family: 'robotoregular';
	color: #4e4e4e;
	line-height: 22px;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	color: #1f1f1f;
	font-family: 'robotomedium';
	margin: 0 0 20px;
	padding: 0;
}
h1 {
	font-size: 60px;
	text-transform: uppercase;
	font-family: 'robotobold';
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 25px;
	color: #1f1f1f;
	line-height: 24px;
}
h4 {
	font-size: 20px;
}
h5, .h5 {
	font-size: 16px;
	color: #1f1f1f
}
ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
    list-style: outside disc;
    /*position: relative;*/
    padding-bottom: 10px;
    margin-left: 10px;
}
p {
	font-family: 'robotoregular';
	line-height: 23px;
}
label {
	font-weight: normal
}
hr {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
}
img {
	max-width: 100%
}
/*CSS FOR BANNER*/

.main-banner {
	padding: 0px;
	background: #e5222f;
	overflow: hidden
}
.main-banner .item {
	height: 610px;
	background-size: cover !important;
}
.main-banner .item .sliderCaption {
	padding-top: 220px;
	text-align: center
}
.main-banner h3, .main-banner .item .sliderCaption h4 {
	color: #ffffff;
	font-family: 'robotolight';
}
.main-banner .item .sliderCaption h1 {
	color: #ffffff
}
.main-banner .item .sliderCaption h4 {
	text-transform: lowercase
}
.main-banner .item .sliderCaption h4::first-letter {
	text-transform: uppercase;
}
.main-banner .item .sliderCaption h4:lang(de-DE) {
	text-transform: inherit;
}
/*CSS FOR Filter*/
.section-filter .btn{margin-top:0}

.section-filter {
	background: #ffffff !important;
	padding: 25px 0px;
}
.section-filter h4 {
	text-transform: uppercase;
	color: #838689;
	margin: 10px 0
}
.section-filter-mobile {
	padding: 0 !important;
}
.multiselect-native-select .caret {
	border: 0px;
	border-bottom: 2px solid #e5222f;
	border-right: 2px solid #e5222f;
	height: 8px;
	margin-top: -4px;
	pointer-events: none;
	transform: rotate(45deg);
	transform-origin: 66% 66% 0;
	transition: all 0.15s ease-in-out 0s;
	width: 8px;
	margin-left: 5px;
}
.multiselect-native-select .btn {
	border: 0px;
	background: none;
	color: #1f1f1f
}
.multiselect-native-select .btn-default:hover, .multiselect-native-select .btn-default:focus, .multiselect-native-select .btn-default:active, .multiselect-native-select .btn-default.active, .open .multiselect-native-select .dropdown-toggle.btn-default {
	background: none;
	box-shadow: none
}
.multiselect-container {
	background: #ffffff;
	top: 62px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	left: -70px;
}
.multiselect-container.dropdown-menu > .active > a, .multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > .active > a:focus {
	color: #e5222f;
	background: none
}
.multiselect-container > li {
	padding: 9px 35px !important;
	font-size: 16px;
}
.multiselect-container li:first-child {
	padding-top: 35px;
}
.multiselect-container li:last-child {
	padding-bottom: 35px !important;
}
.multiselect-container li.active label {
	background: url(../images/icon-tick.png) no-repeat left center
}
.multiselect-container > li > a > label {
	padding-left: 35px;
}
.multiselect-native-select .btn-group.open .dropdown-toggle {
	background: none;
	box-shadow: none;
	color: #e5222f
}
.multiselect-container [type="checkbox"]:not(:checked), .multiselect-container [type="checkbox"]:checked, .multiselect-container [type="radio"] {
	position: absolute;
	left: -9999px;
}
.multiselect-container [type="checkbox"]:not(:checked) + label, .multiselect-container [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}


/*CSs for Radio instead checkbox*/


/*CSS FOR FILTER MENU*/

.section-filter ul.filter_menu li{display:inline-block; margin-right:30px;}

.section-filter ul.filter_menu li input,
.section-filter ul.filter_menu li label{display:inline-block; vertical-align:middle; margin:0;}


/*CSS FOR radio*/

.section-filter input[type=radio] {
  display: none;
}

.section-filter input[type=radio] + label {
  padding-left: 20px;
  position: relative;
  line-height: 17px;
  cursor: pointer;
}

.section-filter label:hover:before{border:1px solid #e5222f !important;}

.section-filter input[type="radio"]:not(:checked) + label:before,
.section-filter input[type=radio]:checked + label:before{
  border:1px solid #e5222f;
  display:inline-block;
  width:11px;
  height:11px;
  content: "";
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  margin-left: -20px;
  position: absolute; 
  cursor: pointer; 
  border-radius:50%; 
  margin-top:3px; 
}

.section-filter input[type=radio]:checked + label:before {
  color: #a6a6a6;
  line-height: 25px;  background:#e5222f;
}

/*CSS FOR TWO-COLS*/
.section-two-col {
	padding: 80px 40px 40px;
	background: #f5f5f5;
}
.media-body .features {
	background: #ffffff;
	padding: 0 0 35px 0;
}
.center {
	text-align: center;
}
.media-body .features h1, .grid-item h1 {
	font-size: 35px;
}
.media-body .features h2, .grid-item h2 {
	font-size: 25px;
}
section .features figure {
	position: relative;
}
section .features figure img {
	width: 100%;
	max-width: none;
}
section .features figure figcaption {
	position: absolute;
	bottom: -45px;
	left: 50%;
	margin-left: -36px;
	background: #ffffff;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 72px;
	width: 72px;
	z-index: 23;
}
section .features figure figcaption a {
	display: block;
	border-radius: 48px;
	height: 48px;
	margin: 11px;
	background: #e5222f;
	font-family: 'robotobold';
	/*text-transform: uppercase;
    color: #ffffff;*/
	line-height: 48px;
}
section .features figure figcaption a img {
	display: inline-block;
	width: auto;
}
section .features .content-wrap {
	padding: 40px 22px 20px;
}
section .features .content-wrap .fundCollected {
	color: #e5222f;
	display: block;
	padding-bottom: 10px;
}
section .features .content-wrap h3 {
	font-family: 'robotoregular';
	line-height: 33px;
}
.btn {
	font-size: 16px;
	transition: all 0.2s ease-in;
	margin-top: 20px;
}
.btn.rounded {
	background: #e5222f;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'robotobold';
	text-align: center;
	height: 48px;
	line-height: 46px;
	padding: 0px 65px;
	border: 1px solid #e5222f;
}

.btn.rounded:hover{background: #ffffff; color:#e5222f;}


.btn.rounded.black {
	background: #1f1f1f;
	border-color: #1f1f1f;	
}

.btn.rounded.black:hover {
	background: #ffffff;
	color: #1f1f1f
}


.btn.underline {
	text-decoration: underline;
	color: #e5222f;
	margin-top: 20px;
	padding: 0;
}

.btn.underline:hover {
	text-decoration: none;
}

.btn.underline.black{color: #414141;}

.btn.underline.grey{color: #9b9ea1;}

.btn.border {
	-webkit-border-radius: 24px;
	border-radius: 24px;
	text-transform: uppercase;
	color: #9b9ea1;
	font-family: 'robotobold';
	text-align: center;
	/* min-width: 234px; */
	height: 48px;
	line-height: 48px;
	padding: 0px 65px;
	border: 1px solid #a6a6a6;
}

.btn.border:hover{ background:#a6a6a6;color:#fff;}

.btn.border.red{color: #e5222f;border: 1px solid #e5222f;}

.btn.border.red:hover{background: #e5222f;color:#fff;}
/*CSS FOR SLIDER TWITTER*/

.slider-twitter {
	position: relative;
	margin-top: 90px;
	margin-bottom: 45px;
}
.slider-twitter figure figcaption {
	position: absolute;
	top: -36px;
	left: 50%;
	margin-left: -36px;
	background: #ffffff;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 72px;
	width: 72px;
	z-index: 23;
	text-align: center;
}
.slider-twitter figure figcaption a.icon_tw {
	background: #33ccff;
}
.slider-twitter figure figcaption a {
	display: block;
	border-radius: 48px;
	height: 48px;
	margin: 11px;
	background: #e5222f /*url(../images/btn-donate.png) no-repeat center center*/;
	font-family: 'robotobold';
	text-transform: uppercase;
	color: #ffffff;
	line-height: 48px;
	font-size: 30px;
}
.secondary-slider {
	padding: 0px;
}
.slider-twitter .item {
	height: auto;
	background: #ffffff;
	padding: 50px;
}
.slider-twitter .item a.btn {
	color: #33ccff;
}
.post-Listing {
	text-align: center;
	overflow: hidden;
}
.postList {
	padding: 0px 15px;
}
ul.grid li {
	width: 47% !important;
	margin-bottom: 30px;
	padding: 0 7px;
}
ul.grid li h4 {
	font-size: 25px;
	font-family: 'robotoregular';
	line-height: 27px;
}
ul.grid li p {
	padding-bottom: 25px;
}
ul.grid li p {
	margin-bottom: 20px;
}
.mediaAll .more-media-btn {
	margin: 40px 0 0;
}
/************CSS FOR RIGHT SIDE**************/

.section-two-col aside {
	padding-left: 30px;
}
aside .widget {
	margin-bottom: 45px;
}
aside .widget:after {
	content: '';
	clear: both;
	overflow: hidden;
	display: block;
}
.widget_contact {
	background: #ffffff;
}
.widget_contact address {
	padding: 35px 25px 35px;
}
address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.428571429;
}
aside .widget_contact a, .widget_archive ul li a {
	color: #4e4e4e !important;
}
.section-two-col aside h4 {
	font-family: robotobold;
	margin-bottom: 20px;
}
input[type=email], input[type=password], input[type=text], input[type=search] {
	float: left;
	height: 56px;
	line-heihght: 56px;
	border: 0px;
	padding: 0px 3%;
	border: 1px solid #a6a6a6;
	font-style: italic;
	font-family: robotolight;
	color: #a1a1a1;
	width: 80%;
}
input[type=submit] {
	width: 19%;
	float: right;
	height: 56px;
	line-heihght: 56px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'robotobold';
	background: #1f1f1f;
	border: 0px;
	padding: .6em 0;
	text-align: center;
	color: #ffffff;
}
.widget ul {
	padding-left: 0px;
}
.widget_archive ul li p {
	color: #838689;
}
.widget_tags li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
}
.widget_tags li a {
	display: block;
	background: #ffffff;
	height: 56px;
	line-height: 56px;
	font-style: italic;
	color: #9a9a9a;
	padding: 0px 15px;
	font-family: robotolight;
}
.section-two-col aside .widget_social h4 {
	color: #949494;
	margin-bottom: 5px;
}
.social-share {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-share {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.social-share li {
	display: inline-block;
}
ul.social-share li a {
	display: inline-block;
	color: #9a9a9a;
	background: #ffffff;
	width: 49px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #acacac;
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}
ul.social-share li a:hover {
	color: #ffffff;
	border: none;
}
ul.social-share li.fb a:hover {
	background: #3b5998;
	border: 1px solid #3b5998;
}
ul.social-share li.tw a:hover {
	background: #1da1f2;
	border: 1px solid #1da1f2;
}
ul.social-share li.insta a:hover {
	background: #ec9e2f;
	border: 1px solid #ec9e2f;
}
ul.social-share li.youtube a:hover {
	background: #fe3432;
	border: 1px solid #fe3432;
}
ul.social-share li.pint a:hover {
	background: #0077b5;
	border: 1px solid #0077b5;
}
ul.social-share li:last-child a {
	margin-right: 0px;
}
/************CSS FOR Footer**************/

.section-footerbottom {
	background: #f5f5f5;
	padding: 0px;
}
.postal-account {
	text-align: center;
	position: relative;
}
.postal-account .postal-content {
	padding: 15px 0 35px;
	background: #e5222f;
	/*height: 130px;*/
	color: #ffffff;
	/*height:5px;*/
}

.postal-content .postalfooter {
	text-align: center;
}

.postal-account .postal-content h3 {
	font-size: 25px;
	color: #ffffff;
	font-family: 'robotobold';
	padding: 15px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
}
.postal-account .postal-content p {
	padding: 0;
	margin: 0;
}
.postalfooter {
	padding: 5px 0px 0px 0px;
}
.postalfooter li {
	display: inline-block;
	padding: 0px 33px 0px 35px;
	background: url(../images/postal-sep.png) no-repeat left center;
}
.postalfooter li:first-child {
	background: none;
}


.footer-bottom {
	background: #ffffff;
	box-shadow:0 5px 0px #e5222f inset,0 -5px 0px #e5222f;
	-moz-box-shadow:0 5px 0px #e5222f inset,0 -5px 0px #e5222f;
	-webkit-box-shadow:0 5px 0px #e5222f inset,0 -5px 0px #e5222f;
}
.footer-bottom .footerbottom-content {
	padding: 85px 108px;
}
.footerbottom-lt h3 {
	font-size: 60px;
	font-family: 'robotobold';
	line-height: 57px;
	text-transform: uppercase;
	margin-bottom: 40px;
	margin-top: 0;
}
.newsletter {
	padding: 46px 0px 0 0px;
	overflow: hidden;
}
.newsletter h3 {
	font-size: 20px;
	font-family: 'robotobold';
	margin: 0px;
}
.newsletter p {
	font-family: 'robotolight';
	padding-bottom: 20px;
	color: #838689;
}
.icon_fund {
	position: absolute;
	width: 44px;
	height: 44px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: #ffffff;
	left: 50%;
	margin-left: -22px;
	top: -20px;
	text-align: center;
	line-height: 44px;
}
.partnaires_logo {
	padding: 35px 78px 20px 115px;
	overflow: hidden;
}
.footer {
	background: #2E2E2E;
	border-top: 5px solid #C52D2F;
	height: 84px;
	margin-top: 110px;
}
.footer_left {
	padding: 10px;
}
.section-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #b3b3b3;
	background: #1f1f1f;
}
.section-footer a {
	color: #b3b3b3;
	font-size: 14px;
}
.section-footer a:hover {
	color: #c52d2f;
}
#menu-footer {
	text-align: center;
	font-size: 14px;
}
#menu-footer > li {
	position: relative;
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
}
#menu-footer > li::after {
	position: absolute;
	top: 50%;
	right: 0;
	content: "";
	display: block;
	width: 2px;
	height: 10px;
	background: #b3b3b3;
	transform: translateY(-50%);
}
#menu-footer > li:last-child {
	padding-right: 0;
}
#menu-footer > li:first-of-type::after, #menu-footer > li:nth-last-of-type(2)::after {
	width: 1px;
	height: 5px;
	transform: translateY(-50%) rotate(90deg);
}
#menu-footer > li:last-child::after {
	background: none;
}
/*CSS FOR PARTNER DETAIL*/

.section-backlink {
	padding: 35px 0px;
	background: #ffffff;
	font-family: robotomedium;
	font-size: 20px;
	text-transform: uppercase;
	color: #8b8c90;
	letter-spacing: 0.08em;
}
.section-backlink i {
	margin-right: 30px;
	font-size: 15px;
}
.section-backlink a {
	color: #8b8c90;
}
/*CSS FOR Share block on detail-page*/

section .features {
	position: relative;
	/* overflow: hidden; */
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	min-height: 483px;
}
.media-page .media-body {
	padding: 0px 0px 40px 0px;
	overflow: visible;
}
div.share_block {
	position: relative;
}
div.share_block a.share {
	text-decoration: underline;
	background: url(../images/icon-share.png) no-repeat right center;
	padding-right: 30px;
	color: #414141;
	float: right;
}
div.share_block .addthis_inline_share_toolbox, div.share_block:hover .addthis_inline_share_toolbox {
	display: none;
	position: absolute;
	right: 0;
	top: 22px;
	background: #fff;
	padding: 13px 13px 12px;
	border: 1px solid #ddd;
}
div.share_block:hover .addthis_inline_share_toolbox {
	display: block;
}
.media-body .features .content-wrap p {
	line-height: 23px;
	color: #67696b;
	padding-bottom: 25px;
}
/*******CSS FOR header partner******/

.header-left, .header-right {
	display: inline-block;
	vertical-align: middle;
	float: none !important;
	width: 25%;
}
.header-right {
	width: 74%;
}
.dropdown-menu {
	margin-top: -1px;
	min-width: 150px;
	nprder: 0px;
	background: #f5f5f5;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	border: 0px;
}
.navbar-right .dropdown-menu.megamenu {
	right: 0 !important;/*display:block !important;*/
}
.navbar-right .dropdown-menu.megamenu a:hover {
	text-decoration: none;
}
/*************************
*******Header******
**************************/

#header {
	background: #ffffff;
}
header.sticky, .section-filter.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1001;
}
/*header.sticky{height:110px;}*/
.section-filter.sticky {
	z-index: 1100 !important;
	animation: fadeIn 0.2s both;
	padding: 10px 0 !important;
}
.fund-status.sticky {
	animation: fadeIn 0.1s both
}

/*fundraising page*/
.status_bar {
	background: #f5f5f5;
	padding: 0px
}
.status_bar.sticky {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 40px 0;
}
.secFil-present.sticky {
	top: 108px;
}
.status_bar.sticky .totalDonation {
	padding-left: 28px;
}
.section-filter .panel-body ul li {
	list-style: none;
}
/*#header  .navbar{ -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
#header.sticky .navbar{padding:10px 0px}
.media-page #header{position:absolute;height:auto}*/

.navbar-right {
	position: static
}
.navbar>.container .navbar-brand {
	margin-left: 0;
	margin-top: 0;
	cursor:default;
}
.navbar-brand img {
	max-width: none
}
.top-bar {
	padding: 39px 0 0;
}
.top-number {
	color: #fff;
}
.top-number p {
	margin: 0
}
.navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 10px 0 0;
	border: 0px;/*background:#ffffff*/
}
.navbar-nav {
}
.navbar-nav > li {
	margin-left: 10px;
}
.navbar-nav > li > a {
	color: #1f1f1f;
	text-transform: uppercase;
	font-size: 15px;
	padding: 40px 10px 22px 10px;
	position: relative;
	font-family: robotomedium;
}
.navbar-nav > li:hover > a {
	color: #a1a4a7;
	background: none
}
.navbar-nav > li:hover > a:after {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 30px;
	height: 15px;
	background: #f5f5f5;
	left: 50%;
	margin-left: -15px;
	border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	-webkit-border-radius: 30px 30px 0 0;
}

.nav>li>a:hover, .nav>li>a:focus{ background:none;}

/*.dropdown-menu {font-family: FontAwesome} */
.dropdown-menu a {
	display: block;
	color: #1f1f1f;
}
.dropdown-menu figure {
	text-align: center
}
.dropdown-menu figure img {
	margin-bottom: 20px;
}
.dropdown-menu figure figcaption h3 {
	font-size: 24px;
	font-family: 'robotolight';
}
.dropdown-menu .subMenu {
	list-style: none;
	padding-left: 0px;
}
.dropdown-menu .subMenu span a.menu-link {
	border-top: 1px solid #a6a6a6;
	padding: 20px 0;
}
.dropdown-menu .subMenu span:first-child a.menu-link {
	border: 0px;
	padding-top: 0px;
}
.dropdown-menu .subMenu span a.menu-link {
	font-family: 'robotolight';
	font-size: 20px;
	color: #1f1f1f
}
.dropdown-menu .subMenu span a.menu-link:hover, .dropdown-menu .subMenu span a.menu-link.active {
	color: #a1a4a7
}
.navbar-toggle .icon-bar {
	background: #1f1f1f;
	width: 38px;
	height: 5px;
}
.navbar-toggle {
	margin-right: 184px;
}
/*************************
*******Home Page******
**************************/
.nav-tabs {
	border-bottom: 1px solid #b7bdbf
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	background: #f5f5f5;
}
.nav-tabs>li>a {
	line-height: 1.428571429;
	font-size: 25px;
	padding: 10PX 60PX;
	color: #67696b;
	border: 1px solid #b7bdbf;
	border-right: none;
	border-top-color: transparent
}
.nav-tabs>li.active:last-of-type>a {
	border-right: 1px solid #b7bdbf;
}
.nav-tabs>li>a:hover {
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff;
	border-bottom-color: transparent;
	border-top-color: #b7bdbf;
}
/*.nav-tabs>li:last-of-type>a{border-right-color: none}*/


.nav-tabs>li:first-child.active>a, .nav-tabs>li:first-child.active>a:hover, .nav-tabs>li:first-child.active>a:focus {
	border-left-color: transparent;
}
.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0
}
.nav-tabs.nav-justified>li {
	float: none
}
.nav-tabs.nav-justified>li>a {
	margin-bottom: 5px;
	text-align: center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto
}
.navbar-collapse nav {
	float: left
}
.btnDonate, a.btnDonate:active, a.btnDonate:visited, a.btnDonate:focus {
	height: 43px;
	line-height: 41px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	letter-spacing: 0.05em;
	background: #e5222f url(../images/btn-donate.svg) no-repeat 25px center;
	font-family: 'robotobold';
	text-transform: uppercase;
	color: #ffffff;
	padding: 0px 25px 0px 50px;
	float: right;
	display: block;
	margin-top: -62px;
	border: 1px solid #e5222f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a.btnDonate:hover {
	background: #ffffff url(../images/btn-donate-r.svg) no-repeat 25px center;
	color: #e5222f !important;
}
.accRt {
	float: right
}
.account, .lang {
	float: left;
	padding: 0
}
.account li, .lang li {
	float: left;
	list-style: none;
	color: #9b9ea1
}
.lang li a {
	color: #9b9ea1
}
.account li {	
	position: relative;
	line-height: 16px;
}

.account li a.acc {
	background: url(../images/icon-acc.svg) no-repeat left top;
	display: block
}
.dropdown-menu li a {
	background: none;
	color: #9b9ea1;
}
.dropdown-menu {
	list-style: none;
}
.dropdown-menu li {
	list-style: none;
	margin-left: 0px;
}
.account li .acc,.account li .logout {
	width: 15px;
	height: 17px;
	background-position: left bottom;
	padding-left: 20px;
	color: #9b9ea1;
	font-size:15px;
}
.account li .mail {
	width: 21px;
	height: 17px;
	background-position: right bottom
}
.lang {
	position: relative
}
.langDrop .btn {
	background: none;
	padding: 0px;
	color: #9b9ea1
}
.lang .dropdown-menu li {
	display: block;
	float: none;
	margin-left: 0
}
.lang .dropdown-menu {
	left: 0;
	right: auto;
	min-width: inherit;
}
.account .dropdown-menu li {
	text-align: right;
	width: 100%;
}
.account .dropdown-menu, .lang .dropdown-menu {
	top: 110%;
}
/*mega menu*/
.navbar-collapse {
	padding: 0px;
}
.navbar-default {
	color: #fff;
	background-color: #ccc6c6;
	border-color: #aca1a2;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-brand {
	color: #fff;
}
/*.menu-large {position: static !important;}*/
.megamenu {
	padding: 50px 0px 40px 0;
	width: 100%;
}
.megamenu> li > ul {
	padding: 0;
	margin: 0;
}
.megamenu> li > ul > li {
	list-style: none;
}
.megamenu> li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	color: #999999;
}
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.megamenu.dropdown-header {
	color: #428bca;
	font-size: 18px;
}
/**********
*******CSS FOR CMS PAGE*************
*************/
/*CSS FOR CMS Section*/
section.secquote, 
section.section-accrodion,
section.section-tabs, 
section.section-contact, 
section.section-imagetext, 
section.section-simple-text, 
section.sec-testimonail, 
section.fund_desc, 
section.section-news {
	padding: 60px 0;
}
.title h3 {
	padding-bottom: 20px !important;
	color: #1f1f1f !important;
	font-size: 24px !important;
	line-height: 24px !important;
	font-family: 'robotoregular' !important;
}


/*//////////////////////////CSS FOR GALLERY/////////////////////////////*/
section.photo-gallery-section .sp-caption-container {
	margin-top: 0;
	padding: 10px 0;
	height: 40px;
}


/*//////////////////////CSS FOR QUOTE///////////////*/
.secquote {
	background: #e5222f;
	text-align: center;
}
.quote-bg-red {
	background: #e5222f;
	text-align: center;
	padding: 60px 0px;
	color: #fff;
}
.quote-bg-grey {
	background: #f5f5f5;
}
.quote-bg-white {
	background: #fff;
}
 @media (min-width: 769px) {
	.secquote .quote_left, .secquote .quote-right {
		display: inline-block;
		vertical-align: middle;
	}
	.secquote .quote_left {
		width: 30%;
		margin-right: 7%;
	}
	.secquote .quote-right, .secquote .col-md-12 {
		width: 62%;
		text-align: left;
		font-size: 25px;
		line-height: 30px;
	}
	.secquote .col-md-12 {
		width: 100% !important;
		text-align: center;
	}
	
}

.secquote blockquote {
		margin: 0
}
.secquote .quote-right em, .secquote .col-md-12 em {
	font-style: italic;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
}

/*///////////////////////////CSS FOR html free area/////////////////////*/
.section-htmlfree {
	overflow: hidden;
	padding: 85px 0;
}
.section-htmlfree figure {
	position: relative;	
	text-align: center;	
}

@media (min-width: 993px) {
 .section-htmlfree figure {
	 height: 370px;
	 background: #ddd;
	 text-align:center;
 }
}

.section-htmlfree figcaption {
	position: absolute;
	right: 0;
	bottom: 22px;
	left: 0;
	text-align: center
}
.section-htmlfree figcaption a {
	position: relative;
	top: 85%;
	width: 100%;
	text-align: center;
	color: #ffffff !important
}
@media (min-width: 993px) {
	.section-htmlfree a.btn.underline {
		background: none !important;
	}
}

.section-htmlfree figcaption span.video {
	display: block;
	height: 105px;
	background: url(../images/icon-video-play.png) no-repeat center center;
	margin-bottom: 50px;
}

.section-htmlfree figcaption a.video span {
	position: relative;
	top: 87%;
	width: 100%;
	text-align: center;
	color: #ffffff !important
}


/*//////////////////CSS FOR VIDEO ///////////////////////*/

.section-video-cms {
	padding: 150px 0;
	background-size: cover !important;
	background-color:#9a9fa2 !important;
}
.section-video-cms h1 {
	color: #fff;
	margin: 0;
}
.embed-responsive {
	height: 220px;
}
.section-video-cms .play_btn {
	width: 107px;
	height: 107px;
	display: inline-block;
	background: url(../images/play.png) no-repeat center center;
	position: relative;
	text-align: center;
	margin-top: 40px;
}
.section-video-cms .play_btn span {
	font-size: 16px;
	position: absolute;
	bottom: -54px;
	width: 200%;
	left: -50%;
	color: #ffffff;
	text-decoration: underline;
	transform: scale(1.3);
}


/*///////////CSS FOR Small ACCORDIANS////////////*/

.section-accrodion h2{font-family:robotoregular;font-size:28px;}
.section-accrodion h3{font-family:robotolight; font-size:20px;}


.section-accrodion .accordion-two-col {
	margin: 20px 0 40px;
}
.section-accrodion .accordion-two-col img {
	width: 100%;
}
.section-accrodion .panel-default>.panel-heading+.panel-collapse .panel-body {
	padding: 10px 25px 15px;
}
.section-accrodion .panel-group .panel, .panel-default > .panel-heading {
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-default > .panel-heading > h4 > a {
	padding-right: 34px;
}
.panel-title .accordion-toggle {
	display: block;
}

/*CSS FOR Small ACCORDIANS right icons*/
.section-filter .accordion-toggle, .section-accrodion .accordion-toggle {
	position: relative;
}
.section-filter .accordion-toggle::before, .section-filter .accordion-toggle::after, .section-accrodion .accordion-toggle::before, .section-accrodion .accordion-toggle::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 22px;
	width: 14px;
	height: 2px;
	margin-top: -2px;
	background-color: #000;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.section-filter .accordion-toggle::before, .section-accrodion .accordion-toggle::before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	opacity: 0;
}
.section-filter .accordion-toggle.collapsed::before, .section-accrodion .accordion-toggle.collapsed::before {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	opacity: 1;
}
.section-filter .accordion-toggle.collapsed::after, .section-accrodion .accordion-toggle.collapsed::after {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}


/*//////////////////CSS FOR Big Expandable Area//////////////*/

.section-accordion-conter .center h2 {
	margin-top: 0;
	line-height: 22px;
}
.section-accordion-conter .center h3 {
	margin-bottom: 60px;
	line-height: 16px;
}
.section-accordion-conter .panel-default>.panel-heading+.panel-collapse .panel-body {
	background: none;
	border-top: none;
	padding-top:0;
}
.section-accordion-conter .panel {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0px;
	broder-radius: 0
}
.section-accordion-conter .panel-group .panel, .panel-default > .panel-heading {
	border-radius: 0;
	-moz-border-radius: 0;
}
.section-accordion-conter .panel-title {
	text-align: center;/*font-size:32px; font-family: robotomedium;padding: 50px 0 70px 0;*/
}
.section-accordion-conter .panel-default > .panel-heading > h4 > a {
	padding-right: 34px;
}
.section-accordion-conter .panel-title .accordion-toggle {
	display: block;
	position: relative;
}
.section-accordion-conter .panel-title span {
	display: block;
	text-align: center;
	font-size: 18px;
	padding-top: 25px;
}
/*.section-accordion-conter .panel-title .accordion-toggle::before, 
.section-accordion-conter .panel-title .accordion-toggle::after{
	position:absolute;
    right:auto;
	left:49.5%;
	top:auto;
	bottom:-30px;
}*/
.section-accordion-conter .accordion-toggle span {
	opacity: 0.3;
}
.section-accordion-conter .accordion-toggle.collapsed span {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	opacity: 1;
}
.section-accordion-conter .panel-body i {
	font-size: 18px;
}
.section-accordion-conter .panel-body .panel-title {
	padding-top: 20px;
}
.section-accordion-conter .panel-body .col-lg-4 img {
	width: 375px;
	height: 236px;
}
table {
	width: 100% !important;
}
table tr>td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 16px 25px;
}
table tr>td:last-child {
	border-right: none;
}
table tr>td:first-child {
	padding-left: 0;
}
table tr:last-child>td {
	border-bottom: none;
}
table tr:first-child>td {
	font-weight: bold
}


/*///////////////////CSS FOR TAB///////////////*/
.nav-tabs {
	border-bottom: 1px solid #b7bdbf;
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	background: #f5f5f5;
}
.nav-tabs>li:first-child.active>a, .nav-tabs>li:first-child.active>a:hover, .nav-tabs>li:first-child.active>a:focus {
	border-left-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff;
	border-bottom-color: transparent;
	border-top-color: #b7bdbf;
}
.nav-tabs>li>a {
	line-height: 1.428571429;
	font-size: 25px;
	padding: 10PX 60PX;
	color: #67696b;
	border: 1px solid #b7bdbf;
	border-right: none;
	border-top-color: transparent;
}
.tab-content>.tab-pane {
	padding: 50px 0 0;
}



/*////////////////////CSS FOR Keyfigure///////////////////*/
section.keyfigure {
	/*height: 675px !important;*/ 
	padding: 128px 0 138px;
	background-size: cover !important;
	color: #fff;
	background-color:#9a9fa2 !important;
	position: relative;
	text-align: center;
}
.copyright {
	color: #fff;
	text-align: right;
	padding: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 13px;
	line-height: 10px;
}
.keyfigure h4 {
	color: #ffffff;
	font-family: robotolight;
	font-size: 32px;
	letter-spacing: 0.01em;
	font-weight: 900;
}
.keyfigure h2 {
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	font-family: 'robotobold';
	font-size: 60px;
	text-transform: uppercase;
	margin-top: 0;
}
.keyfigure .partners {
	padding-top: 85px;
}
.keyfigure i {
	font-size: 62px;
}


/*/////////////////CSS FOR CONTACT//////////////////*/
section.section-contact {
	padding: 80px 0 50px; /*80px-margin-bottom:30px= 50px*/
}
.section-contact figure {
	text-align: center;
}
 @media (min-width: 993px) {
	.section-contact figure {
		height: 260px;
	}
	.section-contact figure img {
		height: 100%;
	}
}
.section-contact .address {
	background: #ffffff;margin-bottom: 30px;
}
.section-contact .address address {	
	min-height: 140px;
	padding: 35px 35px 25px;
}


/*////////////CSS FOR CMS Simple text////////////*/

.section-simple-text ul li {
	position: relative;
	margin-left: 20px;
	list-style: none;
}
.section-simple-text ul li:before {
	content: '.';
	font-size: 37px;
	position: absolute;
	top: 0px;
	margin-left: -25px;
	font-family: monospace;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	line-height: 6px;
}
section.section-simple-text ol {
	counter-reset: section;
	list-style-type: none;
	margin: 0 0 0;
	padding: 0;
}
section.section-simple-text ol li strong, section.section-simple-text ol li h4, section.section-simple-text ol li h3 {
	display: inline-block;
	vertical-align: text-top;
	width: 92%;
	margin: 0 0 15px 0;
}

@media (max-width: 1110px) {
	section.section-simple-text ol li strong,  
	section.section-simple-text ol li h4,  
	section.section-simple-text ol li h3 {
		width: 89%;
	}
}
section.section-simple-text ol li h4, section.section-simple-text ol li h3, section.section-simple-text ol li br {
	margin: 0 0 10px 0;
}
section.section-simple-text ol>li::before {
	counter-increment: section;
	content: counters(section, ".") ".";
	display: inline-block;
	vertical-align: text-top;
	margin-right: 5px;
}
section.section-simple-text ol>li>ol>li>ol>li>ol>li {
	margin-bottom: 15px;
}
section.section-simple-text ol>li>ol>li>ol>li>ol>li>ol> {
	counter-reset: subsection;
	list-style-type: none;
	position: relative;
	padding-left: 30px;
}
section.section-simple-text ol>li>ol>li>ol>li>ol>li>ol>li::before {
	counter-increment: subsection;
	content: counters(subsection, ".") ".";
	position: absolute;
	margin-left: -30px;
}


.section-simple-text ul li,.fund_desc ul li{position:relative;margin-left:20px; list-style:none;}

.section-simple-text ul li:before,.fund_desc ul li:before{
	content: '.';
    font-size: 37px;
    position: absolute;
    top: 0px;
    margin-left: -25px;
    font-family: monospace;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 6px;
}



/*/////////////////////////CSS FOR CMS Image text///////////////////////////////////*/
.section-imagetext img {
	width: 100%;
}

.section-imagetext img{
	margin-bottom: 20px;
}
.section-imagetext .col-md-4 {
	text-align: center
}
.section-imagetext h2, .fund_desc h2, .section-simple-text h2 {
	font-size: 28px;
	font-family: robotoregular;
}
.section-imagetext h3, .fund_desc h3, .section-simple-text h3 {
	font-family: robotolight;
	font-size: 20px;
	margin-bottom:10px;
}
.section-imagetext h5 {
	text-transform: uppercase;
	font-family: 'robotoregular' !important;
}


/*/////////////CSS FOR CMS Fund Description/////////////*/

section.fund_desc figure img {
	width: 100%;
	margin-bottom: 30px;
}
a.download {
	background: url(../images/icon-download.png) 0 20% no-repeat;
	font-family: robotomedium;
	padding: 15px 0 15px 70px;
	font-size: 20px;
	color: #333;
	display: inline-block;
}



/*/////////////CSS FOR CMS Testimonial/////////////*/

.sec-testimonail img{margin-bottom:20px}

@media (min-width: 993px) {
	.sec-testimonail .col-md-6:first-child{padding-right:50px;}
	
	.sec-testimonail .col-md-6:last-child{padding-left:50px;}
}

/*////////////////CSS FOR CMS Partner/////////////////*/
.section-partners {
	padding: 60px 0 30px;
}
.section-partners li {
	margin-bottom: 30px;
}
.section-partners li span.partners-section-block {
	display: block;
	background: #fff;
}
.section-partners li img {
	width: auto;
	height: 120px;
}


/*////////////////////////CSS FOR CMS News////////////////*/

.section-news.contact-list .features figure img{width:auto;max-width: 100%;}

div.grid-item .features .media-footer {
	padding-bottom: 20px;
}

section .features figure figcaption span {
	display: block;
	border-radius: 48px;
	height: 48px;
	margin: 11px;
	background: #1f1f1f /*url(../images/btn-donate.png) no-repeat center center*/;
	font-family: 'robotobold';
	text-transform: uppercase;
	color: #ffffff;
	line-height: 48px;
}

section .features figure figcaption span img {
	width: auto;
}



/*/////////////////////Progress Bar/////////////////////////////*/
.status {
	vertical-align: middle;
	background: url(../images/icon-signal.png) no-repeat left 2px;
	margin-top: 8px;
}
.status span {
	padding: 0px 0px 0px 27px;
	color: #000000
}
.status_bar {
	padding: 25px 0px;
}
.fund-status {
	font-family: 'robotomedium';
	color: #1f1f1f;
}
.progress {
	box-shadow: none;
	width: 400px;
	overflow: visible;
	margin-top: 10px;
}
.progress:after {
	content: '';
	overflow: hidden;
	clear: both;
	display: block
}
.progress .progress-bar {
	position: relative;
	box-shadow: none
}
.progress-bar-urgence {
	background: #e5222f;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.progress-bar-reconstruction {
	background: #f1959b
}
.progress-bar-consolidation {
	background: #f5d2d5;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
.progress .active:after {
	content: '';
	position: absolute;
	width: 36px;
	height: 36px;
	right: -18px;
	top: -8px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: #e5222f;
	z-index: 9
}

.progress-bar-reconstruction.active:after {
	background: #f1959b
}

.progress-bar-consolidation.active:after {
	background: #f5d2d5
}

@media (max-width:414px) {
	.progress .active:after {
		right: -23px;
		top: -6px;
		width: 30px;
		height: 30px;
	}
}


/*/////////////Status Bar///////////////////////*/
.status_bar .dateDisaster, .status_bar .totalDonation {
	position: relative;
	margin-top: 10px;
}
.status_bar .dateDisaster:before, .status_bar .totalDonation:before {
	content: "\e907";
	font-family: 'icomoon' !important;
	position: absolute;
	top: -4px;
	font-size: 20px;
	font-weight: bold;
}
.status_bar .dateDisaster:before {
	content: "\e901";
	font-weight: normal;
	font-size: 18px;
}
.status_bar .totalDonation:before {
	left: -13px;
	font-weight: bold;
}
.status_bar .dateDisaster span, .status_bar .totalDonation span {
	display: block;
}
.status_bar .dateDisaster span.date, .status_bar .totalDonation span.amount {
	font-size: 20px;/*text-transform:uppercase;*/
	line-height: 18px;
}
.status_bar .totalDonation span.amount strong {
	color: #e5222f
}
.status_bar .dateDisaster span:first-child, .status_bar .totalDonation span:first-child {
	padding-left: 28px;
}
.status_bar.sticky .progress, .status_bar .totalDonation span.amount, .status_bar .dateDisaster span.date {
	margin-top: 10px;
}
.status_bar.sticky .progress {
	margin-bottom: 0
}
.status_bar.sticky .itemhide {
	display: none !important
}
.sticky .status_bar.sticky {
	margin-top: 0 !important;
}
.sticky .middle-status-fund {
	padding: 0 0 0 122px;
}
.status_bar.sticky .dateDisaster span:last-child, .status_bar.sticky .totalDonation span:last-child {
	padding-left: 28px;
}
/*.status_bar.sticky .totalDonation {
	margin-top: 0;  http://prnt.sc/enuq1l
}*/
.secFil-present.sticky {
	top: 111px;
}

/*///////////////////////CSS FOR NEWS DROPDOWN////////////////////*/
.section-filter ul.filter-dropdown {
	margin-top: 10px;
	padding-left: 0;
}
.section-filter ul.filter-dropdown>li {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding-right: 20px;
}

.section-filter ul.filter-dropdown>li>a {
	color: #1f1f1f
}
.section-filter ul>li>a>i {
	color: #e5222f;
	position: absolute;
	right: 0;
	top: 3px;
	font-size: 18px;
	font-weight: bold;
}
.section-filter ul.filter-dropdown>li>ul>li {
	padding: 10px 0 0; font-size:16px;
}
.section-filter .dropdown-menu {
	background: #fff;
	top: 28px;
	border-radius: 0px 0px 5px 5px;
}
.section-filter .current-menu-parent .main-menu-link {
	color: #e5222f;
}
/*added by karun*/
.section-filter button.multiselect.dropdown-toggle.btn.btn-default.active {
	color: #e5222f;
}


/*/////////////////////////CSS FOR login Page//////////////////////*/
body.page-template-login-template{
	/*background-image: url(../images/login-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;   
    background-size: cover;
   
	background-attachment: fixed;*/ 
	background-color: #464646;
}

body.page-template-login-template .top-bar {
	padding: 30px 0 0;
}


.navbar-right .dropdown-menu{right:0 !important;}


span.logout{text-transform:uppercase; margin-right:5px;}

.fa-sign-out:before{font-size:19px; line-height:21px;}

.page-template-login-template .navbar{padding:10px 0;}

/*.page-template-login-template .section-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

.section-login {
	background-image: url(../images/login-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;   
    background-size: cover;
	
	padding: 83px 0 130px;	
	color:#fff;
	padding: 150px 0 200px;
}

.align-center {
	margin: auto;
	width:500px;
}

.section-login h1{color:#fff;margin-bottom:70px;}

.section-login #login_error{ color:#e5222f; margin-bottom:30px;}

.section-login #login_error a{margin-top:10px; display:block;}

.section-login input[type=password], .section-login input[type=text] {
	float: none;
	border: 1px solid #777470;
	width: 100%;
	background:rgba(255,255,255,0.6);
	color:#fff;	
}

.section-login input[type=text]:focus{outline:none; box-shadow:none;}
.section-login p {
	margin-bottom: 20px;
}
.section-login a {
	color: #fff;
	text-decoration: underline;
}
.section-login a:hover{text-decoration:none;}

.section-login p.login-submit {width: 30%;}

.section-login input[type=submit] {float:left;
	width: auto;padding:0 64px; background:#e5222f;border-radius:20px; height:48px; font-size:15px; letter-spacing:0.01em; font-family:'robotoregular';
}
.section-login input:-webkit-autofill, .section-login input:-webkit-autofill:focus, .section-login input:-webkit-autofill:hover {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.section-login ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,1);
}
.section-login :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.section-login :-moz-placeholder { /* Firefox 18- */
  color: white;
}





span.login-remember,span.forgot-pass{display:inline-block; width:49%;}

span.forgot-pass{text-align:right;width:50%;}

/*CSS FOR contact*/

input[type=checkbox] {
  display: none;
 
}

input[type=checkbox] + label {
  padding-left: 40px;
  position: relative;
  line-height: 27px;
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label:before,
input[type=checkbox]:checked + label:before{
  border:1px solid #777470;
  display:inline-block; 
  background:rgba(255,255,255,0.6);
  width:28px;
  height:28px;
  content: "\2713";
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  margin-left: -40px;
  position: absolute; 
  cursor: pointer;   
}

input[type=checkbox]:checked + label:before {
  color: #a6a6a6;
  line-height: 25px;
}


/*/////////////////////CSS FOR shortcodes//////////////////////*/

a.download {
	background: url(../images/download.png) 0 20% no-repeat;
	font-family: robotomedium;
	padding: 15px 0 15px 70px;
	font-size: 20px;
	color: #333;
	display: inline-block;
}
.social-link {
	display: inline-block;
	margin: 0 20px 30px;
}
.social-link a {
	background: #000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	padding-top: 13px;
	display: block;
	color: #fff;
	font-size: 27px;
}

/*////////////////////footer scroll bar////////////////////*/

.scroll-top{
  position: fixed;  
  right: 10px;
  bottom:90px;
  opacity:0.8;
  z-index:100;
}
.scroll-top:hover{
	opacity:1;
}

@media (max-width:768px) {	

.scroll-top{bottom:10px;}
	
}

/*////////////////////CSS AFTER LOGGED IN////////////////////*/
/*.logged-in .mean-container .mean-nav{margin-top:134px !important}*/

.mean-bar{display:none;}

.logged-in .mean-bar{display:block;}
