
/*Responsive for header*/

@media (max-width: 1025px){
#header .navbar>.container .navbar-brand {
    margin-top: 0;
}

@media (max-width: 1024px) {
.main-banner .item {
	height: auto;
}
.main-banner .item .sliderCaption {
	padding: 30px 0 40px;
}
.main-banner .item .sliderCaption h1 {
	font-size: 2.250rem;
}
.section-two-col {
	padding: 30px 0;
}
.section-two-col aside {
	padding-left: 0;
}
}
 @media (max-width: 767px) {
ul.grid li {
	width: 100% !important;
}
}


/*Responsive for Postal Footer*/

@media (max-width: 1024px) {
.section-footerbottom, .section-footerbottom .postal-account {
	padding-left: 0;
	padding-right: 0;
}
.postal-account .postal-content {
	height: auto;
	padding-bottom: 40px;
}
}
 @media (max-width: 796px) {
.postalfooter li:last-child {
	background: none;
}
}
 @media (max-width: 557px) {
.postalfooter li {
	display: block;
	background: none;
	padding: 0px 22px 0px 22px;
}
}
 @media (max-width: 480px) {
.postal-account .postal-content h3 {
	font-size: 18px;
	color: #ffffff !important;
	text-decoration: none;
}
.postal-account .postal-content p {
	font-size: 14px;
}
.postalfooter li {
	font-size: 14px;
}
}


/*Responsive for Newsletter*/

@media (max-width: 992px) {
.footer-bottom .footerbottom-content {
	padding: 0 159px;
}

.footer-bottom .footerbottom-content .col-md-6{width:100%;}

.newsletter {
	text-align: center;padding:46px 0px 40px 0px;
}
.social-share {
	padding: 0 0px 40px;
	text-align: center;
}
}

@media (max-width: 767px) {
 .footer-bottom .footerbottom-content {
	padding:10px 30px;
 }
}

@media (max-width: 480px) {
 .footer-bottom .footerbottom-content {
	padding:10px;
 }
}
