/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

 
  ul.social_icons li{
    margin-right: 0;
  }

}


/* sm */
@media (min-width: 992px) and (max-width: 1050px) {
  /* Make Navigation Toggle on Desktop Hover */

.navbar-nav > li > a{font-size:14px;}
.navbar-collapse nav{padding-left:15px;}
  
}

/* xs */
@media (max-width: 992px) {
	body > section{padding:30px 0;}
body{margin-top:108px;}
.container > .navbar-header, .container > .navbar-collapse{margin-left: 0;} 
.main-slider .item{height:535px;}
h2{font-size:50px;}
#header{height:109px;top:-1px}
.howworks-content{padding:0px;}
.footer-bottom .footerbottom-content, .partnaires_logo{padding:0px }
ul.social-share{text-align:center}
ul.social-share li a{margin-right:0}
.top-bar{position:relative;height:109px;}
header .btnDonate{position:absolute;right:0;width:141px;height:100%;top:0;bottom:0;padding:0px;background-position:center 14px;line-height:normal;-webkit-border-radius:0;border-radius:0;text-align:center;padding:45px 37px 0px;margin-top:0}
header .btnDonate:hover{background-position:center 14px;}
.main-slider img{text-align:center}
.navbar{height:109px;}
.megamenu{margin-left: 0 ;margin-right: 0 ;}
.megamenu> li {margin-bottom: 30px;}
.megamenu> li:last-child {margin-bottom: 0;}
.megamenu.dropdown-header {padding: 3px 15px !important;}
.section-footerbottom{background:none}
.navbar-nav .open .dropdown-menu .dropdown-header{color:#fff;}
.social-share{padding:38px 0px 40px 0px}
.newsletter{text-align:center}

.section-htmlfree{padding:49px 0px 0px 0px;}
.section-htmlfree .col-md-4{padding:0px}
.section-htmlfree figcaption{position:static}
.section-htmlfree figcaption a{border-radius:0;-webkit-border-radius:0;font-size:32px;text-transform:uppercase;text-decoration:none !important;margin-bottom:6px;padding:20px 15px;}
.section-htmlfree figcaption a.itemred{background:#e5222f;color:#ffffff}
.section-htmlfree figcaption a.itemblk{background:#3a3a3b;color:#ffffff}
.section-htmlfree figcaption a.video{position:inherit}
.section-htmlfree figcaption a.video span{position:static}
.features .content-wrap{/*padding:0px 50px !important*/}
}

/* XS Portrait */
@media (max-width: 480px) {
.main-slider .sliderCaption{top:38px;}
.howworks-content h3{font-size:22px;}
.section-solidarity h4{font-size:20px;}
.section-solidarity{padding-top:40px;}
.partners ul li{width:100%;float:none}
.partners{padding:0px;}
header .btnDonate{width:75px;padding:45px 10px 0px;font-size:14px;}

}
@media (max-width: 560px) {
	
	.postList{padding:0px;}
	.media-buttons .btn.rounded{min-width:auto}
	
	
	}
