/*Responsive for Common section and heading tag*/
@media (max-width: 992px) {
	
	section.secquote, 
	section.section-accrodion,
	section.section-tabs, 
	section.section-contact,
	section.section-imagetext,	
	section.section-simple-text,
	section.sec-testimonail, 
	section.fund_desc, 		
	section.section-htmlfree,	
	section.contact-list
	
	/*section.section-imagetext,
	section.secquote, 
	section.section-simple-text, 
	section.section-accrodion,
	section.section-htmlfree,
	section.section-contact,
	section.contact-list*/{padding:30px 0;}
	
	section.keyfigure,
	section.section-video-cms{padding:80px 0 100px;}/* on main site padding: 128px 0 138px;*/
	
	h1 {font-size: 40px !important;} 
	
	h2{font-size:28px !important;}
	
	h3{font-size:20px !important;}
	
	h4{font-size:18px !important;}
}

@media (max-width: 768px) {
	.btn,.btn.underline{margin-top:10px;}
}

@media (max-width: 480px) {
	section.secquote, 
	section.section-accrodion,
	section.section-tabs, 
	section.section-contact,
	section.section-imagetext,	
	section.section-simple-text,
	section.sec-testimonail, 
	section.fund_desc, 		
	section.section-htmlfree,	
	section.contact-list{padding:20px 0;}
	
	h1 {font-size: 32px !important;} 
	
	h2{font-size:25px !important;}
	
	h3{font-size:20px;}
	
	h4{font-size:16px !important;}
	
	.btn{font-size:14px}
	
	.btn.rounded,.btn.border{padding:0 50px;}
	
	.title h3{padding-bottom:10px !important;}
}


/*Responsive for header*/
@media (max-width: 1024px){
	#header{height:90px;}
	
	header.mean-container .mean-nav{margin-top:120px;}
}

@media (max-width: 992px){
	
#header{padding-left:20px; height:111px;}

.mean-container .mean-nav ul li a {
    font-size: 16px !important;
	line-height: 30px;
}

.mean-container .mean-nav ul li{margin-left:0;}

}

@media (max-width: 480px){
	#header{height:70px}
	.navbar>.container .navbar-brand{margin-top:0 !important;}
}

/*Responsive for header menu*/
@media (max-width: 992px){
	.mean-container .mean-nav{
		margin-top:110px !important;
	}
}
@media (max-width: 480px){
	.mean-container .mean-nav{
		margin-top:70px !important;
	}
}
/********Responsive for Slider*******/
@media (max-width: 992px) {
	.main-banner .item {
		height: auto;
	}
	.main-banner .item .sliderCaption {
		padding: 90px 0 80px;
	}	
}


/*Responsive for content main home page*/
@media (max-width: 992px) {
	.section-two-col {
		padding: 30px 0;
	}
	.section-two-col aside {
		padding-left: 0;
	}
	
	/*.container{
		padding-right:10px;
		padding-left:10px;
	}*/
	
}
@media (max-width: 992px) {
	.btn.rounded,.btn.border{
		height: 40px;
		line-height: 40px;
		font-size:14px;
		padding:0 25px;
	}
}

@media (max-width: 767px) {
	ul.grid li {
		width: 100% !important;
		left:0 !important;
	}
}

/*Responsive for content right*/

@media (max-width: 767px) {
	aside .widget{margin-bottom:20px;}
	
	.owl-theme .owl-controls .owl-dots{display:none !important;}
}

@media (max-width: 320px) {
	ul.social-share li a{margin-right:0;}		
}

/*Responsive for Postal Footer*/

@media (max-width: 1024px) {
.section-footerbottom, .section-footerbottom .postal-account {
	padding-left: 0;
	padding-right: 0;
}
/*.postal-account .postal-content {
	height: auto;
	padding-bottom: 40px;
}*/


.postal-account .postal-content strong{color:#fff !important;}

}
 @media (max-width: 796px) {
.postalfooter li:last-child {
	background: none;
}
}
 @media (max-width: 557px) {
.postalfooter li {
	display: block;
	background: none;
	padding: 0px 22px 0px 22px;
}
}
 @media (max-width: 480px) {
.postal-account .postal-content h3 {
	font-size: 18px;
	color: #ffffff !important;
	text-decoration: none;
}
.postal-account .postal-content p {
	font-size: 14px;
}
.postalfooter li {
	font-size: 14px;
}
}


/*Responsive for Newsletter*/

@media (max-width: 992px) {
	.footer-bottom .footerbottom-content {
		padding: 0 159px;
	}
	
	/*.section-footerbottom .row{margin-left:-25px; margin-right:-25px;}*/
	
	.footer-bottom .footerbottom-content .col-md-6{width:100%;}
	
	.footer-bottom .newsletter {
		text-align: center;padding:46px 0px 40px 0px;
	}
	.footer-bottom .social-share {
		padding: 0 0px 40px;
		text-align: center;
	}
}

@media (max-width: 767px) {
 .footer-bottom .footerbottom-content {
	padding:10px 40px;
 }
}

@media (max-width: 480px) {
	.footer-bottom .footerbottom-content {
		padding:10px;
	}
	
	.footer-bottom .social-share {
		padding: 0 0px 20px;
	}
	
}

/*///////////CSS FOR HOME Footer//////////////////*/

@media screen (max-width: 992px) {
    #menu-footer > li{padding-right: 28px;padding-left: 28px;}
}

@media (min-width:600px) and (max-width: 767px) {
    #menu-footer > li{padding-right: 15px;padding-left: 15px;}

}

@media (max-width:480px){
    #menu-footer > li:first-child,#menu-footer > li:last-child{display: block}
    #menu-footer > li:last-child{padding-left: 0}
    #menu-footer > li{padding-right: 20px;padding-left: 20px;}
    #menu-footer > li:first-of-type::after, #menu-footer > li:nth-last-of-type(2)::after{display: none;}
}

/**********
*******CSS FOR CMS PAGE*************
*************/

/*///////////CSS FOR Filter Menu//////////////////*/

@media (max-width: 992px) {
	
	.section-filter h4{ text-transform:inherit; margin:5px 0}
	
	.section-filter ul.filter-dropdown>li{
		display:block !important; 
		border-bottom: 1px solid #ddd;
		padding:0 0 15px;
		margin:0 0 15px;
	}
	
	.section-filter ul.filter-dropdown>li:last-child {
		border: none;
		padding-bottom: 10px;
	}
	
	.section-filter .dropdown-menu{ display:none !important;}
	
	.section-filter .open>.dropdown-menu {
		display: block !important;
	}
}

/*///////////CSS FOR Filter//////////////////*/
@media (max-width: 992px) {
	.section-filter.sticky{
		padding:15px 0 25px 0;
	}
	
	.panel-heading{padding:10px 0 10px 15px;}
}

@media (max-width: 768px){
	.section-filter{padding:15px 0;}
	.section-filter .panel-body{padding:0 15px 15px !important;}
	
	.section-filter .panel-default {
		border: 1px solid #ddd;
		margin: 10px 0;
		border-radius: 0 !important;
	}
	
	.section-filter-mobile .panel-body h4 {
		display: none;
	}
	
	.section-filter span.multiselect-native-select {
		position: relative;
		width: 100%;
		display: block;
		margin: 0 !important;
		text-align: left;
		border-bottom: 1px solid #ddd;
		padding: 5px 0;
	}
	
	.section-filter span.multiselect-native-select:last-child {
		border: none;
		padding-bottom: 10px;
	}
	
	.section-filter .btn-group, .section-filter .btn-group .btn {
		width: 100%;
		text-align: left;
	}
	
	.section-filter .btn-group .btn .multiselect-selected-text {
		display: inline-block;
		width: 97%;
		font-size: 16px !important;
	}
	
	.multiselect-native-select .caret {
		position: absolute;
		right: 3px;
		top: 13px;
	}	
	
	.section-filter .dropdown-menu {
		top: 0;
		position: relative;
		width: 100%;
		max-height: 145px;
		overflow: auto;
		border-radius: 0 !important;
		background: #f5f5f5;
		
		right: 0;
		left: 0;
		text-align: left;
		z-index: 1000;
	}
	
	.section-filter .multiselect-container {
		padding: 10px 0;
	}
	
	.multiselect-container > li {
		padding: 2px 10px !important;
	}
	
	.multiselect-container li:first-child {
		padding-top: 0 !important;
	}
	
	.multiselect-container li:last-child {
		padding-bottom: 0 !important;
	}
	
	.multiselect-container>li>a>label {
		padding: 3px 20px 3px 30px !important;
	}

}

/*for desktop filter*/
@media (min-width: 769px){
	.section-filter-mobile .panel-default>.panel-heading+.panel-collapse .panel-body {
		background: none;
		padding:25px;
	}

	.section-filter-mobile .xs-hidden {
		display: none !important;
	}
	.section-filter .panel{
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		border:none;
		margin:0
	}
	
	.section-filter .collapse {
		display: block !important;
		height:auto !important;
	}
}

@media (max-width: 412px){
	.btn.dropdown-toggle {
		padding: 2px 0;
	}
}

@media (max-width: 375px){
	.status_bar span {
		font-size: 14px !important;
		letter-spacing: -0.01em;
	}
}


/*for tab*/

@media (max-width: 992px){
	.nav-tabs>li>a {
		line-height: 1.428571429;
		font-size: 16px;
		padding: 9PX 20PX;
	}	
	
	.tab-content>.tab-pane{
        padding: 15px;
    }
	
	.tab-content>.tab-pane>.row>div{ margin-bottom:20px;}	
	
	
}

@media (max-width: 480px){
	.nav-tabs>li>a {
		padding: 7PX 14PX;
	}
	
}

/*for Small expandable */
@media (max-width:992px){
	.section-accrodion .panel-default>.panel-heading+.panel-collapse .panel-body{padding:15px;}
	
	.panel-body {
		width: 100%;
		overflow: auto;
	}
}



/*for Big expandable */
@media (max-width:992px){
.section-accordion-conter .panel-heading .panel-title{padding:10px 0;}
}


/*for kefyfigure*/
@media (max-width: 992px){	
     section.keyfigure{height:auto !important;}

	.keyfigure .partners{padding-top:45px;}
	
	.keyfigure h4{font-zize:25px;}
	.keyfigure h2{font-size:40px;}
}


/*for Contact*/

@media (max-width: 992px){
.section-contact{padding:30px 0 10px;text-align:center;}

.section-contact .address{
	margin-bottom:20px;
}

.section-contact .address address{padding:20px; }
}

/*for Quote*/
@media  (min-width: 769px) and (max-width: 1225px){
	.secquote{padding:30px !important;}
	.quote_left{margin-right:5%;}
	.quote-right{width:55%;}
}

@media (max-width: 768px){
	.secquote{padding:30px !important;}
	
	.quote_left{margin:0 0 20px 0;}
	
	.quote-right{font-size:20px;line-height:24px;}
}


/*for ACCORDION*/

@media (max-width: 767px){
	.accordion-two-col .col-md-6:first-child{margin-bottom:20px;}
	.panel-body .accList{ text-align:center;}
}

/*for simple text and image*/

@media (max-width: 1224px){
section.section-imagetext ol li strong,
section.section-imagetext ol li h4, 
section.section-imagetext ol li h3,
section.section-simple-text ol li strong,
section.section-simple-text ol li h4, 
section.section-simple-text ol li h3{	
	width:89%;
}
}

@media (max-width: 992px){		
	.two-col-imagetext .col-md-6 img{margin-bottom:0;}	
	
	.three-col-imagetext .col-md-4 img{margin-bottom:10px;}
	
	.section-simple-text>.row>div{ margin-bottom:20px;}	
	
	.social-link{margin:0 10px 20px;}	
}

@media (max-width: 767px){
	section.section-imagetext .col-md-4,
	section.section-imagetext .col-md-6{
	 margin-bottom: 30px;   	
	}
	
	section.section-imagetext .col-md-4:last-child,
	section.section-imagetext .col-md-6:last-child{
	 margin-bottom: 0;   	
	}
}

@media (max-width: 479px){
.social-link{margin:0 2px 15px;}
}

/*for fund desc*/
@media (max-width: 992px){		
	
	section.fund_desc figure img{margin-bottom:0;}
	
	section.fund_desc li.pull-right,div.share_block a.share{float:none !important;}
	
	section.fund_desc .downloadlnk li:first-child{margin-bottom:10px;}
}

@media (max-width: 767px){
	section.fund_desc .col-md-6:first-child{
		 margin-bottom: 30px;   	
	}
}

/*CSS FOR CONTACT LIST*/
@media (max-width: 992px){	
	section.contact-list .grid-item>.features{min-height:inherit}
	
	section.contact-list .grid-item>.features>.features{min-height:inherit}
	
	/*For carousel*/
	
	section.contact-list .grid-item>.features figure{height:260px; background:#9b9fa2}
	
	section.contact-list .mobile-carousel .owl-nav{bottom:auto;top:65%;}
}
@media (max-width: 480px){	
/*section.contact-list .grid-item>.features>.features figure>img{height:100%}*/
section.contact-list .grid-item>.features figure{height:200px;}
}



/***********CSS for Progress bar********************/
@media (max-width: 992px) {
	.sticky .middle-status-fund{padding: 0;}
}

@media (max-width: 480px) {
    /*CSS for Filter*/
    .progress-bar-reconstruction{ width:40% !important;padding-left: 3%;}
    .progress-bar-consolidation{width: 30% !important;}
    .progress-bar-urgence{width:30% !important; padding:0 1%;}
    .progress{width: 100%;}
    .sticky .dateDisaster span.date, .sticky .totalDonation span.amount{font-size: 15px;}
   
}

@media (max-width: 360px) {
    .progress{width: 305px;}
}

/***********CSS for HTML free***********
*********/

@media (max-width: 992px){
	.section-htmlfree figcaption {
		position: static;
	}
	
	.section-htmlfree a.btn.underline {
		border-radius: 0;
		padding: 20px;
		font-size: 25px;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	.section-htmlfree figcaption span.video {
		display: none;
	}
	
	.section-htmlfree .col-md-4{padding-right:0;padding-left:0;}
}

@media (max-width: 480px){
	.section-htmlfree a.btn.underline {
		font-size: 16px;
		padding: 8px 0;
	}	

}

/***********CSS for Section Testimonial***********
*********/
@media (max-width: 767px){
.sec-testimonail .col-md-6:first-child{margin-bottom:20px;}
}

/***********CSS for Section Partner***********
*********/
@media (max-width: 992px){
	section.section-partners{padding:30px 0;}
}

@media (max-width: 992px){
	section.section-partners{padding:30px 0;}
}


@media (max-width: 480px){
	section.section-partners{padding:20px 0;}
}

/***********CSS for Section Login***********
*********/
@media (max-width: 510px){
	.align-center{width:100%;}
}

@media (max-width: 480px){

span.login-remember, span.forgot-pass{ display:block;}

}

@media (max-width: 479px){
	.section-login input[type=submit]{float:left;font-size: 14px;height: 45px;}
}