


/*************************
*******Typography******
**************************/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/../fonts/roboto-medium-webfont.eot');
    src: url('roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background: #ffffff;font-family: 'robotoregular';color:#4e4e4e;line-height: 22px;margin-top:110px;font-size:16px;}
h1,h2,h3,h4,h5,h6 { color:#4e4e4e; font-family: 'robotobold';}
h1{font-size: 36px;color:#fff;}
h2{font-size: 60px;color:#ffffff;text-transform:uppercase}
h3{font-size: 32px;color: #1f1f1f;line-height: 24px;}
h4{font-size: 16px;}

a {
 /* color: #1f1f1f;*/
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
img{max-width:100%}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
/*btns*/
.btn{font-size:16px;}
.btn.rounded{background:#e5222f;-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#ffffff; font-family: 'robotobold';text-align:center;min-width:165px;height:48px;line-height:48px;padding:0px 15px;}
.btn.underline{text-decoration:underline;color:#e5222f}
.btn.border{-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#9b9ea1; font-family: 'robotobold';text-align:center;min-width:165px;height:48px;line-height:48px;padding:0px 15px;border:1px solid #a6a6a6}


.play_btn{width:105px;height:105px;display:inline-block;background:url(../images/icon-video-play.png) no-repeat center center; position:relative;text-align:center}
.play_btn span{font-size:16px;position:absolute;bottom:-54px;width:200%;left:-50%;color:#ffffff;text-decoration:underline}
.play_btn:hover span{text-decoration:none}
a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {margin-top: -1px;min-width: 180px;nprder:0px;background:#f5f5f5;-webkit-border-radius:0;border-radius:0;box-shadow:none;border:0px;}
body > section {padding: 118px 0;}
.center {text-align: center;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}



/*************************
*******Header******
**************************/

#header{position:fixed;top:0;left:0;right:0;z-index:23;height:110px;}
/*#header  .navbar{ -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
#header.sticky .navbar{padding:10px 0px}*/

.navbar-right{position:static}
.navbar>.container .navbar-brand{margin-left: 0;margin-top:6px;}
.navbar-brand img{max-width:none}
.top-bar {padding: 0px 0;}
.top-number{color: #fff;}
.top-number p{margin: 0}
.social{text-align: right;}
.social-share{display: inline-block;list-style: none;padding: 0;margin: 0;}
ul.social-share li {display: inline-block;}
ul.social-share li a {display: inline-block;color: #9a9a9a;background: #ffffff;width: 49px;height: 49px;line-height: 49px;text-align: center;-webkit-border-radius:100%;border-radius: 100%;border:1px solid #acacac;font-size:20px;margin-right:20px;}
ul.social-share li:last-child a{margin-right:0px;}
ul.social-share li a:hover {}
.navbar-brand {padding: 0;margin:0;}
.navbar {border-radius: 0;margin-bottom: 0;background: #ffffff;padding: 11px 0 18px 0px;padding-bottom: 0;border:0px;}
.navbar-nav{}
.navbar-nav > li{margin-left: 30px;}
.navbar-nav > li > a{color:#1f1f1f;text-transform:uppercase;padding:15px 15px 30px 15px}


.dropdown-menu a{display:block;color:#1f1f1f}
.dropdown-menu figure{text-align:center}
.dropdown-menu figure img{margin-bottom:20px;}
.dropdown-menu figure figcaption h3{font-size:24px;font-family: 'robotolight';}

.dropdown-menu .subMenu {list-style:none;padding-left:0px;margin-top:-21px;}
.dropdown-menu .subMenu li{border-top:1px solid #a6a6a6}
.dropdown-menu .subMenu li:first-child{border:0px;}
.dropdown-menu .subMenu li a{font-family: 'robotolight';font-size:20px;line-height:55px;}


.navbar-toggle .icon-bar{background:#1f1f1f;width:38px;height:5px;}
.navbar-toggle{margin-right:184px;}





/*************************
*******Home Page******
**************************/



.nav-tabs > li{margin-bottom: 0px;border-bottom: 1px solid #e6e6e6;}
.nav-tabs{border-bottom: transparent;border-right: 1px solid #e6e6e6;}
.nav-tabs > li > a {background: #f5f5f5;color: #666;border-radius: 0;border: 0 none;line-height: 24px;margin-right:0;padding: 13px 15px;}
.nav-tabs li:last-child{border-bottom: 0 none;} 
.nav-stacked>li+li{ margin-top: 0;}
.nav-tabs>li>a:hover{background:none;color:#fff;}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {border: 0;color:#fff;background:none;position: relative;}
.nav > li > a:hover, .nav > li > a:focus{background:none}
.nav-tabs>li.active>a:after {position: absolute;content:  "";width: auto;height: auto;border-style:solid;border-color: transparent transparent transparent #1f1f20;border-width: 25px 22px;right: -44px;top:0;}

.navbar-collapse nav{float:left}
.btnDonate{height:43px;line-height:43px;-webkit-border-radius:21px;border-radius:21px;background:#e5222f url(../images/btn-donate.png) no-repeat 25px center;font-family: 'robotobold';text-transform:uppercase;color:#ffffff !important;padding:0px 25px 0px 50px;float:right;display:block}

.accRt{float:right}
.account, .lang{float:left;padding:0}
.account li, .lang li{float:left;list-style:none;color:#9b9ea1}
.lang li a{color:#9b9ea1}
.account li, .lang li{margin-left:25px;position:relative}
.account li a{background:url(../images/icon-acc.png) no-repeat left top;display:block}
.account li .acc{width:15px;height:17px;background-position:left bottom}
.account li .mail{width:21px;height:17px;background-position:right bottom}
.lang{position:relative}
.langDrop .btn{background:none;padding:0px;color:#9b9ea1}
.lang .dropdown-menu li{display:block;float:none;margin-left:0}
.lang .dropdown-menu{left:-25px;right:auto;min-width:inherit}
/*mega menu*/
.navbar-collapse{padding:0px;}
.navbar-default{color: #fff;background-color: #ccc6c6;border-color: #aca1a2;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .dropdown > a .caret{border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .navbar-brand{color:#fff;}
.menu-large {position: static !important;}
.megamenu{padding: 96px 0px 85px 0;width:100%;}
.megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul > li {list-style: none;}
.megamenu> li > ul > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.428571429;color: #333333;white-space: normal;}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
.megamenu{margin-left: 0 ;margin-right: 0 ;}
.megamenu> li {margin-bottom: 30px;}
.megamenu> li:last-child {margin-bottom: 0;}
.megamenu.dropdown-header {padding: 3px 15px !important;}
.navbar-nav .open .dropdown-menu .dropdown-header{color:#fff;}
}


/*main-slider*/

.main-slider{padding:0px;}
.main-slider img{position: relative;left: 50%;width: auto;max-width: none;max-height: none;transform: translateX(-50%);}
.main-slider .sliderCaption{position:absolute;width:100%;top:155px}
.main-slider .sliderCaption .pull-middle{float:none !important;margin:0px auto;text-align:center}
.main-slider .sliderCaption .coutry{color:#ffffff;font-size:32px; font-family: 'robotolight';}
.main-slider .sliderCaption h2{color:#ffffff;font-size:60px;font-family: 'robotobold';line-height:57px;}
.main-slider .sliderCaption p{color:#ffffff;font-size:20px;line-height:27px;}


/*fund raising*/
.section-threeColumn{background:#f5f5f5}
.section-fundraising .features{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 0px 0px;min-height:562px;}
.section-fundraising .features figure{position:relative;margin-bottom:40px;}
.section-fundraising .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:2}
.section-fundraising .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:red /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff}
.section-fundraising .features figure figcaption a span{display:none;padding:14px 0px 0px 15px;float:left;-webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  }
.section-fundraising .features figure figcaption a  img{display:inline-block;padding-top:11px;float:left;padding-left:16px;}
.section-fundraising .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
.section-fundraising .features:hover .overlay {opacity: 1;}
.section-fundraising .features:hover figcaption a {width:182px;margin-left:-56px;background-image:none}
.section-fundraising .features:hover figcaption a span{display:block}
.section-fundraising .features .content-wrap{padding:0px 40px;}
.section-fundraising .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-fundraising .features .content-wrap h3{ font-family: 'robotolight';line-height:33px;}
.section-fundraising .features .content-wrap p{line-height:20px;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}


/*news section*/

/*fund raising*/
.section-news{background:#f5f5f5}
.news-listing{padding-bottom:25px;clear:both; overflow:hidden}
.section-news h3{padding-bottom:20px;}
.section-news .features{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 0px 0px;min-height:483px;}
.section-news .features figure{position:relative;margin-bottom:40px;}
.section-news .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23}
.section-news .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;}
.section-news .features figure figcaption a  img{display:inline-block;}
.section-news .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
.section-news .features .content-wrap{padding:0px 22px;}
.section-news .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-news .features .content-wrap h3{ font-family: 'robotolight';line-height:33px;}
.section-news .features .content-wrap h4{font-size:25px; font-family: 'robotoregular';line-height:27px;}
.section-news .features .content-wrap p{line-height:20px;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}

.section-news .features figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
.section-news .features figure figcaption a.icon_news{background:#1f1f1f }


/*html free area*/

.section-htmlfree{}
.section-htmlfree figure{position:relative}
.section-htmlfree figcaption{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center}
.section-htmlfree figcaption a{position:relative;top:85%;width:100%;text-align:center;color:#ffffff !important}
.section-htmlfree figcaption a.video{position:absolute;left:0px;right:0px;top:0px;bottom:0px;background:url(../images/icon-video-play.png) no-repeat center center}
.section-htmlfree figcaption a.video span{position:relative;top:85%;width:100%;text-align:center;color:#ffffff !important}
/*video section*/

.section-video{background-size:cover !important;height:650px;padding-top:176px;}
.section-video h3{font-family: 'robotolight';color:#ffffff}

/*section how works*/
.section-howworks{overflow:hidden;position:relative;}
.section-howworks:before{content:'';position:absolute;left:0px;top:0px;bottom:0px;background:#3a3a3b;width:50%;}
.section-howworks:after{content:'';position:absolute;right:0px;top:0px;bottom:0px;background:#e5222f;width:50%;z-index:-1}
.howworks-content{padding:0px 125px;}
.howworks-content h3{line-height:30px;}
.howworks-content h3, .howworks-content .btn, .howworks-content p{color:#ffffff}
.howworks-content .btn{}
.howworks-content p{}
/*solidarity section*/

.section-solidarity{background-size:cover !important;height:809px;}
.section-solidarity h3{color:#ffffff;padding:0px 0px 0px 0px}
.section-solidarity h4{font-size:32px;color:#ffffff;font-family: 'robotobold';}
.section-solidarity p{font-size:20px;font-family: 'robotolight';}
.partners{text-align:center;color:#ffffff;padding-top:107px}
.partners ul li{list-style:none}

/*footer*/
/*footer bottom*/

.section-footerbottom{background:#f5f5f5; position:relative;padding:0px;}
.postal-account{text-align:center; position:relative}
.postal-account .postal-content{background:#e5222f;margin-top:-150px;height:130px;color:#ffffff}
.postal-account .postal-content h3{font-size:25px;color:#ffffff;font-family: 'robotobold';padding:15px 0px 5px 0px}
.postal-account .postal-content p{padding:0;margin:0}
.icon_fund{position:absolute;width:44px;height:44px;-webkit-border-radius:100%;border-radius:100%;background:#ffffff;left:50%;margin-left:-22px;bottom:-21px;line-height:44px;}

/**/
.footer-bottom {background:#ffffff;}
.footer-bottom .footerbottom-content{padding:50px 108px; }
.footerbottom-lt h3{font-size:60px;font-family: 'robotobold';line-height:57px;text-transform:uppercase}
.newsletter h3{font-size:20px;font-family: 'robotobold';margin:0px;}
.newsletter p{font-family: 'robotolight';padding-bottom:20px;}
.newsletter{padding:46px 0px 0px 0px; overflow:hidden}
.newsletter form input[type=email]{width:76%;float:left;height:56px;line-heihght:56px;border:0px;padding:0px 2%;border:2px solid #d0d0d0}
.newsletter form input[type=submit]{width:19%;float:left;height:56px;line-heihght:56px;text-transform:uppercase;font-size:20px;font-family: 'robotobold';background:#1f1f1f;border:0px;
color:#ffffff;margin-left:1%}

.partnaires_logo{padding:20px 108px; overflow:hidden;}
.partnaire_lt,partnaire_rt{vertical-align:middle}
.partnaire_lt img{margin-right:25px;}
.partnaire_rt{text-align:right}
.partnaire_rt img{margin-left:25px;}
.footer {background: #2E2E2E;border-top: 5px solid #C52D2F;height: 84px;margin-top: 110px;}
.footer_left {padding: 10px;}
.section-footer {padding-top: 30px;padding-bottom: 30px;color: #ffffff;background: #1f1f1f;}
.section-footer a {color: #fff;}
.section-footer a:hover {color: #c52d2f;}
.section-footer ul {list-style: none;padding: 0;margin: 0;}
.section-footer ul > li {display: inline-block;margin-left: 15px;}
.footer-bottom .footerbottom-content:after{content:'';clear:both; overflow:hidden;display:block}


