


/*************************
*******Typography******
**************************/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/../fonts/roboto-medium-webfont.eot');
    src: url('roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background: #ffffff;font-family: 'robotoregular';color:#4e4e4e;line-height: 22px;margin-top:110px;font-size:16px;}
h1,h2,h3,h4,h5,h6 { color:#4e4e4e; }
h1{font-size: 60px;color:#fff;text-transform:uppercase;font-family: 'robotobold';}
h2{font-size: 32px;color:#ffffff;}
h3{font-size: 25px;color: #1f1f1f;line-height: 24px;}
h4{font-size: 20px;}
ul,li{list-style:none}
a {
 /* color: #1f1f1f;*/
 /* -webkit-transition: all 500ms, background-color 500ms;
  -moz-transition: all 500ms, background-color 500ms;
  -o-transition:  all 500ms, background-color 500ms;
  transition:  all 500ms, background-color 500ms;*/
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
img{max-width:100%}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
/*btns*/
.btn{font-size:16px;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-o-transition:  all 500ms ease;transition:  all 500ms ease; }
.btn.rounded{background:#e5222f;-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#ffffff; font-family: 'robotobold';text-align:center;min-width:195px;height:48px;line-height:46px;padding:0px 15px;border:1px solid #e5222f}
.btn.rounded:hover{background:#ffffff;color:#e5222f}

.btn.underline{text-decoration:underline;color:#e5222f}
.btn.underline:hover{text-decoration:none;}

.btn.border{-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#9b9ea1; font-family: 'robotobold';text-align:center;min-width:234px;height:48px;line-height:48px;padding:0px 15px;border:1px solid #a6a6a6}
.btn.border:hover{background:#a6a6a6;color:#ffffff}

.play_btn{width:105px;height:105px;display:inline-block;background:url(../images/icon-video-play.png) no-repeat center center; position:relative;text-align:center}
.play_btn span{font-size:16px;position:absolute;bottom:-54px;width:200%;left:-50%;color:#ffffff;text-decoration:underline}
.play_btn:hover span{text-decoration:none}
a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {margin-top: -1px;min-width: 180px;nprder:0px;background:#f5f5f5;-webkit-border-radius:0;border-radius:0;box-shadow:none;border:0px;}
body > section {padding: 118px 0;}
.center {text-align: center;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}



/*************************
*******Header******
**************************/

#header{position:fixed;top:0;left:0;right:0;z-index:110;height:110px;}
/*#header  .navbar{ -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
#header.sticky .navbar{padding:10px 0px}*/

.navbar-right{position:static}
.navbar>.container .navbar-brand{margin-left: 0;margin-top:6px;}
.navbar-brand img{max-width:none}
.top-bar {padding: 0px 0;}
.top-number{color: #fff;}
.top-number p{margin: 0}
.social{text-align: right;}
.social-share{display: inline-block;list-style: none;padding: 0;margin: 0;}
ul.social-share li {display: inline-block;}
ul.social-share li a {display: inline-block;color: #9a9a9a;background: #ffffff;width: 49px;height: 49px;line-height: 49px;text-align: center;-webkit-border-radius:100%;border-radius: 100%;border:1px solid #acacac;font-size:20px;margin-right:20px;}
ul.social-share li a:hover{background:#acacac;color:#ffffff}

ul.social-share li:last-child a{margin-right:0px;}
ul.social-share li a:hover {}
.navbar-brand {padding: 0;margin:0;}
.navbar {border-radius: 0;margin-bottom: 0;padding: 11px 0 18px 0px;padding-bottom: 0;border:0px;background:#ffffff}
.navbar-nav{}
.navbar-nav > li{margin-left: 30px;}
.navbar-nav > li > a{color:#1f1f1f;text-transform:uppercase;padding:15px 15px 32px 15px;position:relative}
.navbar-nav > li:hover > a{color:#a1a4a7}
.navbar-nav > li:hover > a:after{content:"";position:absolute;bottom:0px;width:30px;height:15px;background:#f5f5f5;left:50%;margin-left:-15px;border-radius: 30px 30px 0 0;-moz-border-radius: 30px 30px 0 0;-webkit-border-radius: 30px 30px 0 0;

}



.dropdown-menu a{display:block;color:#1f1f1f}
.dropdown-menu figure{text-align:center}
.dropdown-menu figure img{margin-bottom:20px;}
.dropdown-menu figure figcaption h3{font-size:24px;font-family: 'robotolight';}

.dropdown-menu .subMenu {list-style:none;padding-left:0px;margin-top:-21px;}
.dropdown-menu .subMenu li{border-top:1px solid #a6a6a6}
.dropdown-menu .subMenu li:first-child{border:0px;}
.dropdown-menu .subMenu li a{font-family: 'robotolight';font-size:20px;line-height:55px;}
.dropdown-menu .subMenu li a:hover, .dropdown-menu .subMenu li a.active{color:#a1a4a7}

.navbar-toggle .icon-bar{background:#1f1f1f;width:38px;height:5px;}
.navbar-toggle{margin-right:184px;}





/*************************
*******Home Page******
**************************/



.nav-tabs > li{margin-bottom: 0px;border-bottom: 1px solid #e6e6e6;}
.nav-tabs{border-bottom: transparent;border-right: 1px solid #e6e6e6;}
.nav-tabs > li > a {background: #f5f5f5;color: #666;border-radius: 0;border: 0 none;line-height: 24px;margin-right:0;padding: 13px 15px;}
.nav-tabs li:last-child{border-bottom: 0 none;} 
.nav-stacked>li+li{ margin-top: 0;}
.nav-tabs>li>a:hover{background:none;color:#fff;}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {border: 0;color:#fff;background:none;position: relative;}
.nav > li > a:hover, .nav > li > a:focus{background:none}
.nav-tabs>li.active>a:after {position: absolute;content:  "";width: auto;height: auto;border-style:solid;border-color: transparent transparent transparent #1f1f20;border-width: 25px 22px;right: -44px;top:0;}

.navbar-collapse nav{float:left}
.btnDonate{height:43px;line-height:41px;-webkit-border-radius:21px;border-radius:21px;background:#e5222f url(../images/btn-donate.png) no-repeat 25px center;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;padding:0px 25px 0px 50px;float:right;display:block;margin-top:-60px;border:1px solid #e5222f;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-o-transition:  all 500ms ease;transition:  all 500ms ease;}
.btnDonate:hover{background:#ffffff url(../images/btn-donate-r.png) no-repeat 25px center;color:#e5222f}
.accRt{float:right}
.account, .lang{float:left;padding:0}
.account li, .lang li{float:left;list-style:none;color:#9b9ea1}
.lang li a{color:#9b9ea1}
.account li, .lang li{margin-left:25px;position:relative}
.account li a{background:url(../images/icon-acc.png) no-repeat left top;display:block}
.account li .acc{width:15px;height:17px;background-position:left bottom}
.account li .mail{width:21px;height:17px;background-position:right bottom}
.lang{position:relative}
.langDrop .btn{background:none;padding:0px;color:#9b9ea1}
.lang .dropdown-menu li{display:block;float:none;margin-left:0}
.lang .dropdown-menu{left:-25px;right:auto;min-width:inherit}
/*mega menu*/
.navbar-collapse{padding:0px;}
.navbar-default{color: #fff;background-color: #ccc6c6;border-color: #aca1a2;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .dropdown > a .caret{border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .navbar-brand{color:#fff;}
/*.menu-large {position: static !important;}*/
.megamenu{padding: 96px 0px 85px 0;width:100%;}
.megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul > li {list-style: none;}
.megamenu> li > ul > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.428571429;color: #333333;white-space: normal;}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}


/*main-slider*/

.main-slider{padding:0px;}
.main-slider .item{height:626px;}
.main-slider .sliderCaption{position:absolute;width:100%;top:155px}
.main-slider .sliderCaption .pull-middle{float:none !important;margin:0px auto;text-align:center}
.main-slider .sliderCaption .coutry{color:#ffffff;font-size:32px; font-family: 'robotolight';}
.main-slider .sliderCaption h2, .main-slider .sliderCaption h1{color:#ffffff;font-family: 'robotobold';line-height:57px;font-size:60px;}
.main-slider .sliderCaption p{color:#ffffff;font-size:20px;line-height:27px;font-family: 'robotolight';padding-bottom:20px;}
.main-slider .item img{max-width:none}
.main-slider .sliderCaption .btn{}
/*fund raising*/
.section-threeColumn{background:#f5f5f5}
.section-fundraising .features{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 0px 0px;min-height:562px;}
.section-fundraising .features figure{position:relative;margin-bottom:40px;}
.section-fundraising .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:2}
.section-fundraising .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:red /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff}
.section-fundraising .features figure figcaption a span{display:none;padding:14px 0px 0px 15px;float:left;-webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  }
.section-fundraising .features figure figcaption a  img{display:inline-block;padding-top:11px;float:left;padding-left:16px;}
.section-fundraising .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
  .section-fundraising .features .overlay a{display:block;position:absolute;left:0;right:0;bottom:0;top:0;}
.section-fundraising .features:hover .overlay {opacity: 1;}
.section-fundraising .features:hover figcaption a {width:182px;margin-left:-56px;background-image:none}
.section-fundraising .features:hover figcaption a span{display:block}
.section-fundraising .features .content-wrap{padding:0px 40px;}
.section-fundraising .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-fundraising .features .content-wrap h3{ font-family: 'robotolight';line-height:33px;}
.section-fundraising .features .content-wrap p{line-height:20px;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}


/*news section*/

/*fund raising*/
.section-news{background:#f5f5f5;padding:80px 0px}
.news-listing{padding-bottom:25px;clear:both; overflow:hidden}
.section-news h3{}
.section-news .features{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 0px 0px;min-height:483px;margin-bottom:32px;}
.section-news .features figure{position:relative;margin-bottom:40px;}
.section-news .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23}
.section-news .features figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;}
.section-news .features figure figcaption a  img{display:inline-block;}
.section-news .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
.section-news .features .content-wrap{padding:0px 22px;}
.section-news .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-news .features .content-wrap h3{ font-family: 'robotolight';line-height:33px;}
.section-news .features .content-wrap h4{font-size:25px; font-family: 'robotoregular';line-height:27px;}
.section-news .features .content-wrap p{line-height:20px;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}
.section-news .features figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
.section-news .features figure figcaption a.icon_news{background:#1f1f1f }

.newsAll{margin-top:52px;}
.title h3{padding-bottom:30px;}


/*html free area*/

.section-htmlfree{ overflow:hidden}
.section-htmlfree figure{position:relative}
.section-htmlfree figcaption{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center}
.section-htmlfree figcaption a{position:relative;top:85%;width:100%;text-align:center;color:#ffffff !important}
.section-htmlfree figcaption a.video{position:absolute;left:0px;right:0px;top:0px;bottom:0px;background:url(../images/icon-video-play.png) no-repeat center center;padding:0}
.section-htmlfree figcaption a.video span{position:relative;top:87%;width:100%;text-align:center;color:#ffffff !important}
/*video section*/

.section-video{background-size:cover !important;height:650px;padding-top:176px;}
.section-video h3{font-family: 'robotolight';color:#ffffff}

/*section how works*/
.section-howworks{overflow:hidden;position:relative;padding:90px 0px 60px 0px}
.section-howworks:before{content:'';position:absolute;left:0px;top:0px;bottom:0px;background:#3a3a3b;width:50%;}
.section-howworks:after{content:'';position:absolute;right:0px;top:0px;bottom:0px;background:#e5222f;width:50%;z-index:-1}
.howworks-content{padding:0px 125px;position:relative;min-height:433px;}
.howworks-content h3{line-height:30px;}
.howworks-content figure{padding-top:65px;}
.howworks-content h3, .howworks-content .btn, .howworks-content p{color:#ffffff}
.howworks-content .btn{position:absolute;left:0;width:100%;bottom:0}
.howworks-content p{}
/*solidarity section*/

.section-solidarity{background-size:cover !important;height:809px;}
.section-solidarity h2{color:#ffffff;padding:0px 0px 0px 0px;font-family: 'robotolight';}
.section-solidarity h4{font-size:32px;color:#ffffff;font-family: 'robotobold';}
.section-solidarity p{font-size:20px;font-family: 'robotolight';}
.partners{text-align:center;color:#ffffff;padding-top:107px}
.partners ul li{list-style:none}

/*footer*/
/*footer bottom*/

.section-footerbottom{background:#f5f5f5; position:relative;padding:0px;}
.postal-account{text-align:center; position:relative}
.postal-account .postal-content{background:#e5222f;height:130px;color:#ffffff}
.home .postal-account .postal-content,.homepage .postal-account .postal-content {margin-top:-130px;}
.postal-account .postal-content h3{font-size:25px;color:#ffffff;font-family: 'robotobold';padding:15px 0px 0px 0px;margin:0px 0px 5px 0px}
.postal-account .postal-content p{padding:0;margin:0}
.icon_fund{position:absolute;width:44px;height:44px;-webkit-border-radius:100%;border-radius:100%;background:#ffffff;left:50%;margin-left:-22px;bottom:-21px;line-height:44px;}
.postalfooter{padding:5px 0px 0px 0px}
.postalfooter li {display: inline-block;padding:0px 33px 0px 35px;background:url(../images/postal-sep.png) no-repeat left center}
.postalfooter li:first-child{background:none}
/**/
.footer-bottom {background:#ffffff;}
.footer-bottom .footerbottom-content{padding:50px 108px; }
.footerbottom-lt h3{font-size:60px;font-family: 'robotobold';line-height:57px;text-transform:uppercase}
.newsletter h3{font-size:20px;font-family: 'robotobold';margin:0px;}
.newsletter p{font-family: 'robotolight';padding-bottom:20px;}
.newsletter{padding:46px 0px 0px 0px; overflow:hidden}
.newsletter form input[type=email]{width:76%;float:left;height:56px;line-heihght:56px;border:0px;padding:0px 2%;border:2px solid #d0d0d0}
.newsletter form input[type=submit]{width:19%;float:left;height:56px;line-heihght:56px;text-transform:uppercase;font-size:20px;font-family: 'robotobold';background:#1f1f1f;border:0px;
color:#ffffff;margin-left:1%}

.partnaires_logo{padding:20px 108px; overflow:hidden;}
.partnaire_lt,partnaire_rt{vertical-align:middle}
.partnaire_lt img{margin-right:25px;}
.partnaire_rt{text-align:right;padding-top:25px;}
.partnaire_rt img{margin-left:25px;}
.footer {background: #2E2E2E;border-top: 5px solid #C52D2F;height: 84px;margin-top: 110px;}
.footer_left {padding: 10px;}
.section-footer {padding-top: 30px;padding-bottom: 30px;color: #ffffff;background: #1f1f1f;text-align:center}
.section-footer a {color: #fff;font-size:14px;}
.section-footer a:hover {color: #c52d2f;}
.section-footer ul {list-style: none;padding: 0;margin: 0;}
.section-footer ul li{display: inline-block;padding:0px 15px 0px 17px;background:url(../images/foo-sep.png) no-repeat left center}
.section-footer ul li:nth-child(2), .section-footer ul li.websiteby{background:url(../images/foo-dash.png) no-repeat left center}
.section-footer ul li:first-child{background:none}
.footer-bottom .footerbottom-content:after{content:'';clear:both; overflow:hidden;display:block}

/*home page urgency*/


.homeurgency header, .homeurgency .navbar{background:#e5222f}
.homeurgency header .btnDonate{display:none}
.homeurgency .lang li a{color:#ffffff}
.homeurgency .langDrop .dropdown-menu li a{color:#9b9ea1}
.homeurgency .account li a{background:url(../images/icon-acc-urg.png) no-repeat left top;}
.homeurgency .account li .mail{background-position:right bottom}
.homeurgency .navbar-collapse nav{float:right}
.homeurgency .navbar-nav > li > a{color:#ffffff}
.homeurgency .navbar-nav > li:last-child > a{padding-right:0px;}
.main-banner {padding:0px;background:#e5222f}
.main-banner .item{height:586px;background-size:cover !important;} 
.main-banner .item .sliderCaption{padding-top:199px;text-align:center}
.main-banner h3, .main-banner .item .sliderCaption h4{color:#ffffff;font-family: 'robotolight';}
.main-banner .item .sliderCaption h1{font-size:60px;}
.main-banner .item .sliderCaption .pull-left{text-align:left}
.main-banner .item .sliderCaption .btnDonate{clear:both;margin:0px;display:inline-block;float:none}
.main-banner .itemCaption{padding:25px 0px;text-align:center;color:#ffffff}
.main-banner .itemCaption p, .main-banner .itemCaption a, .main-banner .itemCaption span{color:#ffffff}
.main-banner .itemCaption h3{padding-bottom:25px;}
.main-banner p{color:#ffffff}
.main-banner .btn{clear:both;display:block;color:#ffffff;margin-bottom:30px;}
.news-banner{height:490px;}
.news-banner .item .sliderCaption{padding-top:150px;}

/*fundraising page*/

.status_bar{height:116px;background:#f5f5f5;padding:0px}
.status_bar.sticky{position:fixed;top:110px;left:0;width:100%;z-index:3}

.secquote{background:#e5222f;text-align:center;padding:85px 0px}
.secquote blockquote{color:#ffffff;font-size:25px;line-height:30px;border:0px;}
.secquote em{color:#ffffff}

/**/


.section-solidarity.keyfigure{height:638px;}
.sec-testimonail .title{text-align:center}
.sec-testimonail h3{font-weight:normal; font-family: 'robotoregular';}
.sec-testimonail p{line-height:23px;}
.sec-testimonail figcaption{margin-top:20px;}



/*partnaire*/


.section-partners{background:#f5f5f5}
.section-partners ul{padding:0px;}
.section-partners ul li{margin-bottom:30px;}
.section-partners ul li img{max-width:100%}

/*progress bar*/
.status{vertical-align:middle;background:url(../images/icon-signal.png) no-repeat left 2px;}
.status span{padding:0px 0px 0px 27px;color:#000000}
.status_bar{padding:25px 0px;}
.progress{box-shadow:none;width:400px; overflow:visible;margin-top:10px;}
.progress:after{content:'';overflow:hidden;clear:both;display:block}
.progress .progress-bar{position:relative;box-shadow:none}
.progress-bar-urgence{background:#e5222f;-webkit-border-radius:4px 0px 0px 4px;border-radius:4px 0px 0px 4px;}
.progress-bar-reconstruction{background:#f1959b}
.progress-bar-consolidation{background:#f5d2d5;-webkit-border-radius:0px 4px 4px 0px;border-radius:0px 4px 4px 0px;}
.progress .active:after{content:'';position:absolute;width:36px;height:36px;right:-18px;top:-8px;-webkit-border-radius:100%;border-radius:100%;background:#e5222f;z-index:9}
.progress-bar-reconstruction.active:after{background:#f1959b}
.progress-bar-consolidation.active:after{background:#f5d2d5}
.status_bar .dateDisaster{background:url(../images/icon-cal.png) no-repeat left 2px;}
.status_bar .totalDonation{background:url(../images/icon-donate.png) no-repeat left top;}
.status_bar .dateDisaster span, .status_bar .totalDonation span{display:block;}
.status_bar .dateDisaster span.date, .status_bar .totalDonation span.amount{font-size:20px;text-transform:uppercase;line-height:18px;}
.status_bar .totalDonation span.amount strong{color:#e5222f}
.status_bar .dateDisaster span.itemhide, .status_bar .totalDonation span.itemhide{padding-left:28px;}
.status_bar.sticky .itemhide{display:none !important}
.status_bar.sticky{height:80px;}
.status_bar.sticky .progress, .status_bar .totalDonation span.amount, .status_bar .dateDisaster span.date {margin-left:28px;margin-top:0}

/*seconday slider*/
.secondary-slider{padding:0px;}
.secondary-slider .item{height:689px;background-size:conver !important;}
.section-news .features figure figcaption a.icon_news.icon_insta{background:url(../images/insta-bkg.png) no-repeat center center}
.no-padding-btm{;background:#ffffff}
.slider-twitter{position:relative;}
.slider-twitter{margin-top:90px;}
.slider-twitter .item{height:auto;background:#ffffff;padding:50px;}
.slider-twitter .item a.btn{color:#33ccff}
.slider-twitter figure figcaption{position:absolute;top:-36px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23;text-align:center}
.slider-twitter figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;font-size:30px}
.slider-twitter figure figcaption a  img{display:inline-block;}
.slider-twitter figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
.slider-twitter figure figcaption a.icon_news{background:#1f1f1f }
.slider-twitter figure figcaption a.icon_tw{background:#33ccff }

/**/
.fund_desc ul{padding-left:15px;padding-top:10px;}
.fund_desc ul li{list-style:outside disc;position:relative;padding-bottom:15px;}
.fund_desc .downloadlnk{padding-top:60px;}
.fund_desc .downloadlnk li{float:left;list-style:none}
.fund_desc .downloadlnk li a{color:#383f46}
.fund_desc .downloadlnk li a.icon-download{font-size:20px;display:block;}
.fund_desc .downloadlnk li a img{padding:0px 20px 0px 0px;}
.fund_desc .downloadlnk li a.share{text-decoration:underline;background:url(../images/icon-share.png) no-repeat right center;padding-right:30px;}
.fund_desc .downloadlnk li.pull-right{text-align:right}
.fund_desc h3{text-transform:uppercase;padding-bottom:25px;}
.fund_desc h4{ font-family: 'robotolight';}
.fund_desc figure{padding-top:25px;}

/*news page*/


.section-filter{background:#ffffff;height:92px;padding:30px 0px}
