<div><b>FB import: 2018-06-18 06:25:58</b></div><pre>string(5) "count"
int(100)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpFeU5qZAzFOVEUxTXpVMU1EVXlNemt3TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV5T0RrNE1ESTNOakV3T1RjUEJIUnBiV1VHV3lKL2JBRT0ZD"
    ["after"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ESTROekl3TURnMk9EYzBOVFkxTmpBUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRZANU9EQXhNVFEyTURrMlh6RTNORFUwT0RneU5EVTFNakkxTXpZAUEJIUnBiV1VHV2pjSEZA3RT0ZD"
  }
  ["next"]=>
  string(431) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=100&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ESTROekl3TURnMk9EYzBOVFkxTmpBUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRZANU9EQXhNVFEyTURrMlh6RTNORFUwT0RneU5EVTFNakkxTXpZAUEJIUnBiV1VHV2pjSEZA3RT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpFeU5qZAzFOVEUxTXpVMU1EVXlNemt3TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV5T0RrNE1ESTNOakV3T1RjUEJIUnBiV1VHV3lKL2JBRT0ZD"
</pre><hr/><div><b>FB import: 2018-06-18 06:56:10</b></div><pre>string(5) "count"
int(100)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TlRBMk5qSTBNRGd3TnpBNU5qUTNNVE01TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkxTXpjeE1qUXlNakk1TkRBUEJIUnBiV1VHV3lKL2JBRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2T0RFME5UVTNNelE0TWpVMU1EZAzNNREV5TlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFUxTnpBM016WTFNekk1TkRBUEJIUnBiV1VHV1dUcTVRRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=100&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2T0RFME5UVTNNelE0TWpVMU1EZAzNNREV5TlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFUxTnpBM016WTFNekk1TkRBUEJIUnBiV1VHV1dUcTVRRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TlRBMk5qSTBNRGd3TnpBNU5qUTNNVE01TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkxTXpjeE1qUXlNakk1TkRBUEJIUnBiV1VHV3lKL2JBRT0ZD"
</pre><hr/><div><b>FB import: 2018-06-18 07:01:43</b></div><pre>string(5) "count"
int(100)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TmpJME1UQTBORGMzTlRjM09ERXdOall6TVE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFl6T1RBNE56WXhNekV5TkRFUEJIUnBiV1VHV3lKL2JRRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TWpVNE5ESTBPVEExTURJME5ERTVNemswTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVE01T1RZAek1UY3lNRFl5TkRFUEJIUnBiV1VHVnQ1cVlBRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=100&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TWpVNE5ESTBPVEExTURJME5ERTVNemswTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVE01T1RZAek1UY3lNRFl5TkRFUEJIUnBiV1VHVnQ1cVlBRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TmpJME1UQTBORGMzTlRjM09ERXdOall6TVE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFl6T1RBNE56WXhNekV5TkRFUEJIUnBiV1VHV3lKL2JRRT0ZD"
</pre><hr/><div><b>FB import: 2018-06-18 07:09:00</b></div><pre>string(5) "count"
int(100)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpFeU5qZAzFOVEUxTXpVMU1EVXlNemt3TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV5T0RrNE1ESTNOakV3T1RjUEJIUnBiV1VHV3lKL2JBRT0ZD"
    ["after"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ESTROekl3TURnMk9EYzBOVFkxTmpBUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRZANU9EQXhNVFEyTURrMlh6RTNORFUwT0RneU5EVTFNakkxTXpZAUEJIUnBiV1VHV2pjSEZA3RT0ZD"
  }
  ["next"]=>
  string(431) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=100&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ESTROekl3TURnMk9EYzBOVFkxTmpBUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRZANU9EQXhNVFEyTURrMlh6RTNORFUwT0RneU5EVTFNakkxTXpZAUEJIUnBiV1VHV2pjSEZA3RT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpFeU5qZAzFOVEUxTXpVMU1EVXlNemt3TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV5T0RrNE1ESTNOakV3T1RjUEJIUnBiV1VHV3lKL2JBRT0ZD"
</pre><hr/><div><b>FB import: 2018-06-18 07:12:13</b></div><pre>string(5) "count"
int(100)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAek16UTROVGd4TWpNNE9UazRNemN5TXpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRRd056QTRNek14TXpneUR3UjBhVzFsQmxzanlpQUIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVNE16QTFOREF6TkRjek1qUTVNVFl5TWpJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFU1TmpZANU5qTTNPVEExTURjMUR3UjBhVzFsQmxvMUp1QUIZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=100&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVNE16QTFOREF6TkRjek1qUTVNVFl5TWpJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFU1TmpZANU5qTTNPVEExTURjMUR3UjBhVzFsQmxvMUp1QUIZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAek16UTROVGd4TWpNNE9UazRNemN5TXpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRRd056QTRNek14TXpneUR3UjBhVzFsQmxzanlpQUIZD"
</pre><hr/><div><b>FB import: 2018-06-18 07:17:31</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-06-20 10:17:05</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRNMU5UTTFNVFU1TWpRek5USTNNemMxT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TURBME1EUXdNell3T1RjUEJIUnBiV1VHV3lrZAlV3RT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRNMU5UTTFNVFU1TWpRek5USTNNemMxT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TURBME1EUXdNell3T1RjUEJIUnBiV1VHV3lrZAlV3RT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRNMU5UTTFNVFU1TWpRek5USTNNemMxT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TURBME1EUXdNell3T1RjUEJIUnBiV1VHV3lrZAlV3RT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRNMU5UTTFNVFU1TWpRek5USTNNemMxT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TURBME1EUXdNell3T1RjUEJIUnBiV1VHV3lrZAlV3RT0ZD"
</pre><hr/><div><b>FB import: 2018-06-20 10:17:25</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAek16UTROVGd4TWpNNE9UazRNemN5TXpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRRd056QTRNek14TXpneUR3UjBhVzFsQmxzanlpQUIZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRBek1qazNOalU1TVRnek1qTTJNRGN6T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFl6T0RRM01EUXhNREV6T0RJUEJIUnBiV1VHV3dXSStBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRBek1qazNOalU1TVRnek1qTTJNRGN6T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFl6T0RRM01EUXhNREV6T0RJUEJIUnBiV1VHV3dXSStBRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAek16UTROVGd4TWpNNE9UazRNemN5TXpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRRd056QTRNek14TXpneUR3UjBhVzFsQmxzanlpQUIZD"
</pre><hr/><div><b>FB import: 2018-06-21 08:15:26</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRJd09EYzVNVGczTkRVd016VTBPVGczTXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpBeE9ETXhNelF4TURrM0R3UjBhVzFsQmxzcVJRZA0IZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRJd09EYzVNVGczTkRVd016VTBPVGczTXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpBeE9ETXhNelF4TURrM0R3UjBhVzFsQmxzcVJRZA0IZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRJd09EYzVNVGczTkRVd016VTBPVGczTXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpBeE9ETXhNelF4TURrM0R3UjBhVzFsQmxzcVJRZA0IZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRJd09EYzVNVGczTkRVd016VTBPVGczTXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpBeE9ETXhNelF4TURrM0R3UjBhVzFsQmxzcVJRZA0IZD"
</pre><hr/><div><b>FB import: 2018-06-21 08:17:28</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVeE9EZAzROVGd6TVRReU16VTNNREUxTnpZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRVMk16VXlORFV4TXpneUR3UjBhVzFsQmxzcVJWMEIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVeE9EZAzROVGd6TVRReU16VTNNREUxTnpZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRVMk16VXlORFV4TXpneUR3UjBhVzFsQmxzcVJWMEIZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVeE9EZAzROVGd6TVRReU16VTNNREUxTnpZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRVMk16VXlORFV4TXpneUR3UjBhVzFsQmxzcVJWMEIZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRVeE9EZAzROVGd6TVRReU16VTNNREUxTnpZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRVMk16VXlORFV4TXpneUR3UjBhVzFsQmxzcVJWMEIZD"
</pre><hr/><div><b>FB import: 2018-06-21 08:18:40</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
</pre><hr/><div><b>FB import: 2018-06-21 08:25:25</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-06-21 09:56:46</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNMU1EUXlPVEk0TVRrMU16TTJOamt6TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTlRVeU16RTFOekkzT1RRd0R3UjBhVzFsQmxzcVJRZA0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNMU1EUXlPVEk0TVRrMU16TTJOamt6TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTlRVeU16RTFOekkzT1RRd0R3UjBhVzFsQmxzcVJRZA0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNMU1EUXlPVEk0TVRrMU16TTJOamt6TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTlRVeU16RTFOekkzT1RRd0R3UjBhVzFsQmxzcVJRZA0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNMU1EUXlPVEk0TVRrMU16TTJOamt6TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTlRVeU16RTFOekkzT1RRd0R3UjBhVzFsQmxzcVJRZA0IZD"
</pre><hr/><div><b>FB import: 2018-06-27 14:08:51</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2T0Rrek1ERXlOakU1TkRNNE5qZAzFNVFUzTmc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFl3TkRjM01EQXlOekV5TkRFUEJIUnBiV1VHV25uTW5RRT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2T0Rrek1ERXlOakU1TkRNNE5qZAzFNVFUzTmc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFl3TkRjM01EQXlOekV5TkRFUEJIUnBiV1VHV25uTW5RRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJME16azRPREl6TWpjM05UazVNRGMxTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkwTURVMk16TXdOakV5TkRFUEJIUnBiV1VHV3lwRkNBRT0ZD"
</pre><hr/><div><b>FB import: 2018-07-09 06:44:26</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNME16UTNNekUxTmpJNE1USTVNVEF3TXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpNek5URTBORGcyTURrM0R3UjBhVzFsQmxzL2dHd0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNME16UTNNekUxTmpJNE1USTVNVEF3TXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpNek5URTBORGcyTURrM0R3UjBhVzFsQmxzL2dHd0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNME16UTNNekUxTmpJNE1USTVNVEF3TXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpNek5URTBORGcyTURrM0R3UjBhVzFsQmxzL2dHd0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNME16UTNNekUxTmpJNE1USTVNVEF3TXpVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpNek5URTBORGcyTURrM0R3UjBhVzFsQmxzL2dHd0IZD"
</pre><hr/><div><b>FB import: 2018-07-09 06:45:02</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRek1qWXdNekUwTmpnME16WTBPREExTnprUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRrME1EQXhOVGMyTXpneUR3UjBhVzFsQmxzK05td0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAeE1qQXhPVE0wTURFd05qQXlPRE00TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRnNU16Y3pOVFl4TXpneUR3UjBhVzFsQmxzN21yQUIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAeE1qQXhPVE0wTURFd05qQXlPRE00TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRnNU16Y3pOVFl4TXpneUR3UjBhVzFsQmxzN21yQUIZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRek1qWXdNekUwTmpnME16WTBPREExTnprUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTkRrME1EQXhOVGMyTXpneUR3UjBhVzFsQmxzK05td0IZD"
</pre><hr/><div><b>FB import: 2018-08-07 13:58:49</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TVRFME1UQTJNRFE1T0RVME1qSTVPVGt4T1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkxTkRZAeE5qUTBNekV6T0RJUEJIUnBiV1VHVzFuVTJBRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRnd01UYzBOakUyTWpFMk1UQXdNVEV6TnpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTlRBMU9ESXhPRGMyTXpneUR3UjBhVzFsQmx0RXpld0IZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRnd01UYzBOakUyTWpFMk1UQXdNVEV6TnpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTlRBMU9ESXhPRGMyTXpneUR3UjBhVzFsQmx0RXpld0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TVRFME1UQTJNRFE1T0RVME1qSTVPVGt4T1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkxTkRZAeE5qUTBNekV6T0RJUEJIUnBiV1VHVzFuVTJBRT0ZD"
</pre><hr/><div><b>FB import: 2018-08-07 14:05:36</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpJM05UQTJNVFUxTkRjek5ERXdNRE0zT0E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TnpRNU9EVTBPVEV3T1RjUEJIUnBiV1VHVzFuVU9nRT0ZD"
    ["after"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZANE5EYzROakF3TnpJeU56ZAzNOemcwTWpJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpRek1EazROell4TURrM0R3UjBhVzFsQmx0RXpld0IZD"
  }
  ["next"]=>
  string(430) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZANE5EYzROakF3TnpJeU56ZAzNOemcwTWpJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTXpRek1EazROell4TURrM0R3UjBhVzFsQmx0RXpld0IZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpJM05UQTJNVFUxTkRjek5ERXdNRE0zT0E4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFV6TnpRNU9EVTBPVEV3T1RjUEJIUnBiV1VHVzFuVU9nRT0ZD"
</pre><hr/><div><b>FB import: 2018-08-27 10:43:37</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRReU1ESTROVGt4T1RNME5URXpOakF5TkRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRNeU16ZAzJOelkyTURrM0R3UjBhVzFsQmx0K2ZAtUUIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2TXpBek5qQTJOVE14TmpVMk1USTNNakk0RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVFF3TkRRd09ERTBNVEE1Tnc4RWRHbHRaUVpiYkY0aEFRPT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2TXpBek5qQTJOVE14TmpVMk1USTNNakk0RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVFF3TkRRd09ERTBNVEE1Tnc4RWRHbHRaUVpiYkY0aEFRPT0ZD"
}
string(6) "before"
string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRReU1ESTROVGt4T1RNME5URXpOakF5TkRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRNeU16ZAzJOelkyTURrM0R3UjBhVzFsQmx0K2ZAtUUIZD"
</pre><hr/><div><b>FB import: 2018-08-27 10:47:00</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRneE16VTNORGs0TmpBM05UWTROVGMyTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTVRVMk1EY3hOREV6T0RJUEJIUnBiV1VHVzM1OGtRRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TXprNE5qTXdORFU0T0RFMk56TTJOalEzTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkxT0RBME5qUXlPRFl6T0RJUEJIUnBiV1VHVzJ4Y2NnRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TXprNE5qTXdORFU0T0RFMk56TTJOalEzTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkxT0RBME5qUXlPRFl6T0RJUEJIUnBiV1VHVzJ4Y2NnRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRneE16VTNORGs0TmpBM05UWTROVGMyTWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTVRVMk1EY3hOREV6T0RJUEJIUnBiV1VHVzM1OGtRRT0ZD"
</pre><hr/><div><b>FB import: 2018-08-27 10:49:45</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRnME9UZAzBOems1TnpNeU9UVXpNalUyTnpRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTnpJeE5ETTRNRE0zT1RRd0R3UjBhVzFsQmx0K21vUUIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRVMk9UY3pOREkzTURJNU56STBOVFE0TURNUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRrNU5UQXlORGMzT1RNNVh6RXdOekUwTVRFek5UWXpOVGMzTVRZAUEJIUnBiV1VHVzNrY3ZAnRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRVMk9UY3pOREkzTURJNU56STBOVFE0TURNUERHRndhVjl6ZAEc5eWVWOXBaQThkTVRrNU5UQXlORGMzT1RNNVh6RXdOekUwTVRFek5UWXpOVGMzTVRZAUEJIUnBiV1VHVzNrY3ZAnRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRnME9UZAzBOems1TnpNeU9UVXpNalUyTnpRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTnpJeE5ETTRNRE0zT1RRd0R3UjBhVzFsQmx0K21vUUIZD"
</pre><hr/><div><b>FB import: 2018-08-27 11:34:54</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJNU16VTRPVFkwTXpFeU1EVTJPVFUzTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxTmpFM01Ua3pNVEV5TkRFUEJIUnBiV1VHVzMyRjJBRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRnM016Y3dPVGd4TURNd01UVTJOelk0TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRrNE5EUTFOVGMyTWpRd1h6Y3dOakU1TnpFNU5qTTROekl6Tmc4RWRHbHRaUVpiZAVFsQUFRPT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRnM016Y3dPVGd4TURNd01UVTJOelk0TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRrNE5EUTFOVGMyTWpRd1h6Y3dOakU1TnpFNU5qTTROekl6Tmc4RWRHbHRaUVpiZAVFsQUFRPT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJNU16VTRPVFkwTXpFeU1EVTJPVFUzTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxTmpFM01Ua3pNVEV5TkRFUEJIUnBiV1VHVzMyRjJBRT0ZD"
</pre><hr/><div><b>FB import: 2018-09-11 11:50:01</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRJeE9UWTBPVGswT0RVMk5ETTBNRGcyT0RjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTnpZANU56UTVOVEV5T1RRd0R3UjBhVzFsQmx1V2ZALQUIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRZAME5UTXhOemd6TkRJek9UTTFNREF5TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkzTkRJeU5qTXpPVEk1TkRBUEJIUnBiV1VHVzRsYjdBRT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRZAME5UTXhOemd6TkRJek9UTTFNREF5TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkzTkRJeU5qTXpPVEk1TkRBUEJIUnBiV1VHVzRsYjdBRT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRJeE9UWTBPVGswT0RVMk5ETTBNRGcyT0RjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyTnpZANU56UTVOVEV5T1RRd0R3UjBhVzFsQmx1V2ZALQUIZD"
</pre><hr/><div><b>FB import: 2018-09-11 11:50:51</b></div><pre>string(5) "count"
int(7)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRFNE5UZA3hOVFEyT1RBM05ERTBNamN4TURnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRZAM01Ea3hOall4TURrM0R3UjBhVzFsQmx1V2ZALQUIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ERTNNakl6TlRJME9UTXhNak01TURjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRRd05UUTBPVEEyTURrM0R3UjBhVzFsQmx1RURrOEIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMU5ERTNNakl6TlRJME9UTXhNak01TURjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRRd05UUTBPVEEyTURrM0R3UjBhVzFsQmx1RURrOEIZD"
}
string(6) "before"
string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRFNE5UZA3hOVFEyT1RBM05ERTBNamN4TURnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRZAM01Ea3hOall4TURrM0R3UjBhVzFsQmx1V2ZALQUIZD"
</pre><hr/><div><b>FB import: 2018-09-11 11:52:19</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-09-11 11:53:10</b></div><pre>string(5) "count"
int(4)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TlRNeE9ETXpOemt4TURVMU9UQXdOakk1TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxT0RFeE1EQTFPVFl5TkRFUEJIUnBiV1VHVzVLSUlBRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TXpnNE1ESXlOVE13T1RBM09ETXdPVEEwTkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxT0RJd056QXhOell5TkRFUEJIUnBiV1VHVzRsYjdBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TXpnNE1ESXlOVE13T1RBM09ETXdPVEEwTkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxT0RJd056QXhOell5TkRFUEJIUnBiV1VHVzRsYjdBRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TlRNeE9ETXpOemt4TURVMU9UQXdOakk1TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxT0RFeE1EQTFPVFl5TkRFUEJIUnBiV1VHVzVLSUlBRT0ZD"
</pre><hr/><div><b>FB import: 2018-09-11 11:54:52</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-09-11 11:57:36</b></div><pre>string(5) "count"
int(7)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhORGczTXpjek56WXpPREU2TFRnNE5EazJPREU0TmpZAME5EZAzBPVGczRHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUwT0Rjek56TTNOak00TVY4eE1ERTFOalkyTURFME9EazROak00TWc4RWRHbHRaUVpibG55ZA0FRPT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpFNE1qWTVOekEwT1RBMk1UY3dPRGczTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTWpZAek1UTXdOVEV6T0RJUEJIUnBiV1VHVzRRTlp3RT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpFNE1qWTVOekEwT1RBMk1UY3dPRGczTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTWpZAek1UTXdOVEV6T0RJUEJIUnBiV1VHVzRRTlp3RT0ZD"
}
string(6) "before"
string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhORGczTXpjek56WXpPREU2TFRnNE5EazJPREU0TmpZAME5EZAzBPVGczRHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUwT0Rjek56TTNOak00TVY4eE1ERTFOalkyTURFME9EazROak00TWc4RWRHbHRaUVpibG55ZA0FRPT0ZD"
</pre><hr/><div><b>FB import: 2018-09-15 08:18:24</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek56ZA3hNVFkwTURJNU56ZA3lNREl3TVRnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRjMk16RXhORGcyTURrM0R3UjBhVzFsQmx1Y3YrWUIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRME1qTTFNVFF4T0RRME1UQTJORFl5TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6UTVNekU0TnpBek1UQTVNVEkwTmc4RWRHbHRaUVpiZAVJkdUFRPT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRME1qTTFNVFF4T0RRME1UQTJORFl5TWpVUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6UTVNekU0TnpBek1UQTVNVEkwTmc4RWRHbHRaUVpiZAVJkdUFRPT0ZD"
}
string(6) "before"
string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek56ZA3hNVFkwTURJNU56ZA3lNREl3TVRnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRjMk16RXhORGcyTURrM0R3UjBhVzFsQmx1Y3YrWUIZD"
</pre><hr/><div><b>FB import: 2018-09-15 08:20:42</b></div><pre>string(5) "count"
int(4)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TWpjd056WXdNVE0wTURnd09UUTBNell6TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTnpJME56azJOREV6T0RJUEJIUnBiV1VHVzV5LzlBRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRFMk16QXdPRFl6TlRVM05qUTJOVGN3TkRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpZAeU56STBPRFkyTXpneUR3UjBhVzFsQmx1WDNHd0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRFMk16QXdPRFl6TlRVM05qUTJOVGN3TkRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpZAeU56STBPRFkyTXpneUR3UjBhVzFsQmx1WDNHd0IZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TWpjd056WXdNVE0wTURnd09UUTBNell6TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkyTnpJME56azJOREV6T0RJUEJIUnBiV1VHVzV5LzlBRT0ZD"
</pre><hr/><div><b>FB import: 2018-09-15 08:21:47</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRRMk1qSXpOekU1TlRneE5qWTRNekUwTlRRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUyTmpFNE1URXpOVFkyTWpReER3UjBhVzFsQmx1Y3ZArSUIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRrd01EVTROalUzTnpJeU56YzBNVEV3TkRZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUyTXpBek5UWXpNVEF4TWpReER3UjBhVzFsQmxyeXBBMEIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRrd01EVTROalUzTnpJeU56YzBNVEV3TkRZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUyTXpBek5UWXpNVEF4TWpReER3UjBhVzFsQmxyeXBBMEIZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRRMk1qSXpOekU1TlRneE5qWTRNekUwTlRRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUyTmpFNE1URXpOVFkyTWpReER3UjBhVzFsQmx1Y3ZArSUIZD"
</pre><hr/><div><b>FB import: 2018-09-25 11:28:15</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2TVRFMk1qWTVPRGt5T1RFeU16VXdOams0RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVFE0TkRNNE5EVXhOakE1Tnc4RWRHbHRaUVpicVAvc0FRPT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek1ERXpOek0zT0RjeU1qUTJOakV5TmpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRnME16YzNOalV4TURrM0R3UjBhVzFsQmx1aWFHd0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek1ERXpOek0zT0RjeU1qUTJOakV5TmpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTkRnME16YzNOalV4TURrM0R3UjBhVzFsQmx1aWFHd0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2TVRFMk1qWTVPRGt5T1RFeU16VXdOams0RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVFE0TkRNNE5EVXhOakE1Tnc4RWRHbHRaUVpicVAvc0FRPT0ZD"
</pre><hr/><div><b>FB import: 2018-09-25 11:29:25</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRjMU5qVXhNRGsyT0RRMk9EZAzNOemN5TlRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpnek1EUXpNakUyTXpneUR3UjBhVzFsQmx1by8rd0IZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJeE16Y3pNalF6T0RReE9UUTBNRFEzTmpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpnek1ERTBOVGN4TXpneUR3UjBhVzFsQmx1aWFHd0IZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJeE16Y3pNalF6T0RReE9UUTBNRFEzTmpNUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpnek1ERTBOVGN4TXpneUR3UjBhVzFsQmx1aWFHd0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRjMU5qVXhNRGsyT0RRMk9EZAzNOemN5TlRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTmpnek1EUXpNakUyTXpneUR3UjBhVzFsQmx1by8rd0IZD"
</pre><hr/><div><b>FB import: 2018-10-04 17:39:00</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZAeE5qWXlNVEEwTkRRMk5qQTBOekUzTkRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRFek9ERXhPVGsyTURrM0R3UjBhVzFsQmx1Mk1KOEIZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TkRrME9UTXpOakV4TVRVMU9EVXhNekkxTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUxTURjNE1qSTRNRFl3T1RjUEJIUnBiV1VHVzdJd3N3RT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TkRrME9UTXpOakV4TVRVMU9EVXhNekkxTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUxTURjNE1qSTRNRFl3T1RjUEJIUnBiV1VHVzdJd3N3RT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZAeE5qWXlNVEEwTkRRMk5qQTBOekUzTkRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRFek9ERXhPVGsyTURrM0R3UjBhVzFsQmx1Mk1KOEIZD"
</pre><hr/><div><b>FB import: 2018-10-04 17:54:14</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpRMk9ERXhNelU0T1RZAMU9EUTRPVEF5Tnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkzTVRjd09URXdOVFl6T0RJUEJIUnBiV1VHVzdUeEl3RT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRMk9EWXhOelEyTlRNeU56RTJOekl4T1RnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpFeE9UUTNPVFUyTXpneUR3UjBhVzFsQmx1eU1rb0IZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRMk9EWXhOelEyTlRNeU56RTJOekl4T1RnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpFeE9UUTNPVFUyTXpneUR3UjBhVzFsQmx1eU1rb0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpRMk9ERXhNelU0T1RZAMU9EUTRPVEF5Tnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFkzTVRjd09URXdOVFl6T0RJUEJIUnBiV1VHVzdUeEl3RT0ZD"
</pre><hr/><div><b>FB import: 2018-10-04 18:06:51</b></div><pre>string(5) "count"
int(4)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhPVGcwTkRVMU56WXlOREE2TXpRd05qY3lORGN4TWprMU16azNNVE01RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakU1T0RRME5UVTNOakkwTUY4eE1ERTFOalkyTVRJNU5qVTNNVEkwTVE4RWRHbHRaUVpidE84SUFRPT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TlRBek1Ea3lOVFF4TnpRNU1qRXhPVGcwT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkyTWpneE56VTFOVEV5TkRFUEJIUnBiV1VHVzZAKb2JBRT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TlRBek1Ea3lOVFF4TnpRNU1qRXhPVGcwT1E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkyTWpneE56VTFOVEV5TkRFUEJIUnBiV1VHVzZAKb2JBRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhPVGcwTkRVMU56WXlOREE2TXpRd05qY3lORGN4TWprMU16azNNVE01RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakU1T0RRME5UVTNOakkwTUY4eE1ERTFOalkyTVRJNU5qVTNNVEkwTVE4RWRHbHRaUVpidE84SUFRPT0ZD"
</pre><hr/><div><b>FB import: 2018-10-04 18:07:32</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-10-04 18:07:45</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRnek56VTVNekV6TnpRNU16UTRNelUzTmpFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyT0RJMk9EZAzBOVEF5T1RRd0R3UjBhVzFsQmx1MDhjQUIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TXpFNE5EZAzBOVEl5TVRZANE56VXpOemN3TUE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkzTnpJNU5UVTBNVGM1TkRBUEJIUnBiV1VHVzVmY2JBRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TXpFNE5EZAzBOVEl5TVRZANE56VXpOemN3TUE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFkzTnpJNU5UVTBNVGM1TkRBUEJIUnBiV1VHVzVmY2JBRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRnek56VTVNekV6TnpRNU16UTRNelUzTmpFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUyT0RJMk9EZAzBOVEF5T1RRd0R3UjBhVzFsQmx1MDhjQUIZD"
</pre><hr/><div><b>FB import: 2018-10-08 07:49:20</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRjeE16Y3hOVGcwTWpZAeU1qRTNOamN6TkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFk0TXpBMk1qRXdNemM1TkRBUEJIUnBiV1VHVzdidjVRRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRjeE16Y3hOVGcwTWpZAeU1qRTNOamN6TkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFk0TXpBMk1qRXdNemM1TkRBUEJIUnBiV1VHVzdidjVRRT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRjeE16Y3hOVGcwTWpZAeU1qRTNOamN6TkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFk0TXpBMk1qRXdNemM1TkRBUEJIUnBiV1VHVzdidjVRRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRjeE16Y3hOVGcwTWpZAeU1qRTNOamN6TkE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVFk0TXpBMk1qRXdNemM1TkRBUEJIUnBiV1VHVzdidjVRRT0ZD"
</pre><hr/><div><b>FB import: 2018-10-08 07:49:41</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-10-08 07:50:17</b></div><pre>string(5) "count"
int(14)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek56RTRNalkwTnpjNU5URTFOVFV4TkRVUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6TXdOemN5TmpFek1EQTFOREV3TWc4RWRHbHRaUVpidDlPTkFRPT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnek5UTTFNVFEyT1RRMk16UTNNVGMzT0RnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRFek56QXdORFUyTURrM0R3UjBhVzFsQmx1Mjc5RUIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnek5UTTFNVFEyT1RRMk16UTNNVGMzT0RnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRFek56QXdORFUyTURrM0R3UjBhVzFsQmx1Mjc5RUIZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRjek56RTRNalkwTnpjNU5URTFOVFV4TkRVUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6TXdOemN5TmpFek1EQTFOREV3TWc4RWRHbHRaUVpidDlPTkFRPT0ZD"
</pre><hr/><div><b>FB import: 2018-10-08 07:54:10</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRjek5qa3pPREl4TlRBd016YzNPVEV5T1RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpJeU5qWTJOekV4TXpneUR3UjBhVzFsQmx1MzBUUUIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNeU16QTBOakk0TXpBM05ESXlNREV4T0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpFNU16ZAzROelkyTXpneUR3UjBhVzFsQmx1MjRjRUIZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNeU16QTBOakk0TXpBM05ESXlNREV4T0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpFNU16ZAzROelkyTXpneUR3UjBhVzFsQmx1MjRjRUIZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRjek5qa3pPREl4TlRBd016YzNPVEV5T1RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpJeU5qWTJOekV4TXpneUR3UjBhVzFsQmx1MzBUUUIZD"
</pre><hr/><div><b>FB import: 2018-10-08 09:27:40</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-10-08 09:27:52</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2018-12-11 07:59:59</b></div><pre>string(5) "count"
int(12)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TVRjek1EWTFNREF5TmpRMU9UVTVOVE01Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFk0TnpFd01EZAzVPRFl6T0RJUEJIUnBiV1VHWEFwVEt3RT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJNE16VTBPVEU0T1RreU5qVTFNemt5T0RRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpNd016VXpOamd4TXpneUR3UjBhVzFsQmx1N2VKY0IZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJNE16VTBPVEU0T1RreU5qVTFNemt5T0RRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyTnpNd016VXpOamd4TXpneUR3UjBhVzFsQmx1N2VKY0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TVRjek1EWTFNREF5TmpRMU9UVTVOVE01Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFk0TnpFd01EZAzVPRFl6T0RJUEJIUnBiV1VHWEFwVEt3RT0ZD"
</pre><hr/><div><b>FB import: 2018-12-11 08:01:22</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRBNU5UVTNNVE0wTmpVeU5qRTFPRFEyTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUyTXpRek5qVXlOall3T1RjUEJIUnBiV1VHWEFxYy9BRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNMU56QTNPVFU0TURBNU5qSXpNRFE0TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRJNE1UazVNemMyTURrM0R3UjBhVzFsQmx2QXJLQUIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNMU56QTNPVFU0TURBNU5qSXpNRFE0TVRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTlRJNE1UazVNemMyTURrM0R3UjBhVzFsQmx2QXJLQUIZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TlRBNU5UVTNNVE0wTmpVeU5qRTFPRFEyTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUyTXpRek5qVXlOall3T1RjUEJIUnBiV1VHWEFxYy9BRT0ZD"
</pre><hr/><div><b>FB import: 2019-01-24 13:31:39</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRVNU5EUXdNRGs0T1RVek9ETXpORE15TmpBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTmpVMU5qTTBPVE14TURrM0R3UjBhVzFsQmx3WStZAc0IZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZAME9UTTNPREk0TXpBeE9UVTVNalUzTWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTmpRME1qVTBOalkyTURrM0R3UjBhVzFsQmx3UXFjUUIZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRZAME9UTTNPREk0TXpBeE9UVTVNalUzTWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTmpRME1qVTBOalkyTURrM0R3UjBhVzFsQmx3UXFjUUIZD"
  ["previous"]=>
  string(430) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRVNU5EUXdNRGs0T1RVek9ETXpORE15TmpBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTmpVMU5qTTBPVE14TURrM0R3UjBhVzFsQmx3WStZAc0IZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRVNU5EUXdNRGs0T1RVek9ETXpORE15TmpBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTmpVMU5qTTBPVE14TURrM0R3UjBhVzFsQmx3WStZAc0IZD"
</pre><hr/><div><b>FB import: 2019-01-24 13:56:27</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNNE56RTVOek01TlRReE5qTTVOVGM0TWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT1RBME5EZAzVNak14TXpneUR3UjBhVzFsQmx3Y3NKa0IZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRReU9EYzBOelF6TURBek1UVTVPVGcwTkRRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT0Rrek16a3dOemt4TXpneUR3UjBhVzFsQmx3V0xXWUIZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRReU9EYzBOelF6TURBek1UVTVPVGcwTkRRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT0Rrek16a3dOemt4TXpneUR3UjBhVzFsQmx3V0xXWUIZD"
  ["previous"]=>
  string(429) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNNE56RTVOek01TlRReE5qTTVOVGM0TWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT1RBME5EZAzVNak14TXpneUR3UjBhVzFsQmx3Y3NKa0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNNE56RTVOek01TlRReE5qTTVOVGM0TWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT1RBME5EZAzVNak14TXpneUR3UjBhVzFsQmx3Y3NKa0IZD"
</pre><hr/><div><b>FB import: 2019-01-24 14:13:03</b></div><pre>string(5) "count"
int(8)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(205) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4NHhORGczTXpjek56WXpPREU2TnpjME9UWTFNVFl4TVRFeU9EZAzVNRFVQREdGd2FWOXpkRzl5ZAVY5cFpBOGVNVFE0TnpNM016YzJNemd4WHpFd01UVTJPVGd4TWpFNU56VXhNemd5RHdSMGFXMWxCbHhIUWZA3QgZDZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAMk1qVXpNVFUyTmpRME5ERTBNVGMxT0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT1RBME5USTROalV4TXpneUR3UjBhVzFsQmx3Y3V6d0IZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRZAMk1qVXpNVFUyTmpRME5ERTBNVGMxT0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUyT1RBME5USTROalV4TXpneUR3UjBhVzFsQmx3Y3V6d0IZD"
}
string(6) "before"
string(205) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4NHhORGczTXpjek56WXpPREU2TnpjME9UWTFNVFl4TVRFeU9EZAzVNRFVQREdGd2FWOXpkRzl5ZAVY5cFpBOGVNVFE0TnpNM016YzJNemd4WHpFd01UVTJPVGd4TWpFNU56VXhNemd5RHdSMGFXMWxCbHhIUWZA3QgZDZD"
</pre><hr/><div><b>FB import: 2019-01-24 14:18:57</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2T0RVMk1UZA3hPREUzTXpZAME1ESXlNamMyTlE4TVlYQnBYM04wYjNKNVgybGtEeDB4TmprNE1ERXhORFl3T1RaZAk1qQXdOemt3T0RjM05UazJOREF3TWc4RWRHbHRaUVpjSFFUMUFRPT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TFRneE56STNNakV6TkRJek1ERTBOakE1Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUyTlRVM01UYzNNRFl3T1RjUEJIUnBiV1VHWEJrR0hBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TFRneE56STNNakV6TkRJek1ERTBOakE1Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUyTlRVM01UYzNNRFl3T1RjUEJIUnBiV1VHWEJrR0hBRT0ZD"
  ["previous"]=>
  string(430) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2T0RVMk1UZA3hPREUzTXpZAME1ESXlNamMyTlE4TVlYQnBYM04wYjNKNVgybGtEeDB4TmprNE1ERXhORFl3T1RaZAk1qQXdOemt3T0RjM05UazJOREF3TWc4RWRHbHRaUVpjSFFUMUFRPT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2T0RVMk1UZA3hPREUzTXpZAME1ESXlNamMyTlE4TVlYQnBYM04wYjNKNVgybGtEeDB4TmprNE1ERXhORFl3T1RaZAk1qQXdOemt3T0RjM05UazJOREF3TWc4RWRHbHRaUVpjSFFUMUFRPT0ZD"
</pre><hr/><div><b>FB import: 2019-01-24 14:32:00</b></div><pre>string(5) "count"
int(9)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TXpJMk56azNPRGd3TkRBek1ESTBPVGN6TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzTWpNM01UWTRPRFl3T1RjUEJIUnBiV1VHWEVkQi9BRT0ZD"
    ["after"]=>
    string(204) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TXpBM09URTRNelF4TmpnMk56ZAzFOamt3TUE4TVlYQnBYM04wYjNKNVgybGtEeHd4TmprNE1ERXhORFl3T1RaZAk16UTBOall5TVRJek1ERTFOelF4RHdSMGFXMWxCbHdkTVd3QgZDZD"
  }
  ["next"]=>
  string(425) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TXpBM09URTRNelF4TmpnMk56ZAzFOamt3TUE4TVlYQnBYM04wYjNKNVgybGtEeHd4TmprNE1ERXhORFl3T1RaZAk16UTBOall5TVRJek1ERTFOelF4RHdSMGFXMWxCbHdkTVd3QgZDZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TXpJMk56azNPRGd3TkRBek1ESTBPVGN6TXc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzTWpNM01UWTRPRFl3T1RjUEJIUnBiV1VHWEVkQi9BRT0ZD"
</pre><hr/><div><b>FB import: 2019-01-24 14:33:12</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TWpneU1qTXlORGd5TmpJNE16ZA3dORFUyTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN4TURZAeE1EWTNNakk1TkRBUEJIUnBiV1VHWEVkQi9BRT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRVM016Y3pNVFF4TnpZANU1UTTNPVGcwTmpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTURFM01UazJORGMzT1RRd0R3UjBhVzFsQmx3WTVSQUIZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRVM016Y3pNVFF4TnpZANU1UTTNPVGcwTmpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTURFM01UazJORGMzT1RRd0R3UjBhVzFsQmx3WTVSQUIZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TWpneU1qTXlORGd5TmpJNE16ZA3dORFUyTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN4TURZAeE1EWTNNakk1TkRBUEJIUnBiV1VHWEVkQi9BRT0ZD"
</pre><hr/><div><b>FB import: 2019-01-24 15:27:57</b></div><pre>string(5) "count"
int(0)
string(6) "paging"
NULL
string(6) "before"
NULL
</pre><hr/><div><b>FB import: 2019-02-13 20:17:24</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRjNE9UazRNVGN4T0RJNU5UTXhPVEEyTXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFk1TnpRME16azVNRFl5TkRFUEJIUnBiV1VHWEdPMmtRRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJNU16VTRPVFkwTXpFeU1EVTJPVFUzTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxTmpFM01Ua3pNVEV5TkRFUEJIUnBiV1VHVzMyRjJBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRJNU16VTRPVFkwTXpFeU1EVTJPVFUzTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFkxTmpFM01Ua3pNVEV5TkRFUEJIUnBiV1VHVzMyRjJBRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TVRjNE9UazRNVGN4T0RJNU5UTXhPVEEyTXc4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVFk1TnpRME16azVNRFl5TkRFUEJIUnBiV1VHWEdPMmtRRT0ZD"
</pre><hr/><div><b>FB import: 2019-02-14 05:58:02</b></div><pre>string(5) "count"
int(7)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNM01Ua3lNakkzTURnMU9USTFPREkyTVRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpZAME1EY3hNemcyTURrM0R3UjBhVzFsQmx4aTlHWUIZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpRM01ERXlORGMwTURJek9UY3lNekUxTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzTXpZAMU16QTNOVFl3T1RjUEJIUnBiV1VHWEZADUlJBRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TWpRM01ERXlORGMwTURJek9UY3lNekUxTnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzTXpZAMU16QTNOVFl3T1RjUEJIUnBiV1VHWEZADUlJBRT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNM01Ua3lNakkzTURnMU9USTFPREkyTVRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpZAME1EY3hNemcyTURrM0R3UjBhVzFsQmx4aTlHWUIZD"
</pre><hr/><div><b>FB import: 2019-02-14 05:58:55</b></div><pre>string(5) "count"
int(7)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpNME1ERTJNakF4TnpJeE56VTFNalk1Tnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TXpNNE1qSXdNakV6T0RJUEJIUnBiV1VHWEdMMVd3RT0ZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpVMU56azVNalU0TWpNNE1Ea3hPRFU1TlE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFk1T1RjNE1UTTJPRFl6T0RJUEJIUnBiV1VHWEZADUXN3RT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpVMU56azVNalU0TWpNNE1Ea3hPRFU1TlE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVFk1T1RjNE1UTTJPRFl6T0RJUEJIUnBiV1VHWEZADUXN3RT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpNME1ERTJNakF4TnpJeE56VTFNalk1Tnc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TXpNNE1qSXdNakV6T0RJUEJIUnBiV1VHWEdMMVd3RT0ZD"
</pre><hr/><div><b>FB import: 2019-02-14 06:40:00</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNNU9UVTFNREF4TWpVeE5UZAzFOVEF5T1RrUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTVRZAeE1URTVNell5T1RRd0R3UjBhVzFsQmx4anRYRUIZD"
    ["after"]=>
    string(203) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TmpreE9UYzJORFUyT1RJd09UQTVPREkwTlE4TVlYQnBYM04wYjNKNVgybGtEeHd4T1RrMU1ESTBOemM1TXpsZAk16azFNRFV6TlRVM056QTBNamN4RHdSMGFXMWxCbHdaSWhBQgZDZD"
  }
  ["next"]=>
  string(424) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TmpreE9UYzJORFUyT1RJd09UQTVPREkwTlE4TVlYQnBYM04wYjNKNVgybGtEeHd4T1RrMU1ESTBOemM1TXpsZAk16azFNRFV6TlRVM056QTBNamN4RHdSMGFXMWxCbHdaSWhBQgZDZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRNNU9UVTFNREF4TWpVeE5UZAzFOVEF5T1RrUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTVRZAeE1URTVNell5T1RRd0R3UjBhVzFsQmx4anRYRUIZD"
</pre><hr/><div><b>FB import: 2019-02-27 16:28:07</b></div><pre>string(5) "count"
int(5)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnNU9UYzJNVE13T1RNMk5EWTJOVEF3TkRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpreE5UTXpNVGcyTURrM0R3UjBhVzFsQmx4MWhjc0IZD"
    ["after"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRFME9URTRNRFEwTlRJeU9EZA3lOalUxTlRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpZANE5EVTNNRGN4TURrM0R3UjBhVzFsQmx4bG5Ca0IZD"
  }
  ["next"]=>
  string(430) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRFME9URTRNRFEwTlRJeU9EZA3lOalUxTlRJUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpZANE5EVTNNRGN4TURrM0R3UjBhVzFsQmx4bG5Ca0IZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnNU9UYzJNVE13T1RNMk5EWTJOVEF3TkRBUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxTnpreE5UTXpNVGcyTURrM0R3UjBhVzFsQmx4MWhjc0IZD"
</pre><hr/><div><b>FB import: 2019-02-27 16:30:38</b></div><pre>string(5) "count"
int(1)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TkRFd05qQTJOREUyTWpFNE1UVTFORFkwTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3TURVMk1UWTNOVFl5TkRFUEJIUnBiV1VHWEhUVUV3RT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TkRFd05qQTJOREUyTWpFNE1UVTFORFkwTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3TURVMk1UWTNOVFl5TkRFUEJIUnBiV1VHWEhUVUV3RT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TkRFd05qQTJOREUyTWpFNE1UVTFORFkwTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3TURVMk1UWTNOVFl5TkRFUEJIUnBiV1VHWEhUVUV3RT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TkRFd05qQTJOREUyTWpFNE1UVTFORFkwTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3TURVMk1UWTNOVFl5TkRFUEJIUnBiV1VHWEhUVUV3RT0ZD"
</pre><hr/><div><b>FB import: 2019-02-27 16:31:17</b></div><pre>string(5) "count"
int(4)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpJNE9EVTNOakF5TWpRMU9EVXpNall3T1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TnpBMk1UY3dNekV6T0RJUEJIUnBiV1VHWEhXRkN3RT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRNNU1UWTNNRGN5TlRjNE1qSXlNalEzTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TXpreU5EVXlOall6T0RJUEJIUnBiV1VHWEdXYXBBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TkRNNU1UWTNNRGN5TlRjNE1qSXlNalEzTVE4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TXpreU5EVXlOall6T0RJUEJIUnBiV1VHWEdXYXBBRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TnpJNE9EVTNOakF5TWpRMU9EVXpNall3T1E4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN3TnpBMk1UY3dNekV6T0RJUEJIUnBiV1VHWEhXRkN3RT0ZD"
</pre><hr/><div><b>FB import: 2019-04-01 13:26:18</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(204) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TFRFeU1EazFPVGt4TXpjM09UZAzBOek01T1E4TVlYQnBYM04wYjNKNVgybGtEeHd4TmprNE1ERXhORFl3T1RaZAk5EQTBNemc1T1RJek56RXlPREl3RHdSMGFXMWxCbHlja0dnQgZDZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TVRZAMk5qa3hOemM1TWprM016a3pOelV4TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzT1RVeE5ERTJPREV3T1RjUEJIUnBiV1VHWEhoV1N3RT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TVRZAMk5qa3hOemM1TWprM016a3pOelV4TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFUzT1RVeE5ERTJPREV3T1RjUEJIUnBiV1VHWEhoV1N3RT0ZD"
  ["previous"]=>
  string(426) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TFRFeU1EazFPVGt4TXpjM09UZAzBOek01T1E4TVlYQnBYM04wYjNKNVgybGtEeHd4TmprNE1ERXhORFl3T1RaZAk5EQTBNemc1T1RJek56RXlPREl3RHdSMGFXMWxCbHlja0dnQgZDZD"
}
string(6) "before"
string(204) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TFRFeU1EazFPVGt4TXpjM09UZAzBOek01T1E4TVlYQnBYM04wYjNKNVgybGtEeHd4TmprNE1ERXhORFl3T1RaZAk5EQTBNemc1T1RJek56RXlPREl3RHdSMGFXMWxCbHlja0dnQgZDZD"
</pre><hr/><div><b>FB import: 2019-04-01 13:33:21</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRnMk9UZA3hOemczTmpFMU16RTROek0wTVRJUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRRNE56TTNNemMyTXpneFh6VTVPVGsyT0RVek1EVXhNRGt6TXc4RWRHbHRaUVpjbkhnZAEFRPT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRNU16UXdOemMyTXpFeU5ETTNNekEzTmpFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTURjME9UazVOakEyTXpneUR3UjBhVzFsQmx4NEJyWUIZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRRNU16UXdOemMyTXpFeU5ETTNNekEzTmpFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTURjME9UazVOakEyTXpneUR3UjBhVzFsQmx4NEJyWUIZD"
  ["previous"]=>
  string(430) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRnMk9UZA3hOemczTmpFMU16RTROek0wTVRJUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRRNE56TTNNemMyTXpneFh6VTVPVGsyT0RVek1EVXhNRGt6TXc4RWRHbHRaUVpjbkhnZAEFRPT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRnMk9UZA3hOemczTmpFMU16RTROek0wTVRJUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRRNE56TTNNemMyTXpneFh6VTVPVGsyT0RVek1EVXhNRGt6TXc4RWRHbHRaUVpjbkhnZAEFRPT0ZD"
</pre><hr/><div><b>FB import: 2019-04-01 13:39:05</b></div><pre>string(5) "count"
int(15)
string(6) "paging"
array(3) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRRNU16ZA3hOakUyTXpRek16YzRNVFkzTlRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTWpZANU5qVXhNemd5T1RRd0R3UjBhVzFsQmx5ZAEtBZA0IZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRjME5EUXhNakEwTmpJd05EYzFNekE0TmpRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTWpFeE9EWTROekEzT1RRd0R3UjBhVzFsQmx4OWViUUIZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRjME5EUXhNakEwTmpJd05EYzFNekE0TmpRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTWpFeE9EWTROekEzT1RRd0R3UjBhVzFsQmx4OWViUUIZD"
  ["previous"]=>
  string(432) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&before=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRRNU16ZA3hOakUyTXpRek16YzRNVFkzTlRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTWpZANU5qVXhNemd5T1RRd0R3UjBhVzFsQmx5ZAEtBZA0IZD"
}
string(6) "before"
string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRRNU16ZA3hOakUyTXpRek16YzRNVFkzTlRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTWpZANU5qVXhNemd5T1RRd0R3UjBhVzFsQmx5ZAEtBZA0IZD"
</pre><hr/><div><b>FB import: 2019-04-01 13:45:03</b></div><pre>string(5) "count"
int(4)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRjNE1EQXlOVEF6TVRJeE9UWXpNekEzT0RRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTURjeE5URXhNakV4TWpReER3UjBhVzFsQmx5Y1ZAqZA0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRVeE5qSXlNVEk0TlRJNE1qWTFORFkyTkRFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTURVeU5qVXdNell4TWpReER3UjBhVzFsQmx5UkgwZA0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRVeE5qSXlNVEk0TlRJNE1qWTFORFkyTkRFUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTURVeU5qVXdNell4TWpReER3UjBhVzFsQmx5UkgwZA0IZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRjNE1EQXlOVEF6TVRJeE9UWXpNekEzT0RRUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTURjeE5URXhNakV4TWpReER3UjBhVzFsQmx5Y1ZAqZA0IZD"
</pre><hr/><div><b>FB import: 2019-04-01 13:47:47</b></div><pre>string(5) "count"
int(8)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TmpJeE5EVTNOakk0TmpFNE5EUXlOalF3TkE4TVlYQnBYM04wYjNKNVgybGtEeDB4TmprNE1ERXhORFl3T1RaZAk1qSTFOVE16TnpRMU56ZAzJOekl5TUE4RWRHbHRaUVpjblVROUFRPT0ZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnNE5UUXdOakkzTXpFM016a3pNVFUxTlRRUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6VXdNVEUxTkRjME1EUXhOVGt6TVE4RWRHbHRaUVpjbkp1ZAkFRPT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRnNE5UUXdOakkzTXpFM016a3pNVFUxTlRRUERHRndhVjl6ZAEc5eWVWOXBaQThjTVRZANU9EQXhNVFEyTURrMlh6VXdNVEUxTkRjME1EUXhOVGt6TVE4RWRHbHRaUVpjbkp1ZAkFRPT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2TmpJeE5EVTNOakk0TmpFNE5EUXlOalF3TkE4TVlYQnBYM04wYjNKNVgybGtEeDB4TmprNE1ERXhORFl3T1RaZAk1qSTFOVE16TnpRMU56ZAzJOekl5TUE4RWRHbHRaUVpjblVROUFRPT0ZD"
</pre><hr/><div><b>FB import: 2019-04-01 14:15:01</b></div><pre>string(5) "count"
int(10)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(204) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpBMk9EZAzVOVE0zTmpBeE9UWTJOekUyTnc4TVlYQnBYM04wYjNKNVgybGtEeHd4TkRnM016Y3pOell6T0RGZAk5EQXhNVE0zTVRrd05qWTNPVFkyRHdSMGFXMWxCbHlkUnlBQgZDZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNek56STBOalk0TXpNMk9UZAzBNREEwT1RVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRRd01EYzFORFUyTXpneUR3UjBhVzFsQmx5Y2Yxa0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNek56STBOalk0TXpNMk9UZAzBNREEwT1RVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRRd01EYzFORFUyTXpneUR3UjBhVzFsQmx5Y2Yxa0IZD"
}
string(6) "before"
string(204) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TmpBMk9EZAzVOVE0zTmpBeE9UWTJOekUyTnc4TVlYQnBYM04wYjNKNVgybGtEeHd4TkRnM016Y3pOell6T0RGZAk5EQXhNVE0zTVRrd05qWTNPVFkyRHdSMGFXMWxCbHlkUnlBQgZDZD"
</pre><hr/><div><b>FB import: 2019-04-10 14:59:18</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMk5qZAzBPVGN4TWprMU1UVTFNekF5TWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxT0RZAeE9EWTVOemcyTURrM0R3UjBhVzFsQmx5b1h4ZA0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2Tnpjek1EUTVOakl3TWpreU5EQTJOekkwRHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVGcxTWpVeE9UY3lNVEE1Tnc4RWRHbHRaUVpjb2l0c0FRPT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhOams0TURFeE5EWXdPVFk2Tnpjek1EUTVOakl3TWpreU5EQTJOekkwRHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUyT1Rnd01URTBOakE1Tmw4eE1ERTFOVGcxTWpVeE9UY3lNVEE1Tnc4RWRHbHRaUVpjb2l0c0FRPT0ZD"
}
string(6) "before"
string(210) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRRMk5qZAzBPVGN4TWprMU1UVTFNekF5TWpjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxT0RZAeE9EWTVOemcyTURrM0R3UjBhVzFsQmx5b1h4ZA0IZD"
</pre><hr/><div><b>FB import: 2019-04-10 15:04:05</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNMk16a3dNVEV6T1RZAME56WTNNamsxTVRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRZAeU56WXlOakEyTXpneUR3UjBhVzFsQmx5b1V5ZA0IZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJMk16RTVNek0wTlRFNU1qVTBPRFEyT0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRVd056VXdNVEl4TXpneUR3UjBhVzFsQmx5aUsyd0IZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRJMk16RTVNek0wTlRFNU1qVTBPRFEyT0RZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRVd056VXdNVEl4TXpneUR3UjBhVzFsQmx5aUsyd0IZD"
}
string(6) "before"
string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhORGczTXpjek56WXpPREU2TFRNMk16a3dNVEV6T1RZAME56WTNNamsxTVRjUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRRNE56TTNNemMyTXpneFh6RXdNVFUzTVRZAeU56WXlOakEyTXpneUR3UjBhVzFsQmx5b1V5ZA0IZD"
</pre><hr/><div><b>FB import: 2019-04-10 15:08:49</b></div><pre>string(5) "count"
int(3)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2T0RNd01qQTRNak00TXpFek5qa3dORGN6TUE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN5T1RFek16VXhPRGM1TkRBUEJIUnBiV1VHWEtoaUJBRT0ZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TlRFek1ESXlPVEEwTnpBMk1qVTNPVGd5T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN5TnpFMk5qTTNNVEk1TkRBUEJIUnBiV1VHWEo1QStRRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TlRFek1ESXlPVEEwTnpBMk1qVTNPVGd5T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN5TnpFMk5qTTNNVEk1TkRBUEJIUnBiV1VHWEo1QStRRT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2T0RNd01qQTRNak00TXpFek5qa3dORGN6TUE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN5T1RFek16VXhPRGM1TkRBUEJIUnBiV1VHWEtoaUJBRT0ZD"
</pre><hr/><div><b>FB import: 2019-05-06 05:49:12</b></div><pre>string(5) "count"
int(6)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRJeE16VXhNRFEyTkRFd01qQTFOVEl4TkRZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTXpNME1EWXlOVEl5T1RRd0R3UjBhVzFsQmx6TENld0IZD"
    ["after"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRnNU1EUXhORGcwTnpFek1qYzJNak0wTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN6TURReU16WTFPREk1TkRBUEJIUnBiV1VHWEs5VWtBRT0ZD"
  }
  ["next"]=>
  string(427) "https://graph.facebook.com/v2.10/199502477939/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGsxTURJME56YzVNems2TVRnNU1EUXhORGcwTnpFek1qYzJNak0wTlE4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RrMU1ESTBOemM1TXpsZAk1UQXhOVGN6TURReU16WTFPREk1TkRBUEJIUnBiV1VHWEs5VWtBRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGsxTURJME56YzVNems2TFRJeE16VXhNRFEyTkRFd01qQTFOVEl4TkRZAUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNU5UQXlORGMzT1RNNVh6RXdNVFUzTXpNME1EWXlOVEl5T1RRd0R3UjBhVzFsQmx6TENld0IZD"
</pre><hr/><div><b>FB import: 2019-05-09 14:40:51</b></div><pre>string(5) "count"
int(8)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TXpJMk1qRTJNREE0TWpJeE5qVTNNVFF4TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN4T1RNd09EY3dNakV6T0RJUEJIUnBiV1VHWE1zSjdBRT0ZD"
    ["after"]=>
    string(209) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhORGczTXpjek56WXpPREU2TnpVM01EUXdOVEkwTmpnM016ZA3pORFV6RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUwT0Rjek56TTNOak00TVY4eE1ERTFOekUzTlRRM016ZAzROak00TWc4RWRHbHRaUVpjcjAvNUFRPT0ZD"
  }
  ["next"]=>
  string(430) "https://graph.facebook.com/v2.10/148737376381/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R4OHhORGczTXpjek56WXpPREU2TnpVM01EUXdOVEkwTmpnM016ZA3pORFV6RHd4aGNHbGZAjM1J2Y25sZAmFXUVBIakUwT0Rjek56TTNOak00TVY4eE1ERTFOekUzTlRRM016ZAzROak00TWc4RWRHbHRaUVpjcjAvNUFRPT0ZD"
}
string(6) "before"
string(206) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhORGczTXpjek56WXpPREU2TXpJMk1qRTJNREE0TWpJeE5qVTNNVFF4TWc4TVlYQnBYM04wYjNKNVgybGtEeDR4TkRnM016Y3pOell6T0RGZAk1UQXhOVGN4T1RNd09EY3dNakV6T0RJUEJIUnBiV1VHWE1zSjdBRT0ZD"
</pre><hr/><div><b>FB import: 2019-05-09 14:42:54</b></div><pre>string(5) "count"
int(7)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNM01URTFNalEzTVRNNE56a3dNakUwTURVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxT0RnMU5EVTBOREkyTURrM0R3UjBhVzFsQmx6TENld0IZD"
    ["after"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2T0RBeE16ZAzJOREEzTVRZAME5UYzFOelV6Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFU0TnpFMU5qQTNPREV3T1RjUEJIUnBiV1VHWEs5VE5nRT0ZD"
  }
  ["next"]=>
  string(429) "https://graph.facebook.com/v2.10/169801146096/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhOams0TURFeE5EWXdPVFk2T0RBeE16ZAzJOREEzTVRZAME5UYzFOelV6Tmc4TVlYQnBYM04wYjNKNVgybGtEeDR4TmprNE1ERXhORFl3T1RaZAk1UQXhOVFU0TnpFMU5qQTNPREV3T1RjUEJIUnBiV1VHWEs5VE5nRT0ZD"
}
string(6) "before"
string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhOams0TURFeE5EWXdPVFk2TFRNM01URTFNalEzTVRNNE56a3dNakUwTURVUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRZANU9EQXhNVFEyTURrMlh6RXdNVFUxT0RnMU5EVTBOREkyTURrM0R3UjBhVzFsQmx6TENld0IZD"
</pre><hr/><div><b>FB import: 2019-05-09 14:58:24</b></div><pre>string(5) "count"
int(2)
string(6) "paging"
array(2) {
  ["cursors"]=>
  array(2) {
    ["before"]=>
    string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRZAek1UVXlOekUxTVRFMU9UazNORGczTnpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTVRBM05qZAzVNalUyTWpReER3UjBhVzFsQmx5dlVpOEIZD"
    ["after"]=>
    string(207) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TnpBMk5qa3lOVE16TlRjMk9UYzNNall5T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3T0RNek1EZA3hOell5TkRFUEJIUnBiV1VHWEtJcmJBRT0ZD"
  }
  ["next"]=>
  string(428) "https://graph.facebook.com/v2.10/198445576240/posts?access_token=1688352878158363%7C62fcbbccfa9e9c668ef6791492cc3fe7&fields=name%2Cfull_picture%2Clink%2Ccreated_time%2Cmessage%2Cdescription%2Cpermalink_url&limit=15&after=Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5QXhPVGcwTkRVMU56WXlOREE2TnpBMk5qa3lOVE16TlRjMk9UYzNNall5T0E4TVlYQnBYM04wYjNKNVgybGtEeDR4T1RnME5EVTFOell5TkRCZAk1UQXhOVGN3T0RNek1EZA3hOell5TkRFUEJIUnBiV1VHWEtJcmJBRT0ZD"
}
string(6) "before"
string(208) "Q2c4U1pXNTBYM0YxWlhKNVgzTjBiM0o1WDJsa0R5RXhPVGcwTkRVMU56WXlOREE2TFRZAek1UVXlOekUxTVRFMU9UazNORGczTnpnUERHRndhVjl6ZAEc5eWVWOXBaQThlTVRrNE5EUTFOVGMyTWpRd1h6RXdNVFUzTVRBM05qZAzVNalUyTWpReER3UjBhVzFsQmx5dlVpOEIZD"
</pre><hr/>