/*************************
*******Typography******
**************************/

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #e5222f;
}

::selection {
    color: #fff;
    background: #e5222f;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background: #ffffff;font-family: 'robotoregular';color:#4e4e4e;line-height: 22px;/*margin-top:110px;*/font-size:16px;}
h1,h2,h3,h4,h5,h6 { color:#1f1f1f;  font-family: 'robotomedium'; }
h1{font-size: 60px;color:#1f1f1f;text-transform:uppercase;font-family: 'robotobold';}
h2{font-size: 32px;}
h3{font-size: 25px;color: #1f1f1f;line-height: 24px;}
h4{font-size: 20px;}
h5,.h5{font-size:16px;color:#1f1f1f}
ul,li{list-style:none;margin:0px;padding:0px;}
p{font-family:'robotoregular';line-height:23px;}

/*a{ color: #e5222f;}*/
/*a:hover, a:focus,a:active,a:visited {color: #111;text-decoration: none; outline: none;}*/

/*a:visited{ color: #e5222f;}*/

a:hover, a:focus,a:active,a:visited{text-decoration: none;}

label{font-weight:normal}

hr {border-top: 1px solid #e5e5e5;border-bottom: 1px solid #fff;}

img{max-width:100%}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

/*//////////btns/////////*/
.btn{font-size:16px;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-o-transition:  all 500ms ease;transition:  all 500ms ease; }
.btn.rounded{background:#e5222f;-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#ffffff; font-family: 'robotobold';text-align:center;/*min-width:195px*/;height:48px;line-height:46px;padding:0px 65px;border:1px solid #e5222f}
.btn.rounded:hover{background:#ffffff;color:#e5222f}
.btn.dropdown-toggle{padding: 0;}
.btn.rounded.red{margin-top: 10px;}
.btn.rounded.white{background:#ffffff;color:#e5222f}
.btn.rounded.white:hover{background:#e5222f; color:#fff;}

.section-filter .btn.rounded{
    height: 38px;
    line-height: 36px;
    padding: 0px 25px;
    font-size:14px;
}

.btn.black{background:#1f1f1f;border-color:#1f1f1f}
.btn.black:hover{color:#1f1f1f;background:#ffffff}

.btn.underline{text-decoration:underline;color:#e5222f}
.btn.underline:hover{text-decoration:none;}

.btn.border{-webkit-border-radius:24px;border-radius:24px;text-transform:uppercase;color:#9b9ea1; font-family: 'robotobold';text-align:center;/*min-width:234px;*/height:48px;line-height:48px;padding:0px 25px;border:1px solid #a6a6a6}
.btn.border:hover{background:#a6a6a6;color:#ffffff}

.fund_desc .btn.border{margin-top:10px;}

.play_btn{width:107px;height:107px;display:inline-block;background:url(../images/play.png) no-repeat center center; position:relative;text-align:center; margin-top: 40px}
.play_btn span{font-size:16px;position:absolute;bottom:-54px;width:200%;left:-50%;color:#ffffff;text-decoration:underline;transform:scale(1.3);}
.play_btn:hover span{text-decoration:none}

/*//////////END OF btns/////////*/


.dropdown-menu {margin-top: -1px;min-width: 150px;nprder:0px;background:#f5f5f5;-webkit-border-radius:0;border-radius:0;box-shadow:none;border:0px;}
body > section {padding: 60px 0;}
.center {text-align: center;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}

.navbar-right .dropdown-menu.megamenu{
    right:0 !important;
	z-index:999;
	/*display:block !important;*/
}

header.sticky .navbar-right .dropdown-menu.megamenu{
	display:none;
}

/*************************
*******Header******
**************************/

#header{background:#ffffff;}
header.sticky,.section-filter.sticky{position:fixed;top:0;left:0;right:0;z-index:999;}
header.sticky{height:106px;}
.section-filter.sticky{z-index: 1100 !important; animation:fadeIn 0.2s both;padding:42px 0 32px 0!important;}
.fund-status.sticky{animation:fadeIn 0.1s both}
/*fundraising page*/
.status_bar{background:#f5f5f5;padding:0px}
.status_bar.sticky{position:fixed;top:0px;left:0;width:100%;z-index:1000;padding:40px 0;}

.secFil-present.sticky{top:108px;}

.section-filter .panel-body ul li{list-style:none;}

.contact-filter.sticky{padding:29px 0;}

/*@media(max-width:992px){
	.contact-filter.sticky{top:70px;padding:15px 15px 20px;}
}
*/

@media(max-width:375px){
	.contact-filter{padding:10px !important;}
}

/*#header  .navbar{ -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
#header.sticky .navbar{padding:10px 0px}
.media-page #header{position:absolute;height:auto}*/

.navbar-right{position:static}
.navbar>.container .navbar-brand{margin-left: 0;margin-top:2.5px;}
.navbar-brand img{max-width:none}
.top-bar {padding: 0px 0;}
.top-number{color: #fff;}
.top-number p{margin: 0}
.social{text-align: right;}
.social-share{display: inline-block;list-style: none;padding: 0;margin: 0;}
ul.social-share li {display: inline-block;}
ul.social-share li a {display: inline-block;color: #9a9a9a;background: #ffffff;width: 49px;height: 49px;line-height: 49px;text-align: center;-webkit-border-radius:100%;border-radius: 100%;border:1px solid #acacac;font-size:20px;margin-right:20px;}
ul.social-share li a:hover{background:#acacac;color:#ffffff}

ul.social-share li:last-child a{margin-right:0px;}
ul.social-share li a:hover {}
.navbar-brand {padding: 0;margin:0;}
.navbar {border-radius: 0;margin-bottom: 0;padding: 11px 0 18px 0px;padding-bottom: 0;border:0px;/*background:#ffffff*/}
.navbar-nav{}
.navbar-nav > li{margin-right: 10px; }
.navbar-nav > li > a{color:#1f1f1f;text-transform:uppercase;font-size:15px; padding:25px 10px 30px 10px;position:relative; font-family:robotomedium;}
.navbar-nav > li:hover > a{color:#a1a4a7;background:none}
.navbar-nav > li:hover > a:after{content:"";position:absolute;bottom:0px;width:30px;height:15px;background:#f5f5f5;left:50%;margin-left:-15px;border-radius: 30px 30px 0 0;
-moz-border-radius: 30px 30px 0 0;-webkit-border-radius: 30px 30px 0 0;}


/*.dropdown-menu {font-family: FontAwesome} */
.dropdown-menu a{display:block;color:#1f1f1f;}
.dropdown-menu figure{text-align:center}
.dropdown-menu figure img{margin-bottom:20px;}
.dropdown-menu figure figcaption h3{font-size:24px;font-family: 'robotolight';}

.dropdown-menu .subMenu {list-style:none; padding-left:0px;}
.dropdown-menu .subMenu span a.menu-link{border-top:1px solid #a6a6a6; padding:20px 0;}
.dropdown-menu .subMenu span:first-child a.menu-link{border:0px;padding-top:0px;}
.dropdown-menu .subMenu span a.menu-link{font-family: 'robotolight';font-size:20px; color: #1f1f1f}
.dropdown-menu .subMenu span a.menu-link:hover, .dropdown-menu .subMenu span a.menu-link.active{color:#a1a4a7}

.navbar-toggle .icon-bar{background:#1f1f1f;width:38px;height:5px;}
.navbar-toggle{margin-right:184px;}

/*************************
*******Home Page******
**************************/
.nav-tabs {
  border-bottom:1px solid #b7bdbf
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  background:#f5f5f5;
}
.nav-tabs>li>a {
  line-height: 1.428571429;
  font-size: 25px;
  padding: 10PX 60PX;
  color: #67696b;
  border: 1px solid #b7bdbf;
  border-right:none;
   border-top-color: transparent
}

.nav-tabs>li.active:last-of-type>a{border-right: 1px solid #b7bdbf;}

.nav-tabs>li>a:hover {
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #555;
  background-color: #fff;   
  border-bottom-color: transparent;
  border-top-color:#b7bdbf;
  
}

/*.nav-tabs>li:last-of-type>a{border-right-color: none}*/


.nav-tabs>li:first-child.active>a, .nav-tabs>li:first-child.active>a:hover, .nav-tabs>li:first-child.active>a:focus {
  border-left-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0
}
.nav-tabs.nav-justified>li {
  float: none
}
.nav-tabs.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto
}


.navbar-collapse nav{float:left}
.btnDonate,a.btnDonate:active,a.btnDonate:visited,a.btnDonate:focus{height:43px;line-height:41px;-webkit-border-radius:21px;border-radius:21px; letter-spacing:0.05em; background:#e5222f url(../images/btn-donate.svg) no-repeat 25px center;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;padding:0px 25px 0px 50px;float:right;display:block;margin-top:-62px;border:1px solid #e5222f;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-o-transition:  all 200ms ease;transition:  all 200ms ease;}
a.btnDonate:hover{background:#ffffff url(../images/btn-donate-r.svg) no-repeat 25px center;color:#e5222f !important;}

.accRt{float:right}
.account, .lang{float:left;padding:0}
.account li, .lang li{float:left;list-style:none;color:#9b9ea1}
.lang li a{color:#9b9ea1}
.account li, .lang li{margin-left:25px;position:relative;line-height: 16px;}
.lang li{margin-left: 10px;}
.top-bar .lang > li:first-of-type{border-right: 1px solid #cacbcd;padding-right: 10px; }
.lang li i{margin-left: 5px;}


.account li a{background:url(../images/icon-acc.svg) no-repeat left top;display:block}

.dropdown-menu li a { background: none; color: #9b9ea1;}
.dropdown-menu li { margin-left: 0px;}

.account li .acc{width:15px;height:17px;background-position:left bottom; padding-left: 20px; color:#9b9ea1 }
.account li .mail{width:21px;height:17px;background-position:right bottom}


.lang{position:relative}
.langDrop .btn{background:none;padding:0px;color:#9b9ea1}
.lang .dropdown-menu li{display:block;float:none;margin-left:0}
.lang .dropdown-menu{left:0;right:auto;min-width:inherit;}
.account .dropdown-menu li{text-align: right; width:100%;}

.account .dropdown-menu,.lang .dropdown-menu{top:110%;}

/*mega menu*/
.navbar-collapse{padding:0px;}
.navbar-default{color: #fff;background-color: #ccc6c6;border-color: #aca1a2;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .dropdown > a .caret{border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .navbar-brand{color:#fff;}
/*.menu-large {position: static !important;}*/
.megamenu{padding: 50px 0px 40px 0;width:100%;}
.megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul > li {list-style: none;}
.megamenu> li > ul > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.428571429;color: #333333;white-space: normal;}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}


/*main-slider*/

.main-slider{padding:0px;}
.main-slider .item{/*height:626px;*/ padding-top: 8%; padding-bottom: 9%}



.homepage .main-slider .item{/*height:626px;*/ padding-bottom: 0; padding-top: 8%;}



@media (min-width:1200px){
	.homepage .main-slider .item{
		min-height:625px;
	}
}

@media (min-width:992px) and (max-width:1199px){
	.homepage .main-slider .item{
		min-height:625px;
	}
}

@media (max-width:991px){
	.homepage .main-slider .item{
		min-height:500px;
	}
}

@media (max-width:767px){
	.homepage .main-slider .item{
		min-height:450px;
	}
}

@media (max-width:480px){
	.homepage .main-slider .item{
		min-height:270px;
	}
}




.main-slider .sliderCaption{/*position:relative;*/width:100%;/*top:24%*/}
.main-slider .sliderCaption .pull-middle{float:none !important;margin:0px auto;text-align:center}
.main-slider .sliderCaption .coutry,.homeurgency .main-banner h2{color:#ffffff;font-size:32px; font-family: 'robotolight';}
.main-slider .sliderCaption h2, .main-slider .sliderCaption h1{color:#ffffff;font-family: 'robotobold';line-height:57px;font-size:60px;}
.main-slider .sliderCaption p{color:#ffffff;font-size:20px;line-height:27px;font-family: 'robotolight';padding-bottom:20px;}
.main-slider .item img{max-width:none}
.main-slider .sliderCaption .btn.rounded{display:inline-block; margin-right:20px; margin-top:0 !important;}

.main-slider .sliderCaption .content-right .btn.rounded{ margin-right:0; margin-left:20px;}

.copyright{color: #fff;text-align: right;padding: 10px;position: absolute;right: 0;bottom: 0; font-size:13px;line-height:10px;}

.sliderCaption .content-right{float: right;}

.main-slider.owl-carousel .owl-stage-outer{height: auto;}
/*fund raising*/
.title h3{margin-top: 0;}

.section-threeColumn, .section-news{background:#f5f5f5}
.section-threeColumn{padding-bottom:110px;}
.section-news .features p{color: #26223d}
.section-fundraising .features/*,.section-news .features*/{position:relative; overflow:hidden;background:#ffffff;padding:0px 0px 30px 0px;min-height:562px;}

.page-template-fund-raising .section-fundraising .features{min-height:inherit;} 
.section-fundraising .features figure{position:relative;margin-bottom:40px;}
.section-fundraising .features a,
.section-fundraising .features a:hover,
.section-fundraising .features a:focus{color:#4e4e4e;}
.section-fundraising .features figure figcaption{position:absolute;bottom:-1px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:50px 50px 0 0;height:36px;width:72px;z-index:2}
.section-fundraising .features figure figcaption span{display:block;border-radius:48px;height:48px;margin:11px;font-family: 'robotobold';text-transform:uppercase;color:#ffffff}
.section-fundraising .features figure figcaption span.hover-button{display:none;padding:0px 0px 0px 15px;background:red url(../images/btn-donate.svg) no-repeat 18px center;float:left;}
.section-fundraising .features figure figcaption span img{width:auto;display:inline-block;padding-top:11px;float:left;padding-left:16px;}


.section-fundraising .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: rgba(0,0,0,0.4);color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:2}
  
  
  
.section-fundraising .features .overlay a{display:block;position:absolute;left:0;right:0;bottom:0;top:0;}
.section-fundraising .features:hover .overlay {opacity: 1; z-index: 1}
.section-fundraising .features:hover figcaption span img.overlay-img{display: none;}
.section-fundraising .features:hover figcaption span.hover-button{width:182px;margin-left:-60px; margin-top: 0px; z-index: 2}
.fund-listing .features:hover figcaption span.hover-button{width:auto;margin-left:11px;}
.section-fundraising .features:hover figcaption span.hover-button{display:block}
.section-fundraising .features .content-wrap{padding:0px 40px;}
.section-fundraising .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
.section-fundraising .features .content-wrap h3{ font-family: 'robotolight';line-height:33px; font-size: 32px; margin-bottom: 20px}
.section-fundraising .features .content-wrap p{line-height:20px; color: #1f1f1f;}
.section-fundraising .features .content-wrap a.btn{color:#e5222f;text-decoration:underline;position:absolute;bottom:20px;left:0;width:100%}


section .features{position:relative; /*overflow:hidden;*//*background:#ffffff;*/padding:0px 0px 0px 0px;min-height:515px;}

section.section-news .news-listing .features{min-height: inherit;}

section .features img{width: 100%;}
@media (max-width: 992px) {
    section .features img {
        width: auto;
    }
}

section .features a,
section .features a:hover,
section .features a:focus{color:#4e4e4e;}
section .features figure figcaption span img{width:auto;}

.contact-listing .features img{width: auto;}

.features  figure .image_crop{ height: 260px; overflow: hidden; position: relative; }
section .features figure{position:relative; /*height: 260px; border: 1px solid red;*/}
section .features figure figcaption{position:absolute;bottom:-45px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23}
section .features figure figcaption span{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.svg) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;}
section .features figure figcaption span img{display:inline-block;width:auto}

section .features figure .image_crop img{left:50%; top:50%; transform: translateX(-50%) translateY(-50%); height: auto;width: auto; max-height: none; max-width: none; position: absolute;}

@media (min-width: 1024px) {
section .features figure .image_crop img{
height: 100%;/*width: 100%;*/
}
.single-fundraising-campaign section.section-news-fund.no-padding-btm .features figure .image_crop img{height:100%;}
.single-fundraising-campaign section.section-news-fund .features figure .image_crop img{height:144%;}
}

section .features .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;border-radius: 0;background: url(../images/overlay-trans.png) repeat left top;color: #fff;vertical-align: middle;
  -webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;  padding: 30px;text-align:center;z-index:1}
section .features .content-wrap{padding:0px 22px;padding-top:50px; background: #fff}
section .features .content-wrap .fundCollected{color:#e5222f;display:block;padding-bottom:10px;}
section .features .content-wrap h3{ font-family: 'robotolight';line-height:33px;}
section .features .content-wrap h4{font-size:25px; font-family: 'robotoregular';line-height:27px;}
section .features .content-wrap p{line-height:20px;}
.section-news .features .content-wrap a.btn{color:#e5222f;position:absolute;bottom:20px;left:0;width:100%}
section .features figure figcaption span.icon_fb{font-size:25px;background:none; line-height:43px;}
section .features figure figcaption span.icon_news{background:#1f1f1f }
section .features figure figcaption span.icon_insta{background:#fff; }
section.section-news .features figure figcaption span.icon_news{background:#fff }


section .features figure figcaption a.icon_fb i{padding-top: 13px;}

.title h3, .title h3, .title h2{padding-bottom:10px;  color: #1f1f1f;font-size: 32px;line-height: 24px;font-family: 'robotoregular';}


.contact-listing .features figure figcaption a {position:absolute;bottom:10px;left:15%;background:#000000;-webkit-border-radius:100%;border-radius:100%;height:52px;width:52px;z-index:23}
.contact-listing .features figure figcaption a img {margin-top: 12px;}

/*news section*/
/*.section-news .news_carousel{display: flex;flex-direction: row; flex-wrap:nowrap;}*/
.section-news .news_carousel li{margin-bottom: 50px; display:inline; vertical-align: text-top;}



/*html free area*/
.section-htmlfree{ overflow:hidden; padding:85px 0 110px;}
.section-htmlfree h3{padding-bottom: 45px;}
.section-htmlfree figure{position:relative}
.section-htmlfree figcaption{position:absolute;right:0;bottom:22px;left:0;text-align:center}
.section-htmlfree figcaption a{position:relative;top:85%;width:100%;text-align:center;color:#ffffff !important}
.section-htmlfree figcaption span.video{display:block; height:105px;background:url(../images/icon-video-play.png) no-repeat center center;margin-bottom:50px; }
.section-htmlfree figcaption a.video span{position:relative;top:87%;width:100%;text-align:center;color:#ffffff !important}


/*video section*/
.section-video{background-size:cover !important;/*height:650px;*/padding-top:176px; padding-bottom: 11%;}
.section-video h3,.section-solidarity h3,.section-solidarity h4{font-family: 'robotolight';color:#ffffff; font-size: 32px;font-weight:900;}
.section-video h2{/*font-size: 42px; font-family: robotobold; color: #fff; text-transform: uppercase;*/margin-top: 30px;}

/*section how works*/
.section-howworks{overflow:hidden;position:relative;padding:75px 0px 60px 0px}
.section-howworks:before{content:'';position:absolute;left:0px;top:0px;bottom:0px;background:#3a3a3b;width:50%;}
.section-howworks:after{content:'';position:absolute;right:0px;top:0px;bottom:0px;background:#e5222f;width:50%;z-index:-1}
.howworks-content{padding:0px 100px;position:relative;min-height:433px;}
.howworks-content h3{line-height:30px; font-size:32px; margin-bottom: 15px;font-weight: 900;}
.howworks-content h3, .howworks-content .btn, .howworks-content p{color:#ffffff}
.howworks-content .btn{position:absolute;left:0;width:100%;bottom:0}
.howworks-content span.underline{ color: #fff;}
.howworks-content figure{padding-top:40px;}
.howworks-content figure i{color:#fff;font-size: 225px;}

.howworks-content figure{height:260px;}
.howworks-content figure img{height:100%;}

@media (max-width: 1025px){
	
	.howworks-content figure{padding-top:20px;height:170px;}
}

@media (max-width: 480px){
	.howworks-content figure img{height:70%;}
}

/*solidarity section*/
.section-solidarity{background-size:cover !important;height:809px; padding-top: 140px;}

@media (min-width:1025px) {
    .home .section-solidarity{height:809px !important; padding-top: 130px}
}

@media (min-width:1023px) {
    .home .section-solidarity{
    padding-top: 70px;
   }
}

.section-solidarity h2, .section-video h2{color:#ffffff;padding:0px 0px 0px 0px;font-family: 'robotobold'; font-size: 60px; text-transform: uppercase; margin-top: 0;}
.section-solidarity p{font-size:20px;font-family: 'robotolight';}
.partners{text-align:center;color:#ffffff;padding-top:85px}
.partners i{font-size: 62px;}
.partners img{height:62px;}
/*.partners i.icon-hands{font-size:75px;}*/
.partners ul li{list-style:none}

.section-solidarity  h3, .main-banner .fund-banner h4{color:#ffffff; font-family: robotolight;  font-size: 32px;letter-spacing: 0.01em; margin-top: 35px;}

/*footer*/

.scroll-top{
  position: fixed;  
  right: 10px;
  bottom:90px;
  opacity:0.8;
  z-index:100;
}
.scroll-top:hover{
	opacity:1;
}

@media (max-width:768px) {	

.scroll-top{bottom:10px;}

	/*.scrollToTop{
		top:-53px;
		right: 10px;
	}
	.scrollToTop img{
		max-width:90%;
	}*/
}
  
/*footer bottom*/

.section-footerbottom{background:#f5f5f5;padding:0px;}
.postal-account{text-align:center; }
.postal-account .postal-content{background:#e5222f;height:130px;color:#ffffff}
.home .postal-account .postal-content,.homepage .postal-account .postal-content {margin-top:-130px;}
.postal-account .postal-content h3{font-size:25px;color:#ffffff;font-family: 'robotobold';padding:15px 0px 0px 0px;margin:0px 0px 5px 0px}
.postal-account .postal-content p{padding:0;margin:0}
.icon_fund{position:absolute;width:44px;height:44px;-webkit-border-radius:100%;border-radius:100%;background:#ffffff;left:50%;margin-left:-22px;top:-20px; text-align:center;line-height:44px;}
.postalfooter{padding:5px 0px 0px 0px}
.postalfooter li {display: inline-block;padding:0px 33px 0px 35px;background:url(../images/postal-sep.png) no-repeat left center}
.postalfooter li:first-child{background:none}
/**/
.footer-bottom {background:#ffffff;}
.footer-bottom .footerbottom-content{padding:85px 108px; }
.footerbottom-lt h3{font-size:60px;font-family: 'robotobold';line-height:57px;text-transform:uppercase; margin-bottom: 40px; margin-top: 0}
.newsletter h3{font-size:20px;font-family: 'robotobold';margin:0px;}
.newsletter p{font-family: 'robotolight';padding-bottom:20px; color: #838689;}
.newsletter{padding:46px 0px 0px 0px; overflow:hidden}
.newsletter input[type=email]{width:76%;float:left;height:56px;line-heihght:56px;border:0px;padding:0px 2%;border:1px solid #a6a6a6}
.newsletter input[type=text]{width:76%;float:left;height:56px;line-heihght:56px;border:0px;padding:0px 2%;border:1px solid #a6a6a6}
.newsletter input[type=search]{width:76%;float:left;height:56px;line-heihght:56px;border:0px;padding:0px 2%;border:1px solid #a6a6a6}
.newsletter input[type=submit]{width:19%;float:left;height:56px;line-heihght:56px;text-transform:uppercase;font-size:20px;font-family: 'robotobold';background:#1f1f1f;border:0px;
color:#ffffff;margin-left:1%}

.partnaires_logo{padding:35px 78px 20px 115px; overflow:hidden;}
.partnaire_lt,.partnaire_rt{vertical-align:middle}
.partnaire_lt img{margin-right:22px;}
.partnaire_rt{text-align:right;padding-top:25px;}
.partnaire_rt img{margin-left:20px; vertical-align:text-top; }
.footer {background: #2E2E2E;border-top: 5px solid #C52D2F;height: 84px;margin-top: 110px;}
.footer_left {padding: 10px;}
.section-footer {padding-top: 30px;padding-bottom: 30px;color: #b3b3b3;background: #1f1f1f;}
.section-footer a {color: #b3b3b3;font-size:14px;}
.section-footer a:hover {color: #c52d2f;}

#menu-footer { text-align: center; font-size: 14px;}

#menu-footer > li {position: relative;display: inline-block;padding-right: 40px; padding-left: 40px;}

#menu-footer > li::after{ position: absolute; top: 50%; right: 0; content: ""; display: block; width: 2px;  height: 10px; background: #b3b3b3; transform: translateY(-50%);}

#menu-footer > li:last-child{ padding-right: 0;}

#menu-footer > li:first-of-type::after,
#menu-footer > li:nth-last-of-type(2)::after {
  width: 1px;  height: 5px;  transform: translateY(-50%) rotate(90deg);
}

#menu-footer > li:last-child::after{  background:none;}

/*home page urgency*/

.homeurgency #header{background:#e5222f; height: 120px; }
.homeurgency .navbar{padding-top:22px;}
.homeurgency header .btnDonate{display:none}
.homeurgency .navbar>.container .navbar-brand{margin-top:0!important;}
.homeurgency .lang li a,.homeurgency .account li a{color:#ffffff}
.homeurgency .langDrop .dropdown-menu li a,.homeurgency .account .dropdown-menu li a{color:#9b9ea1}
.homeurgency .account>li>a,.homeurgency .account>li>div>a{background:url(../images/icon-acc-urg.png) no-repeat left top;}

.homeurgency .account li .mail{background-position:right bottom}
.homeurgency .navbar-collapse nav{float:right}
.homeurgency .navbar-nav > li > a{color:#ffffff}
.homeurgency .navbar-nav > li:last-child > a{padding-right:0px;}
.main-banner {padding:0px; overflow:hidden;position:relative;}

.main-banner .item{height:586px;background-size:cover !important;} 

.main-banner .item .sliderCaption{padding-top:120px;text-align:center; padding-bottom:6%;}
.main-banner .item .sliderCaption strong{font-weight:normal;}
.homeurgency .main-banner .itemCaption h3{font-size: 32px;}
.main-banner h3, .main-banner .item .sliderCaption h4{color:#ffffff;font-family: 'robotolight';}
.main-banner .item .sliderCaption h1{font-size:60px;color:#ffffff}
.main-banner .item .sliderCaption h4{text-transform:uppercase}
.main-banner .item .sliderCaption .nopart{display:block;font-size:32px;font-family: 'robotobold';color:#ffffff}
.main-banner .item .sliderCaption .pull-left{text-align:left}
.main-banner .item .sliderCaption .btnDonate{clear:both;margin:0px;display:inline-block;float:none;margin-top:25px; font-size: 16px; margin-bottom: 30px; height: 55px; padding: 15px 30px 15px 60px;
border-radius: 30px;line-height:24px; color: #fff; background-position: 30px center;}

.main-banner .item .sliderCaption .btnDonate:hover{color:#e5222f;}
.main-banner .itemCaption{padding:25px 0px;text-align:center;color:#ffffff;background:#e5222f;}
.main-banner .itemCaption p, .main-banner .itemCaption a, .main-banner .itemCaption span{color:#ffffff}
.main-banner .itemCaption h3{padding-bottom:25px;}
.main-banner p{color:#ffffff}
.main-banner .btn{clear:both;display:block;color:#ffffff;margin-bottom:10px;}
.news-banner{height:490px; z-index:999; }
.news-banner .item .sliderCaption{padding-top:150px;}

/*fundraising page*/
.secquote{background:#e5222f;text-align:center;padding:60px 0px}
.quote-bg-grey{background: #f5f5f5;}
.quote-bg-white{background: #fff;}
.secquote .col-md-12>blockquote{padding: 0 105px; text-align: center; }
.secquote blockquote{font-size:25px;line-height:30px;border:0px; text-align: left; padding:15px 0 0 70px;margin:0;}
.secquote.quote-bg-red em,.secquote.quote-bg-red blockquote{color:#fff;}
.secquote-fund{padding: 85px 0;}

/*@media (min-width:768px) and (max-width:829px) {*/
    /*.secquote .quote_left {*/
        /*padding: 2.5rem 0;*/
    /*}*/

/*}*/

.secquote em{
    padding-left: 70px;
    text-align: left;
    display: block;
    margin-top: 10px;
}

.secquote .col-md-12 em,.secquote .col-md-12{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}


.section-solidarity.keyfigure{height:800px; position:relative;}
.sec-testimonail .title{text-align:center}
.sec-testimonail h3,.section-news-fund h3,.section-partners h3{font-weight:normal; font-size: 25px; font-family: 'robotoregular';}
.sec-testimonail p{line-height:23px;}
.sec-testimonail figcaption{margin-top:45px;}
.sec-testimonail,.section-partners{padding-top: 90px; padding-bottom: 90px;}



/*partnaire*/


.section-partners{background:#f5f5f5}
.section-partners ul{padding:0px;}
.section-partners ul li{margin-bottom:30px;float: none;display: inline-block;width:33%;}
.section-partners ul li img{max-width:100%}

/*progress bar*/
.status{vertical-align:middle;background:url(../images/icon-signal.png) no-repeat left 2px; margin-top: 8px;}
.status span{padding:0px 0px 0px 27px;color:#000000}
.status_bar{padding:25px 0px;}
.fund-status{font-family: 'robotomedium'; color: #1f1f1f;}
.progress{box-shadow:none;width:400px; overflow:visible;margin-top:10px;}
.progress:after{content:'';overflow:hidden;clear:both;display:block}
.progress .progress-bar{position:relative;box-shadow:none}


.progress-bar-urgence{background:#e5222f;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}
.progress-bar-reconstruction{background:#f1959b}
.progress-bar-consolidation{background:#f5d2d5;-webkit-border-radius:0px 4px 4px 0px;border-radius:0px 4px 4px 0px;}
.progress .active:after{content:'';position:absolute;width:36px;height:36px;right:-18px;top:-8px;-webkit-border-radius:100%;border-radius:100%;background:#e5222f;z-index:9}
.progress-bar-reconstruction.active:after{background:#f1959b}
.progress-bar-consolidation.active:after{background:#f5d2d5}


@media (max-width:414px) {
    .progress .active:after{
        right: -23px;
        top: -6px;
        width: 30px;
        height: 30px;
    }
}


.status_bar .dateDisaster,.status_bar .totalDonation{position: relative; margin-top: 10px;}

.status_bar .dateDisaster:before,.status_bar .totalDonation:before{
    content: "\e907"; font-family: 'icomoon' !important;position: absolute;
    top: -4px;font-size: 20px;font-weight: bold;}

.status_bar .dateDisaster:before{
    content:"\e901";font-weight: normal;font-size: 18px;
}

.status_bar .totalDonation:before{
	left:-13px;
	font-weight:bold;
}

/*.status_bar.sticky .totalDonation{
    padding-left: 28px;
}*/

.status_bar .dateDisaster span, .status_bar .totalDonation span{display:block;}
.status_bar .dateDisaster span.date, .status_bar .totalDonation span.amount{font-size:20px;/*text-transform:uppercase;*/line-height:18px;}
.status_bar .totalDonation span.amount strong{color:#e5222f}

.status_bar .dateDisaster span:first-child, .status_bar .totalDonation span:first-child{padding-left:28px;}
.status_bar.sticky .progress, .status_bar .totalDonation span.amount, .status_bar .dateDisaster span.date {margin-top:10px;}
.status_bar.sticky .progress{margin-bottom: 0}

.status_bar.sticky .itemhide{display:none !important}
.sticky .status_bar.sticky{margin-top: 0 !important;}
.sticky .middle-status-fund{padding: 0 0 0 122px;}
.status_bar.sticky .dateDisaster span:last-child, .status_bar.sticky .totalDonation span:last-child{padding-left:28px;}
.status_bar.sticky .totalDonation{margin-top:0;}


/*.sticky .dateDisaster span.date, .sticky .totalDonation span.amount{font-size: 19px;}*/


/*CSS FOR GALLERY ARROW*/

.secondary-slider.secondary-fundraising-slider .owl-nav .owl-prev{
    background:url(../images/left-arrow.svg) no-repeat left center !important;
    width: 35px;
}
.secondary-slider.secondary-fundraising-slider .owl-nav .owl-next{
    background:url(../images/right-arrow.svg) no-repeat left center !important;
}

.secondary-slider.secondary-fundraising-slider .owl-nav .owl-next,
.secondary-slider.secondary-fundraising-slider .owl-nav .owl-prev{
    width: 75px !important;
    height: 75px !important;
    background-size: 110% 85% !important;
    opacity: 0.5;
}

.secondary-slider.secondary-fundraising-slider .owl-nav .owl-next:hover,
.secondary-slider.secondary-fundraising-slider .owl-nav .owl-prev:hover{
    opacity:0.8;
}

@media (min-width:1500px){
    .middle-status-fund {
        padding: 0 0 0 122px;
        margin-right: 100px;
    }
}

@media (min-width:1440px){
    .middle-status-fund {
        padding: 0 0 0 72px;
        margin-right: 50px;
    }
}

@media (min-width:1025px) and (max-width:1439px){
    .middle-status-fund {
        padding: 0 0 0 30px;
    }
}

@media (min-width:992px) and (max-width:1024px){
    .middle-status-fund {
        padding: 0 0 0 15px;
        font-size: 18px;
    }
}

@media (min-width:769px) and (max-width:1439px){
    .fund-status .col-xs-6{
        width:29% !important;
    }

    .status_bar .dateDisaster span.date, .status_bar .totalDonation span.amount{
        font-size: 18px;
    }
}

@media (min-width:992px){
.middle-status-fund{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    min-height: 60px;
  }

  .sticky .middle-status-fund{min-height:inherit;}
  /*.content-right-fund figure img{margin:20px 0 0 0;}*/

  .content-right-fund{padding-left: 50px;}
}

/*/////////CSS FOR CMS PAGE/////////*/
.right_cms_content{padding: 0px 0 0;}
h2{margin-top:30px;font-size: 28px;text-transform: uppercase;}
h2,h5{font-family:robotoregular;}
h3{font-family:robotolight; font-size: 20px;}
.btn.rounded.black{margin-top: 20px;}
.btn.underline{ padding: 0; margin-top:30px;}
.col-md-4 h5{text-transform: uppercase; margin-top:20px;}
section .features .content-wrap{padding-bottom: 40px;}
section.secondary-slider p{color:#fff; font-family:robotobold; font-size: 40px; text-transform: uppercase; padding-top: 300px;  text-align:center }

/*section.section-imagetext .col-md-4 img,
section.section-imagetext .col-md-8 img,
section.section-imagetext .col-md-6 img{height: 448px;width: auto;}*/


 .secondary-fundraising-slider .owl-dots{
  display: none !important;
}

section.photo-gallery-section{padding:0;}

.secondary-fundraising-slider .owl-stage-outer p{
    font-size:18px;
    text-align: center;
    position: absolute;
    padding: 5px !important;
	color:#fff;
    bottom: 0;
    width: 100%;
    background: #737577;
    font-family: robotoregular !important;
    text-transform:inherit !important; 
}

 .secondary-fundraising-slider .owl-nav{
    position: relative;
    top: -350px;    
    margin: auto;

}

section.photo-gallery-section .sp-caption-container{margin-top:0;padding: 10px;height: 40px;}

.fancybox-lock{overflow-y:hidden !important;}
/*.fancybox-lock .photo-gallery-section{margin:0 15px 0 0 !important;}

html.fancybox-lock body{overflow-y:auto !important}

.sp-slide,.sp-slide sp-selected,.sp-image-container,.sp-image-container img{width:100% !important;}*/

@media (min-width: 1200px) {
  .secondary-fundraising-slider .owl-nav{width: 1220px;} 
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .fund-status .col-md-2{padding-left: 0;padding-right: 0;}
}

@media (min-width: 481px) and (max-width: 667px){
  .partnaires_logo{padding: 10px 0 !important;}
  .partnaires_logo img{margin-right:0;}
  .partnaires_logo .col-md-7, .partnaires_logo .col-md-5{width: 48%; display: inline-block;}
  
  .footer-bottom .footerbottom-content {
    padding: 0 90px !important;
   }
}

/*.quote_left{width:100%; height: 235px; background: #fff;}*/
.section-video h1{color: #fff;}
.section-video{padding-top: 160px;}
.section-contact img{width: 100%; }


@media (min-width: 991px) and (max-width:1279px){
	@-moz-document url-prefix() {  
		.section-contact .address {      
			width:auto;
		}
	}
}

@media (min-width: 1280px){
	
	.section-contact img {      
		height:260px;   
	}
	
	@-moz-document url-prefix() {  
	  .section-contact img {      
		height:260px;   
	  }
	}
	/*<!--[if IE]>
	.section-contact img {
		height:260px;   
	}		
	<![endif]-->*/
}

 



a.download{background:url(../images/download.png) 0 20% no-repeat; font-family: robotomedium; padding: 15px 0 15px 70px; font-size: 20px;color: #333; display:inline-block;}

.social-link{display: inline-block;margin:0 20px 30px;}

.social-link a{ background: #000;border-radius: 50%;height: 50px; width: 50px;text-align: center; padding-top: 13px; display: block; color: #fff;font-size: 27px;}


/*.icon-facebook:hover{color:#3b5999;}
.icon-twitter:hover {color:#0084b4;}
.icon-youtube:hover{color: #c4302b;}
.icon-pinterest:hover {color: #c92228;}*/


.color_block{   
    display: flex;
    height: 100%;
}

.color_block_left{padding: 10px 0 60px 0 !important; border: 1px solid #cbcbcb;border-right: none; }

/*.color_block, .color_block_right{padding: 0  !important; }*/
.color_block span.col-code { font-family: robotobold;}
.color_block span{display: block; padding: 10px 20px 0 20px;}

.col_red{background:#e5222f;}
.color_block span.color-red{color:#e5222f; }


.color-noir{color: #1f1f1f;}
.col_noir{background:#1f1f1f;}

.color_gris{color: #67696b;}
.col_gris{background: #67696b;}


.color_gris2{color: #838689;}
.col_gris2{background: #838689;}

.color_gris3{color: #9a9ea2;}
.col_gris3{background: #9a9ea2;}

.color_gris4{color: #f5f5f5;}
.col_gris4{background: #f5f5f5;}


.color-block-module .color--module{
  margin-bottom: 30px;
}

.color-block-module .color--module:last-of-type {
}



/*seconday slider*/
.secondary-slider{padding:0px;}
.secondary-slider .item{height:800px;background-size:cover !important; background-position: top center !important}
.section-news .features figure figcaption a.icon_news.icon_insta{background:url(../images/insta-bkg.png) no-repeat center center}
.no-padding-btm{;background:#ffffff}
.slider-twitter{position:relative;}
.slider-twitter{margin-top:100px;}
.owl-carousel .owl-item{background:#ffffff;}
.slider-twitter .item{height:auto;}
.slider-twitter .item a.btn{color:#33ccff}
.slider-twitter figure figcaption{position:absolute;top:-36px;left:50%;margin-left:-36px;background:#ffffff;-webkit-border-radius:100%;border-radius:100%;height:72px;width:72px;z-index:23;text-align:center}
.slider-twitter figure figcaption a{display:block;border-radius:48px;height:48px;margin:11px;background:#e5222f /*url(../images/btn-donate.png) no-repeat center center*/;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;font-size:30px}
.slider-twitter figure figcaption a  img{display:inline-block;}
.slider-twitter figure figcaption a.icon_fb{font-size:25px;background:#3b5999}
.slider-twitter figure figcaption a.icon_news{background:#1f1f1f }
.slider-twitter figure figcaption a.icon_tw{background:#33ccff }

/**/
.fund_desc ul, .panel-body ul,.section-imagetext ul,.section-simple-text ul{padding-left:15px;padding-top:0px;}
.fund_desc ul li, .panel-body ul li, .section-imagetext ul li,.section-simple-text ul li{list-style:outside disc;position:relative;padding-bottom:10px;margin-left: 10px;}

/*.panel-collapse collapse ul, filter-dropdown ul{padding-left:15px;padding-top:0px; display:flex;}*/
/*.menu-qui-sommes-nous-container ul li, .menu-item ul li, .menu-item-type-post_type ul li, .menu-item-object-page ul li, .menu-item-13746t ul li{list-style:outside disc;position:relative;padding-bottom:10px;margin-left: 35px;}*/

@media (min-width: 992px) {
.fund_desc .downloadlnk li{float:left;list-style:none; margin-top: 60px;}
}

.fund_desc .downloadlnk li a{color:#383f46}
.fund_desc .downloadlnk li a.icon-download{font-size:20px;display:block;}
.fund_desc .downloadlnk li a img{padding:0px 20px 0px 0px;}
a.share{text-decoration:underline;background:url(../images/icon-share.png) no-repeat right center;padding-right:30px;}
.fund_desc .downloadlnk li.pull-right{text-align:right}
.fund_desc h3{/*text-transform:uppercase;*/padding-bottom:10px;}
.fund_desc h4{ font-family: 'robotolight';}

/*.fund_desc figure{padding-top:25px;}*/
.section-accrodion h2,.fund_desc h2{margin-top:0; line-height:35px;}

@media (max-width: 991px){
    .alignleft,.alignright{float: none;margin:10px 0;}
	.section-accrodion h2{margin-top:10px;}
}
.section-video-fund{padding-top: 190px;}
.secondary-fundraising-slider .owl-stage-outer{height: 800px !important;}

.section-news-fund .social-News{margin-bottom: 30px;}

/*news page*/


.section-filter{background:#ffffff;padding:40px 0 30px 0;}

.page-template-page-templatesnews-template-php .section-filter,
.page-template-page-templatesnews-template-php .section-filter .panel{background:#f5f5f5;}
.page-template-page-templatesnews-template-php .section-news{padding-top:50px;}

.section-filter h4{text-transform:uppercase;color:#838689;letter-spacing: 0.09em}
.section-filter .btnback a{color: #858688;}
.section-filter .btnback a i{margin-right: 30px;}
.section-filter .panel{margin-bottom:0;}

.multiselect-native-select .caret{border:0px; border-bottom: 2px solid #e5222f;border-right: 2px solid #e5222f;height: 8px;margin-top: -4px;pointer-events: none;transform: rotate(45deg);
transform-origin: 66% 66% 0;transition: all 0.15s ease-in-out 0s;width: 8px;margin-left:5px;}
.multiselect-native-select .btn{border:0px;background:none;color:#1f1f1f}
.multiselect-native-select .btn-default:hover, .multiselect-native-select .btn-default:focus, .multiselect-native-select .btn-default:active, .multiselect-native-select .btn-default.active, .open .multiselect-native-select .dropdown-toggle.btn-default{background:none;box-shadow:none}
.multiselect-container{background:#ffffff;top:62px;-webkit-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;/*padding:30px 35px !important;*/left:-70px;}

.multiselect-container.dropdown-menu > .active > a, .multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > .active > a:focus{color:#e5222f;background:none} 
.multiselect-container > li{padding:9px 35px !important;font-size:16px;}
.multiselect-container li:first-child{padding-top:35px;}
.multiselect-container li:last-child{padding-bottom:35px !important;}
.multiselect-container li.active label{background:url(../images/icon-tick.png) no-repeat left center}
.multiselect-container > li > a > label{padding-left:35px;}
.multiselect-native-select .btn-group.open .dropdown-toggle{background:none;box-shadow:none;color:#e5222f}




.media-footer div.share_block{position: relative;}
.media-footer div.share_block .addthis_inline_share_toolbox, .media-footer div.share_block:hover .addthis_inline_share_toolbox {
    display: none; 
    position: absolute;
    right: 15px;
    top: 22px;
    background: #fff;
    padding: 13px 13px 12px;
    border: 1px solid #ddd;
}

.media-footer div.share_block:hover .addthis_inline_share_toolbox{display: block;}

.news-page {
    background: #f5f5f5;
}

/*CSs for Radio instead checkbox*/


/*CSS FOR FILTER MENU*/
.section-filter h4{margin:0;}
.section-filter ul.filter_menu li{display:inline-block; margin-right:30px; margin-left:0 !important;}

.section-filter ul.filter_menu li input,
.section-filter ul.filter_menu li label{display:inline-block; vertical-align:middle; margin:0;}


/*CSS FOR radio*/

.section-filter input[type=radio] {
  display: none !important;
}

.section-filter input[type=radio] + label {
  padding-left: 20px;
  position: relative;
  line-height: 17px;
  cursor: pointer;
}

.section-filter label:hover:before{border:1px solid #e5222f !important;}

.section-filter input[type="radio"]:not(:checked) + label:before,
.section-filter input[type=radio]:checked + label:before{
  border:1px solid #e5222f;
  display:inline-block;
  width:11px;
  height:11px;
  content: "";
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  margin-left: -20px;
  position: absolute; 
  cursor: pointer; 
  border-radius:50%; 
  margin-top:3px; 
}

.section-filter input[type=radio]:checked + label:before {
  color: #a6a6a6;
  line-height: 25px;  background:#e5222f;
}

/**/

.section-contact{/*background:#efefef*/}
.section-contact .address{background:#ffffff}
.section-contact .address address{ margin-bottom:25px; min-height:140px; padding:35px 35px 35px;}

@media (max-width: 768px) {
	.section-contact .address address{
		margin-bottom:0 !important;
	}
}

.section-contact .address address a{color:#4e4e4e}

/*media page*/

.media-page {margin-top:0px;background:#f5f5f5}
.media-page .navbar{background:none}
.section-two-col{padding:0;}
/*.section-backlink{padding:30px 0px;background:#ffffff;margin-bottom:84px}*/
.media-page .media-body{padding:0px 0px 40px 0px; overflow:visible}

.media-body .features .content-wrap p{line-height:23px;color:#67696b;padding-bottom:25px;}

.media-buttons{padding-bottom:15px;}
.media-buttons li{display:inline-block;margin-bottom:15px}
.media-buttons li a{position:static !important;color:#ffffff}


.media-body .features{background:#ffffff;padding-bottom:15px;}
.post-Listing{text-align:center}
.postList{padding:0px 15px;/* -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;*/}
.postList .btn{clear:both;}
.postList li{padding:0px 7px;}
.postList .btn.rounded{display:block;max-width:205px;margin:0px auto}
.media-footer a.share{color:#414141}
aside .widget:after{content:'';clear:both; overflow:hidden;display:block}
aside .widget{margin-bottom:50px;}
.widget_contact{background:#ffffff}
.widget_contact address{padding:15px 25px 35px;}
.section-two-col aside{padding-left:30px;}
.widget ul{padding-left:0px;}
.widget_archive ul li .date{color:red}
.widget_archive ul li p{color:#838689}
.widget ul.social-share li a{margin-right:10px;}
.widget_tags li{display:inline-block}
.widget_tags li a{display:block;background:#ffffff;height:56px;line-height:56px;font-style:italic;color:#9a9a9a;padding:0px 15px}



/* Base for label styling */
.multiselect-container [type="checkbox"]:not(:checked),
.multiselect-container [type="checkbox"]:checked, .multiselect-container [type="radio"] {position: absolute;left: -9999px;}
.multiselect-container [type="checkbox"]:not(:checked) + label,
.multiselect-container [type="checkbox"]:checked + label {position: relative;padding-left: 25px;cursor: pointer;}
.form-control{-webkit-border-radius:0;border-radius:0;height:60px;line-height:60px;font-size:16px;color:#282222}

/*.form-group input{float:none;width:100%;border-width:1px;box-shadow:none;border-color:#a6a6a6; }
*/
.wpcf7-form .form-group input[type="submit"]:focus {outline: none; border:none;}

textarea.form-control{line-height:22px;color: #b1b1b1; padding: 20px 20px; height: 125px}
.form-control-sel {background: #ffffff url(../images/icon-arro-dn.png) no-repeat 98% 50%;}
.form-control-sel select {padding: 0px 16px;width: 100%;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.form-control-sel select option { padding: 2px 16px;}
.contact-form{padding-left:70px;padding-right: 70px;}
.contact-list{padding-top: 50px !important;}
/*.form-control-sel select:focus {outline: none;}*/

.newslettertick {line-height:30px;padding:25px 0px 0px 0px}
.contact-listing .features{min-height:570px; background: #fff;}
.contact-filter{}
.formsubj{text-align:center}
.formsubj h4{display:inline-block;color:#838689;text-transform:uppercase;padding-right:15px; letter-spacing: 0.09em;}
.formsubj .form-control-sel{display:inline-block;min-width:254px;background-color:#f5f5f5;background-position:94% 50%; margin-bottom: 0;}
.formsubj .form-control-sel .form-control{-webkit-border-radius:30px;border-radius:30px;line-height: 38px; height: 50px}
.formsubj .form-control-sel select{font-style:italic;color:#9a9a9a;}
.formsubj .form-control-sel select option{font-style:normal}

.contact-form form .form-group .wpcf7-submit {margin-top: 15px;}

/* Base for label styling */
/*input[type="checkbox"]{width: auto; position: absolute; z-index: 5;}
.newslettertick span.check_button{width: 20px; height: 20px; background:#fff; border:1px solid red; }*/


/*CSS FOR Accordion title*/
.section-accrodion .center h2{margin-top:0;line-height:22px;}
.section-accrodion .center h3{margin-bottom: 60px;line-height:16px;}

/*CSS for news LIsting*/
.news-listing ul.mobile-carousel{overflow: hidden;}
.news-listing .grid-item{margin-bottom: 30px;}

.panel-title .accordion-toggle{display:block}
.accordion-toggle {position: relative;
}
.accordion-toggle::before,
.accordion-toggle::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 22px;
  width: 14px;
  height:2px;
  margin-top: -2px;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.accordion-toggle::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
}
.accordion-toggle.collapsed::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.accordion-toggle.collapsed::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.panel{-webkit-box-shadow:none;box-shadow:none;border:0px;broder-radius:0}
.panel-group .panel, .panel-default > .panel-heading{border-radius:0}
.accList li{clear:both; display:block; overflow:hidden;margin-bottom:60px;}
.panel-default > .panel-heading > h4{text-transform:inherit}
.panel-default > .panel-heading > h4 > a{padding-right:34px; text-transform:inherit}

/**/

.section-news{padding-top:80px; padding-bottom:85px; background:#f5f5f5; }
.section-news figure{background:#fff;}
.section-two-col{padding-top:50px; }

.homepage .section-news span.disasterdate{margin-bottom:10px; display:block;}

.homepage .section-news span.disasterdate h4{margin-bottom:10px; margin-top:0;}
/**/

.section-accordion-conter .panel-title{text-align:center;font-size:19px; text-transform:inherit;}
.section-accordion-conter .panel-title .accordion-toggle::before, .section-accordion-conter .panel-title .accordion-toggle::after{
    right:auto;left:49.5%;top:auto;bottom:-30px;}

/*buttons*/

.btn.rounded.black{background:#1f1f1f;border:1px solid #1f1f1f}
.btn.rounded.black:hover{background:#ffffff;/*color:#e5222f*/ color: #000;}
.btn.underline{text-decoration:underline;color:#e5222f; background: none; border:none;}
.btn.underline:hover{text-decoration:none;}
.btn.underline.black{color:#414141}
.btn.underline.grey{color:#838689}

.btn.border.red{border-color:#e5222f;color:#e5222f}
.btn.border.red:hover{background:#e5222f;color:#ffffff}

.btn-list li{display: inline-block;width: 48%;margin-bottom: 20px;}

.btn-list li a.btn.rounded.black,
.btn-link li a.btn.underline{margin-top: 0}


section.section-simple-text ol {
    counter-reset: section;
    list-style-type: none;
	margin: 0 0 0; padding:0;
}
section.section-simple-text ol>li{
	/*position: relative;
	padding-left: 20px;*/
    
}

section.section-simple-text ol li strong,
section.section-simple-text ol li h4, 
section.section-simple-text ol li h3{
	display:inline-block;
	vertical-align:text-top;
	width:93%;
	margin:0 0 15px 0;
}

@media (max-width: 1110px){	
	section.section-simple-text ol li strong,
	section.section-simple-text ol li h4, 
	section.section-simple-text ol li h3{
		width:89%;
	}

}

section.section-simple-text ol>li::before {
	/*position: absolute;
    top: 0;
    left: 0;*/
    counter-increment: section;
    content: counters(section,".") ".";
	display:inline-block;
	vertical-align:text-top;
	margin-right:5px;
}

section.section-simple-text ol>li>ol>li>ol>li>ol>li{margin-bottom:15px;}


section.section-simple-text ol>li>ol>li>ol>li>ol {
    counter-reset: subsection;
    list-style-type: none;
	position:relative;
	padding-left:30px;
}

section.section-simple-text ol>li>ol>li>ol>li>ol>li::before {
    counter-increment: subsection;
    content: counters(subsection,".") ".";
	position:absolute;
	margin-left:-30px;
}




/*section.section-simple-text ol>li>ol>li{padding-left: 35px; margin-left:-20px;}

section.section-simple-text ol>li>ol>li>ol>li{padding-left: 50px; margin-left:-33px;}

section.section-simple-text ol>li>ol>li>ol>liol>li{padding-left: 70px; margin-left:-50px;}

section.section-simple-text ol>li>ol>li>ol>liol>liol>li{padding-left: 80px; margin-left:-70px;}*/






/*section.section-simple-text {
    counter-reset: section;
}

section.section-simple-text strong::before {
    counter-increment: section;
    content: counters(section,".") " ";
	
}

section.section-simple-text ol {
    counter-reset: subsection;
    list-style-type: none;
}

section.section-simple-text ol li::before {
    counter-increment: subsection;
    content: counter(section) "." counters(subsection,".") " ";
}*/


.unordered-listing li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
    color:#4e4e4e;
}

.unordered-listing li:before {
    position: absolute;
    top: 0.5rem;
    left: 0;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #bfc4c6;
    border-radius: 50%;
}

/*figure caption*/

.pictoSocial, .social-group li{display:inline-block;margin:0 25px 25px 0; }
.pictoSocial{text-align:center}
.pictoSocial a, .social-group li a{display:block;border-radius:48px;width:48px; text-align:center;height:48px;background:#000000;font-family: 'robotobold';text-transform:uppercase;color:#ffffff;line-height:48px;font-size:25px}
.pictoSocial  img{display:inline-block;width:auto}


/**/
.noList,.DiscList{padding-left:18px;}
.noList li{list-style:inside decimal;color:#7f898d; text-indent:-18px;}
.DiscList li{list-style:inside disc;color:#7f898d;text-indent:-18px;}

.noList li{list-style:inside decimal;color:#7f898d}
.DiscList li{list-style:inside disc;color:#7f898d}

/*.section-simple-text ul{margin-bottom:20px; margin-left:20px;list-style-type: disc;list-style:inherit !important;}
.section-simple-text ul li{list-style:inherit !important; margin-bottom:5px;}*/

/*.section-simple-text ul{margin:0;padding:0;}*/
.section-simple-text ul li{position:relative;margin-left:20px; list-style:none;}

.section-simple-text ul li:before{
	content: '.';
    font-size: 37px;
    position: absolute;
    top: 0px;
    margin-left: -25px;
    font-family: monospace;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 6px;
}


/*CSS FOR FUNDRAISING*/
section.fund_desc{padding-top: 80px; padding-bottom: 80px;}

/*section.fund_desc .amount strong{font-weight:normal;}*/

.main-banner .fund-banner{height:auto;background-size:cover !important; position: relative;  }


.main-slider .owl-stage-outer .owl-stage .owl-item .item{
	/*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  backdrop-filter: blur(5px);
  }
/*  
  .main-slider .owl-stage-outer .owl-stage .owl-item .item:after{
	  filter: blur(0px);
  }*/

.page-overlay .main-banner{position:relative;}

.page-overlay .main-banner:after,
.main-banner .fund-banner:after,
.main-banner.featured-banner .item:after{ /*css for overlay banner*/
    content: '.';
    display: table;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 695px;
}

.main-banner.featured-banner .item{
	filter:blur(5px);
	opacity:0.8px;	   
    position: absolute;
    bottom: -10px;
    top: -10px;
    height: 492px;
    left: -10px;
    right: -20px;
}

.main-banner.featured-banner .sliderCaption{
	position: relative;
    z-index: 4;
    padding: 70px 0 66px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.news-page .main-banner.featured-banner .sliderCaption{
	padding: 80px 0 90px;
}

.main-banner.featured-banner .sliderCaption h1,
.main-banner.featured-banner .sliderCaption h4{color:#fff; }




.main-banner .fund-banner .sliderCaption{position: relative; z-index:4; }

@media (min-width: 1601px){
	.single-fundraising-campaign .main-banner .fund-banner,
	.page-template-contact-template .main-banner .item{height:695px; }
	
}

@media (min-width: 1441px){	
		.single-fundraising-campaign .main-banner .fund-banner .sliderCaption,
	    .page-template-contact-template .main-banner .fund-banner .sliderCaption{padding:15% 0;}
	
	.main-banner .fund-banner .sliderCaption{
		padding:10% 0;
	}
	
	.main-banner .fund-banner .sliderCaption h1.fund-title{margin-top:0;}
}

h1.fund-title{margin-top: 80px;}
.fund-banner a.btn.underline{color: #fff;}

.main-banner .fund-banner p{font-size: 20px;}

.main-banner .fund-banner p.inner-news-date{margin-bottom:30px;}

@media (max-width:767px){
.single-fundraising-campaign .main-banner .fund-banner p{display:none;}
}

.fund_desc h3{font-size: 20px; font-family: 'robotolight'}


.secondary-twitter-slider .owl-nav .owl-next{background:url(../images/slider-arr-rt2.png) no-repeat left top;}
.secondary-twitter-slider .owl-nav .owl-prev{background:url(../images/slider-arr-lt2.png) no-repeat left top;}

.secondary-twitter-slider .owl-item{padding-top:60px !important;}
.secondary-twitter-slider .item, .secondary-twitter-slider .owl-stage-outer{height:200px !important;}

.secondary-twitter-slider .owl-dots{display: none;}

.secondary-twitter-slider .owl-dots{top:42%;}


/*CSS FOR CMS*/


table tr>td{border-right:1px solid #ccc;border-bottom:1px solid #ccc; padding:16px 25px;}

table tr>td:last-child{border-right:none;}

table tr>td:first-child{padding-left: 0;}

table tr:last-child>td{border-bottom:none;}

table tr:first-child>td{font-weight: bold}

#id{}
.class{}

div.class{}



/*CSS FOR contact*/

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  padding-left: 35px;
  position: relative;
  line-height: 27px;
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label:before,
input[type=checkbox]:checked + label:before{
  border:1px solid #a6a6a6;
  display:inline-block;
  width:25px;
  height:25px;
  content: "\2713";
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  margin-left: -35px;
  position: absolute; 
  cursor: pointer;   
}

input[type=checkbox]:checked + label:before {
  color: #a6a6a6;
  line-height: 25px;
}


/*.....CSS FOR NEWS DROPDOWN...*/
.section-filter ul.filter-dropdown{margin-top: 0;padding-left:0;}

.section-filter ul.filter-dropdown>li{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-right: 20px;    
  }
.section-filter ul.filter-dropdown>li>a{color: #1f1f1f}

.section-filter ul>li>a>i{
    color: #e5222f;
    position: absolute;
    right: 0;
    top: 3px;font-size: 18px;
    font-weight: bold;
}

.section-filter ul.filter-dropdown>li>ul>li{
  padding: 10px 0;
}

.section-filter .dropdown-menu{
  background: #fff;
  top: 28px;
  border-radius: 0px 0px 5px 5px;
}


.current-menu-parent .main-menu-link, .current-menu-item .main-menu-link {
  color: #e5222f;
}

/*added by karun*/
button.multiselect.dropdown-toggle.btn.btn-default.active{
    color: #e5222f;
}


/*//////CSS for CMS///*/

div p:last-child{
    margin-bottom: 0;
}
.section-imagetext .title h3{
    font-size: 24px;
}

h2{
    text-transform: inherit;
}

.section-solidarity{height: 675px !important;}

.panel-body{padding: 25px 57px; }

.panel-body td{vertical-align: text-top;}

.section-simple-text .container{
    padding-left: 174px;
    padding-right: 174px;
}

/*.section-simple-text .container h2{
    text-transform: uppercase;
}*/ /* removed for task https://projects.zoho.com/portal/cabstudio/#taskdetail/455874000008247601/455874000008920785/455874000008920835*/

.contact-listing .features{
    min-height: 510px;
}
.section-accordion-conter .panel-body h2{
    margin-top:15px;
}
.section-accordion-conter .panel-body .col-lg-4{
    width:34.333333%;
}

.section-accordion-conter .panel-body .col-lg-4 img{
    width:375px;
    height:236px;
}

.section-accordion-conter .panel-body .col-lg-8{
    width: 65.666667%;
}

.tab-content>.tab-pane{
    padding:50px 0 0;
}
.section-simple-text>.container>h2{
    margin-top: 0;
}

.contact-list{
    padding: 102px 0 55px !important;
}

/*//////CSS for fullwidth-image-banner///*/
.fullwidth-image-banner{padding:0 !important}
.fullwidth-image-banner img{width:100%;height:auto;}


/*
** Style rules added by ramesh_procab on 5-15-2017
*/

#menu-qui-sommes-nous li {
  float: left;
}

.section-news-fund .center.newsAll.hidden {
  display: none !important;
}

.page-template-fund-raising .status_bar,
.page-template-fund-raising .status_bar .panel {
  background-color: #f5f5f5;
}

.page-template-fund-raising .status_bar + section,
.page-template-news-template .status_bar + section {
  padding-top: 0;
}

body.scroll.page-template-fund-raising .status_bar + section,
body.scroll.page-template-news-template .status_bar + section {
  padding-top: 50px;
}

@media (max-width: 1200px) and (min-width: 768px) {
  #wpcf7-f480-p474-o1 span.wpcf7-list-item {
    margin-left: 0;
  }

  #wpcf7-f480-p474-o1 .row > [class*="col"] {
    width: 100%;
  }

  #wpcf7-f480-p474-o1 .row > [class*="col"] > input.wpcf7-form-control.wpcf7-submit.btn.rounded.pull-right {
    float: left !important;
  }
}