/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-nav div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px 25px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.9;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-nav div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-dot{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-dot span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width:12px;
	height:12px;
	border:2px solid #ffffff;
}

.owl-theme .owl-controls .owl-dot.active span,
.owl-theme .owl-controls.clickable .owl-dot:hover span{
	background:#ffffff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-dot span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

.owl-nav{position:absolute;top:50%;width:100%}
.owl-nav .owl-prev, .owl-nav .owl-next{position:absolute;text-indent:-100000px;width:18px;height:30px;}
.owl-nav .owl-prev{left:0;background:url(../images/slider-arr-lt.svg) no-repeat left top;}
.owl-nav .owl-next{right:0;background:url(../images/slider-arr-rt.svg) no-repeat left top;}
.owl-dots{position:absolute;width:100%;bottom:20px}

.mobile-carousel .owl-nav,
.js-mobile-carousel .owl-nav {top:auto;bottom:30%}
.mobile-carousel .owl-nav .owl-prev, .mobile-carousel .owl-nav .owl-next,
.js-mobile-carousel .owl-nav .owl-prev,
.js-mobile-carousel .owl-nav .owl-next {position:absolute;text-indent:-100000px;width:20px;height:30px;}
.mobile-carousel .owl-nav .owl-prev,
.js-mobile-carousel .owl-nav .owl-prev{left:30px;background:url(../images/mobile-arro-lt.svg) no-repeat left top;}
.mobile-carousel .owl-nav .owl-next, .js-mobile-carousel .owl-nav .owl-next{right:30px;background:url(../images/mobile-arro-rt.svg) no-repeat left top;}