/*///////////CSS FOR HOME PAGE//////////////////*/

@media (min-width: 993px) and (max-width: 1024px) {
    body > section.section-htmlfree,section.section-news,section.section-howworks,section.section-threeColumn,.section-contactform{padding: 60px 0 !important;}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: cover !important;}
}


@media (max-width: 1060px) {
    #header{height:111px;}
    .top-bar{display: none;}

    header .btnDonate,header .btnDonate:active,header .btnDonate:focus,header .btnDonate:visited{position:absolute;right:0;width:141px;height:100%;top:0;bottom:0;padding:0px;background-position:center 14px;line-height:normal;-webkit-border-radius:0;border-radius:0;
	text-align:center;padding:45px 37px 0px;margin-top:0; height: 111px;
	
	 background:#e5222f url(../images/btn-donate.svg) no-repeat center 10px !important;
	 color:#fff !important;
	
	}
	
    /*///////////CSS FOR HOME Banner//////////////////*/
    .main-slider .owl-nav,.secondary-fundraising-slider .owl-nav{display: none;}
    .main-slider .content-left{padding-left: 10%;}
    .main-slider .content-right{padding-right: 10%;}

    .howworks-content{min-height:345px; }
    .howworks-content figure i{font-size: 13rem;}
}

@media (max-width: 1024px) {
    .owl-carousel .owl-stage-outer{height: auto;}
	
	.newsAll{margin-top:30px;}
}

@media (max-width: 768px) {
	 .main-slider .content-left{padding-left: 5%;}
}

@media (max-width: 992px) {

    /*///////////CSS FOR HOME SECTION//////////////////*/

    body > section,.section-news{padding: 30px 0; }
    body > section.section-solidarity{padding:118px 0;}
	
	body > section.section-accordion-conter{padding:0}
	

    /*///////////CSS FOR threeColumn//////////////////*/
    .section-threeColumn{padding-bottom: 30px; }

    /*///////////CSS FOR HOME fundraising//////////////////*/

    .section-fundraising .features .overlay{position: relative;}
    .section-fundraising .features:hover figcaption a{width:auto; margin-left:11px;}
    .section-fundraising .features:hover figcaption a span,
    .section-fundraising .features .overlay,.section-fundraising .features .overlay a{display: none; opacity: 0;}
    .section-fundraising .features .content-wrap a.btn{position: relative;margin-bottom: 20px; margin-top: 20px;}


    /*///////////CSS FOR HOME howworks//////////////////*/
    .section-footerbottom,.section-htmlfree .col-md-4,
    .section-footerbottom .postal-account, .howworks-content{padding-left: 0;padding-right: 0; }

    /*///////////CSS FOR HOME htmlfree//////////////////*/
    .mobile-carousel .feature_block{margin-bottom:0;padding:10px 15px 0;}
    .section-howworks a:first-child .col-xs-6 img{margin-top: 0;}
    .section-htmlfree{padding:0px;}
    .section-htmlfree figcaption{position:static}
    .section-htmlfree a.btn.underline{border-radius:0; padding: 20px; font-size: 25px; text-transform: uppercase; text-decoration: none; margin-top: 0; margin-bottom:10px;}

    /*///////////CSS FOR HOME Postal content//////////////////*/
    .postal-account .postal-content{height: auto; padding-bottom:40px;}
    .postalfooter li:last-child{background: none;}


    /*///////////CSS FOR HOME Newsletter//////////////////*/
    .newsletter input[type=email]{width: 80%}
    .footerbottom-content{background:#fff;}
    .footer-bottom .footerbottom-content{padding: 0 159px}
    .newsletter{text-align:center}
    .social-share{padding:38px 0px 40px 0px; text-align: center}


    /*///////////CSS FOR HOME PArters Logo//////////////////*/
    .partnaires_logo{padding:35px;}
}


/*CSS FOR MENU*/
@media (max-width: 480px) {
    header .btnDonate,header .btnDonate:active,header .btnDonate:focus,header .btnDonate:visited{width: 80px; line-height: 11px;padding: 40px 10px 0px; background-position: center 6px;}
	html:lang(de-DE) header .btnDonate{letter-spacing:0;padding:40px 0px 0px;}
    .section-howworks{padding-top:10px;padding-bottom:20px;}
    .howworks-content{padding-top:0px;min-height: 160px !important;}
    .howworks-content figure{padding-top:5px;}
    .howworks-content figure i{font-size:5rem;}
    .howworks-content p{display:none;}
	
}

@media (max-width: 412px) {
    #header{height: 70px;top: 0;left: 0;right: 0;}
    header .btnDonate,header .btnDonate:active,header .btnDonate:focus,header .btnDonate:visited{height: 70px; font-size: 12px;}
	
	
	
	
    /*!*body{margin-top: 86px;}*!   rajesh sir comented*/
    .mean-container .mean-nav {margin-top: 70px !important;}
    .homeurgency .mean-container .mean-nav {margin-top: 90px !important;}
    .mean-container a.meanmenu-reveal{padding-top: 5px;}
    .navbar>.container .navbar-brand{margin-top: 0 !important;}
    .homerugency .navbar>.container .navbar-brand{margin-top: 0px !important;}
    .mean-container a.meanmenu-reveal{width: 34px;}
    .mean-container a.meanmenu-reveal span{height: 4px; margin-top: 4px;}
    .section-filter{padding: 10px 0;}
    .btn.dropdown-toggle{padding:2px 0;}
    header .navbar-nav>li>a{line-height: 30px;}
}

@media (min-width: 413px) and (max-width: 415px) {
    .btnDonate, a.btnDonate:active, a.btnDonate:visited, a.btnDonate:focus{line-height: 18px !important;}
}
/*///////////CSS FOR HTML threre//////////////////*/
@media (max-width: 768px) {
    .section-fundraising .features .content-wrap a.btn{bottom: 0}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: 180% 100%!important;}
}

@media (min-width: 992px) {
    .section-htmlfree a.btn.underline{background: none !important}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: cover!important;}

}

@media  (max-width: 600px) {

    .owl-item div.col-xs-12{padding-right: 0;padding-left: 0;}

}
/*///////////CSS FOR HOME Video//////////////////*/

@media  (max-width: 480px) {
    .play_btn{transform: scale(0.75); margin-top: 0;}

}

/*///////////CSS FOR HTML Free//////////////////*/
@media (max-width:480px) {
    .section-htmlfree a.btn.underline{font-size:  16px; padding:8px 0}
}


/*///////////CSS FOR HOME POstal//////////////////*/
@media (max-width: 600px) {
    .postalfooter li{ display: block; background: none; padding: 0px 22px 0px 22px; }
}


/*///////////CSS FOR News Letter//////////////////*/
@media (min-width: 767px) and (max-width: 768px) {
    .newsletter{padding: 35px 0;}
}

@media (max-width: 600px) {
    .newsletter{padding-top: 20px;}
    .social-share{padding:30px 0;}
    .footer-bottom .footerbottom-content{padding:20px 0 0}
    .newsletter input[type=email]{height: 50px;}
    .newsletter input[type=submit]{font-size: 17px; height: 50px;}
    ul.social-share li a,.widget ul.social-share li a{margin-right:5px;}
}


/*///////////CSS FOR HOME Footer//////////////////*/
@media (max-width: 600px) {
    .partnaire_rt img{margin-left: 0; margin-right: 15px;}
    .partnaire_rt{text-align: left;}
}

@media (max-width: 480px) {
    .partnaire_lt img{margin-right: 0;}
    .partnaire_rt a{display: inline-block; width: 40% }
    .partnaire_rt a:first-child{width: 54%;}
}

@media (max-width: 667px) {
    .partners li{padding-left: 0}
    .homeurgency #header{ height: 90px; }
}

/*///////////CSS FOR HOME Footer//////////////////*/
@media (min-width:600px) and (max-width: 767px) {
    #menu-footer > li{padding-right: 15px;padding-left: 15px;}

}

@media (min-width:768px) and (max-width: 992px) {
    #menu-footer > li{padding-right: 28px;padding-left: 28px;}
    .section-video {background-size: 180% 100%!important;}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: 180% 100%!important;}


}

@media (max-width:480px){
    #menu-footer > li:first-child,#menu-footer > li:last-child{display: block}
    #menu-footer > li:last-child{padding-left: 0}
    #menu-footer > li{padding-right: 30px;padding-left: 30px;}
    #menu-footer > li:first-of-type::after, #menu-footer > li:nth-last-of-type(2)::after{display: none;}
}


@media (max-width: 412px) {
    .partnaires_logo{display: none;}
    .partnaires_logo{padding: 10px 0 10px;}
}

@media (max-width: 360px) {
    .mobile-carousel .owl-nav{top:46%;}
    #menu-footer > li{padding-left: 20px;padding-right: 20px;}
}


/*....................CSS FOR NEWS.....................*/

@media (max-width: 992px) {
    .mobile-carousel .owl-nav .owl-prev,
    .js-mobile-carousel .owl-nav .owl-prev{left: 10px;}
    .mobile-carousel .owl-nav .owl-next,
    .js-mobile-carousel .owl-nav .owl-next{right:10px;}
    .mgap { margin-bottom: 10px; color: #ffffff}


    .multiselect-container{top:42px; left: -40px;}
    .multiselect-container > li{padding: 2px 10px !important}
    .multiselect-container>li>a>label{padding:3px 20px 3px 30px !important;}

    section .features,.contact-listing .features{min-height: inherit;}
    .news-listing .grid-item{margin-bottom: 20px; }
    .mean-container .mean-nav ul.sub-menu{margin-bottom: 0;}

    .lock-html{overflow: hidden;}	
	
	
	
}

@media (max-width: 767px) {
	.section-news-fund .social-News{margin-bottom:0; background:#fff;}
	
	.section-news-fund .news-listing{background:#fff;}
	.section-news-fund .news-listing .grid-item{margin-bottom:0;}
	
	.fund_desc .col-md-6:first-child{margin-bottom:30px;}
}

@media (min-width:767px) and (max-width: 1024px) {
   /* .news-listing .grid-item{width: 33.33%;}*/

    .news-listing .grid-item .features{min-height: 100px;}
}

@media (max-width: 414px) {
    .section-filter h4{font-size: 16px; letter-spacing: 0}
    .section-filter .btnback a i{margin-right: 10px;}
}

@media (max-width: 1178px) {
    span.multiselect-native-select{ margin-left: 13px !important;letter-spacing: -0.02em;
    }

    .multiselect-native-select .caret{margin-left: 3px;}
}

/*.............CSS FOR CMS.....................*/

@media (max-width: 768px) {
    .nav-tabs>li{margin-bottom: -1px; }
    .panel-body{width: 100%; overflow: auto;}

    .section-fundraising .features{height: auto; min-height: inherit; padding-bottom:20px;}
    .section-solidarity.keyfigure{padding: 15px 0 !important;}
    .right_cms_content{margin-left: 0; padding: 0}

    section .features .content-wrap{padding-bottom: 20px;}

    .btn.underline{margin-top: 0;}

    .section-htmlfree figcaption span.video{display: none;}

    .section-solidarity.keyfigure{height: auto !important;}

    .partners{padding-top: 35px;}

    .section-accordion-conter .panel-heading .panel-title{padding:0 0 40px 0; font-size: 24px; }

    .section-simple-text{padding-top: 0;}

    .contact-listing .features{min-height: inherit !important; padding-top:20px;}

    .secondary-fundraising-slider .owl-stage-outer {height:350px !important;}

    .secondary-slider .item{height:350px;}

    .section-simple-text .container{padding:20px;}

    .panel-body{padding: 20px 25px; }
    .tab-content>.tab-pane{padding:20px 15px 0;}

    .section-accordion-conter .panel-title .accordion-toggle::before, .section-accordion-conter .panel-title .accordion-toggle::after{bottom:-20px;}
}

@media (max-width: 767px) {
    .partners i{line-height: 62px;}
    .partners i:before{font-size:50px;}
    .partners i.icon-hands:before{font-size:60px;}
}

/*CSS FOR TAB*/
@media (max-width: 568px) {
    .nav-tabs>li>a{
        line-height: 1.428571429;
        font-size: 16px;
        padding: 7PX 14PX;
    }

    .homeurgency .main-banner .itemCaption h3{font-size: 22px; padding-bottom:10px;}

    .panel-heading,.panel-body{
        padding: 15px;
    }
	
	.accordion-toggle::before, .accordion-toggle::after{right:0;}
}

/*CSS FOR Slider caption*/
@media (max-width: 360px) {
    .main-banner .item .sliderCaption h1,.section-solidarity h2{font-size: 35px}
    .homeurgency .main-banner .itemCaption h3{font-size: 22px; padding-bottom:10px;}
}

/*.............CSS FOR FUND RAISING.....................*/
@media (max-width:1024px) {
    .secquote blockquote{padding:0 !important; font-size: 20px;}
    .secquote em{padding:0 !important;}
}

@media (max-width: 992px) {
    /*!*.status_bar.sticky{top:100px;}*!  rajesh sir comented*/

    .secondary-twitter-slider .item, .secondary-twitter-slider .owl-stage-outer{height: auto !important; }
    .secondary-twitter-slider .owl-dots{display: none !important;text-align: center;}


    .sec-testimonail .content{text-align: center;}
    .sec-testimonail figure{margin-bottom: 30px;}

    .secquote{padding: 25px 0; margin-bottom: 10px; }

    .fund_desc figure{text-align: center;}

    section.keyfigure{padding-top: 140px !important;}

    section.fund_desc,.sec-testimonail, .section-partners {padding-top: 40px;padding-bottom: 40px;}


    .section-fundraising .features:hover figcaption span img.overlay-img{display: block!important;}


    .section-filter.sticky{padding: 10px 0 20px !important; z-index: 1000 !important;}

    .status_bar.sticky {
        padding: 18px 0;
    }

    .cms-page .fund-status.sticky{
        top:60px !important;
    }
	
	.page-template-contact-template .status_bar.sticky {
		padding: 32px 0;
	}

}

@media (max-width: 767px) {
    .section-imagetext .col-md-6,.section-imagetext .col-md-4{margin-bottom: 30px; text-align: center;}
}


@media (max-width: 480px){

    .section-imagetext .col-md-6,.section-imagetext .col-md-4{margin-bottom: 30px;text-align: center;}

    /*css for sticky bar for mobile*/
    .cms-page .fund-status.sticky{
        top:70px !important;
    }

    .section-imagetext .col-md-6:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    /*CSS for Filter*/
    .progress-bar-reconstruction{ width:40% !important;padding-left: 3%;}
    .progress-bar-consolidation{width: 30% !important;}
    .progress-bar-urgence{width:30% !important; padding:0 1%;}
    .progress{width: 100%;}
    .sticky .dateDisaster span.date, .sticky .totalDonation span.amount{font-size: 15px;}

    /*CSS for quote*/
    .secquote blockquote{font-size: 20px; line-height: 26px;}
}


@media  (max-width: 375px) {
    .status_bar span{font-size:14px !important; letter-spacing: -0.01em;}/*CSS for Filter*/

    .partners {
        padding-top: 15px;
    }
}


@media  (max-width: 320px) {
    .status_bar span{font-size:12px !important;}
}


/*.............CSS FOR Contact.....................*/

@media  (max-width: 1024px) {
    .contact-form{padding-left:0;padding-right: 0;}
    aside .widget_social{margin-bottom: 0}
    aside .widget_social .social-share{padding: 20px 0;}
}

@media  (max-width: 992px) {
    /*.news-banner h1{margin-top: 140px;}*/
    .slider-twitter{background: #fff; padding-bottom: 20px;}
    .sticky .middle-status-fund{padding: 0;}

    .contact-form .pull-right{float: none !important; }

    .contact-form .col-md-5{text-align: center; padding-top: 10px;}

    .cms-page .contact-list {
        padding:30px 0px !important;
    }
}


@media  (max-width: 375px) {
    .contact-filter{padding: 10px 0}
    .contact-list h2{padding:0 0 10px 0}

    .formsubj h4{padding-right: 0; font-size: 16px;}

    .contact-filter .formsubj .form-control-sel .form-control{
        line-height: 18px;
        height: 35px;
    }

}

/*.............CSS FOR FONT.....................*/
@media (min-width: 992px){
	.main-slider .content-left, .main-slider .content-right,.main-slider .sliderCaption .pull-middle,
	.main-banner .item .sliderCaption .pull-left{min-height:305px;}
}

@media (max-width: 1060px) {
	.homepage .main-slider .sliderCaption h1{font-size: 4vh;}
}

@media (max-width: 992px) {
	.homepage .main-slider .sliderCaption h1{line-height:37px;}
    .main-slider .sliderCaption h2, .main-slider .sliderCaption h1,.main-banner .fund-banner .sliderCaption h1,
	.section-video h1{font-size: 5vh;}	
	.main-banner .fund-banner .sliderCaption h4{font-size: 3.3vh;}
    .main-slider .sliderCaption .coutry, .homeurgency .main-banner h2 {font-size: 3vh;line-height: 20px;}
    .main-slider .content-left {margin-top:15px;margin-bottom:15px;}
    .main-slider .content-right {margin-top:15px;margin-bottom:15px;}
    .main-slider .sliderCaption .pull-middle{margin-top:30px;margin-bottom:60px;}
    .main-slider .sliderCaption .btn{margin-top:10px; /*width: 45%;*/ height: 40px; line-height: 38px; padding-left: 17px; padding-right: 17px; font-size: 14px;}
    .mean-container .mean-nav ul li a{font-size: 20px !important;}
	
	.owl-dots{bottom:10px;}
}


@media (max-width: 768px) {
   /* .main-banner .item .sliderCaption h1{font-size: 4vh;}*/
    .section-solidarity h2, .section-video h2{font-size: 30px;}
    .section-solidarity h4{font-size: 32px;}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: 180% 100%!important;}

}

@media (max-width: 600px) {
    body{font-size: 16px;}

}

@media (max-width: 480px) {
    h1,h2{word-wrap: break-word;}
    .howworks-content h3{font-size: 16px;line-height: 24px;}
    .section-solidarity h4{font-size: 50px;}
    .section-solidarity h4{font-size: 21px;}
    .main-slider .sliderCaption p{display: none;}
    .main-slider .sliderCaption h2, .main-slider .sliderCaption h1{line-height: 30px;}
	.homepage .main-slider .sliderCaption h2, .homepage .main-slider .sliderCaption h1{line-height: 30px; font-size:3vh}
    /*.main-banner .item .sliderCaption h1{font-size: 3.6vh;}*/
	.main-slider .content-right{padding-right:2%;}
    .main-banner h3, .main-banner .item .sliderCaption h4{margin-top: 0px;}	
    .section-fundraising .features .content-wrap h3{font-size: 26px;}
    .section-video h3, .section-solidarity h3, .section-solidarity h4 {font-size: 22px;}
    .section-solidarity h2, .section-video h2{font-size: 30px;}
    .title h3, .title h3, .title h2{font-size: 22px; margin-top:10px;}

    .homeurgency h2{ padding-bottom: 10px; margin-top:0; }
    section .features .content-wrap p{margin-left: 15px; margin-right: 15px;}
    .section-solidarity h4{font-size: 16px; margin-bottom:0px; font-family: 'robotobold'}
    .section-solidarity p{font-size: 14px;}
    .section-solidarity img{width: 35%;}
    .postal-account .postal-content h3{font-size: 18px;color: #ffffff !important;text-decoration:none;}
    .postal-account .postal-content p{font-size: 14px;}
    .postalfooter li{font-size: 14px;}
}


/*////////CSS FOR FUND RAISING//////////*/
@media (min-width: 361px) and (max-width: 480px) {
    .section-video h1{font-size: 33px;}
    .section-video{padding-top: 140px;}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: 180% 100%!important;}
	.owl-dots{bottom:10px;}
}

@media (max-width: 360px) {
    .progress{width: 305px;}
    .section-video h1{font-size: 27px;}
    body > section.section-solidarity{padding: 120px 0}
    .main-slider .owl-stage-outer .owl-stage .owl-item .item {background-size: 180% 100%!important;}
}

/*........ ..........CSS FOR IMAGE OPTIMISATION..........*/

@media (min-width: 769px) and (max-width:1024px) {
    .main-slider .sliderCaption{top:100px;}
}

@media (min-width: 1025px) and (max-width:1440px) {
 
	h1.fund-title{margin-top:0;}
	.main-banner .item.fund-banner .sliderCaption{padding:9% 0;}
	.main-banner .item.fund-banner .sliderCaption .btnDonate{margin-bottom:0;}
}

@media (max-width: 1024px) {	
    /*......CSS for news....*/
    section.news-banner,.main-banner .fund-banner,.main-banner .item{height: auto;}   
    .main-banner .item .sliderCaption{padding:13% 0; /*min-height:350px;*/}	
	.main-banner.news-banner .item .sliderCaption{padding:8% 0;}
	

    section.news-banner .col-md-4{width: 100%;}
	h1.fund-title{margin-top:0;}
	.main-banner .item.fund-banner .sliderCaption .btnDonate{margin-bottom:0;}

    .homeurgency .main-banner .item{
        background-position: -710px center !important;
    }


}

@media (max-width: 767px) {
	 section.news-banner .item{padding: 40px 0;}
	 
}

@media (max-width: 768px) {
    .main-slider .sliderCaption{top:30px;}

    .main-banner .item .sliderCaption{/* min-height:290px;*/} 
	
	
	 /*......CSS for fund....*/
	.main-banner .fund-banner .sliderCaption  {padding:9% 0;}	
	
    

    /*.....css for video.....*/
    .section-video,body > section.section-solidarity{height: auto !important; padding: 60px 0 110px;}
    body > section.section-solidarity{padding: 20px 0 170px}
}


@media (min-width: 481px) and (max-width:768px) {

    .section-howworks{min-height: 340px;}
    .howworks-content{min-height: 330px; }
}

/*CSS FOR BANNER other pages*/

@media (max-width: 599px) {
    .section-video{padding: 50px 0 80px;}
}


/*CSS FOr Miscellaneous*/
@media (max-width: 480px) {
    .homeurgency .main-banner .item .sliderCaption{padding-top:50px;}
    .homeurgency .section-fundraising .features .content-wrap h3 {
        font-size: 23px;
        margin: 0 0 10px;
    }
}



/*.....css for Carousel........*/
@media (max-width: 768px) {
    .owl-carousel .owl-item figure{
        background:#eee;
        max-height: 240px;
        text-align: center;
        line-height: 184px;
        /*display: flex;*/
        /*justify-content: center;*/
        /*flex-direction: column;*/
    }

    .owl-carousel .owl-item figure>img{max-height: 240px;width:auto;}

    .features  figure .image_crop{max-height: 240px;}

    .owl-theme .owl-controls .owl-nav div {
        margin: 5px
    }

    .mobile-carousel .owl-nav{top:290px;}

    .section-accordion-conter .panel-body .col-lg-4,
    .section-accordion-conter .panel-body .col-lg-8{
        width:100%;
    }

    .section-fundraising .features figure figcaption{
        bottom:-16px;
    }

}

@media (min-width:1025px) {
    .secondary-fundraising-slider .owl-stage-outer,.secondary-slider .item {
        height: 685px !important;
    }

    .cms-page .main-banner .item{
        height: 492px;
    }
}


/*CSS For News filter*/

@media (max-width: 768px){
	/*CSS FOR CMS FILTER MENU*/
	
	.section-filter ul.filter-dropdown>li{
		display:block;
		margin-left:0;
		padding-right: 20px;
		border-bottom: 1px solid #ddd;
		padding: 0 0 15px 0;
		margin-bottom: 15px;
	}
	
	.section-filter ul.filter-dropdown>li:last-child{
		border-bottom:none;
		padding:0;
		margin-bottom: 0;
	}
		
    /*.filter-list{display: none;}*/
    /*.open>.filter-list{display: block;}*/

    /*.section-filter-mobile{*/
    /*position: relative;*/
    /*text-align: center;*/
    /*}*/

    /*.section-filter-mobile a.btn.btn-filter{padding: 0 50px;height: 36px;line-height: 36px;}*/


    /*.section-filter-mobile ul.filter-list h4{*/
    /*display: none;*/
    /*}*/

    /*span.multiselect-native-select{*/
    /*display: block;*/
    /*text-align: left !important;*/
    /*float: left;*/
    /*width: 45%;*/
    /*}    */

    /*.multiselect-native-select .caret{margin-left: 0;}    */

    /*.section-filter-mobile .dropdown-menu{*/
    /*top: 25px;*/
    /*}*/

    /*.status_bar.sticky {*/
    /*top: 0 !important;*/
    /*}*/

    .section-filter .panel-default{
        border:1px solid #ddd;
        margin: 10px 5px;
        border-radius:0 !important;
    }

    .section-filter .panel-default>.panel-heading{
        border:none;
    }

    .section-filter span.multiselect-native-select {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 !important;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
    }

    .section-filter span.multiselect-native-select:last-child{
        border:none;
		padding-bottom:10px;
    }

    .section-filter .btn-group,.section-filter .btn-group .btn{
        width: 100%;
        text-align: left;
    }

    .section-filter .btn-group .btn .multiselect-selected-text{
        display: inline-block;
        width:97%;
		font-size: 16px !important;
    }

    .multiselect-native-select .caret{
        position: absolute;
        right: 3px;
        top: 13px;
    }

    .multiselect-container li:last-child{
        padding-bottom: 0 !important;
    }

    .section-filter-mobile .panel-body h4{display: none;}

    .section-filter .col-md-10{float:left !important; width: 100%}

    .section-filter .accordion-toggle::before, .section-filter .accordion-toggle::after{
        right: 5px;
    }

    .section-filter .dropdown-menu{
        right:0 ;
        left:0;
        text-align:left;
        z-index: 1000;
    }

    .section-filter .multiselect-container{
        padding:10px 0;
    }

    .multiselect-container li:first-child{
        padding-top: 0 !important;
    }

    .multiselect-container li:last-child{
        padding-bottom: 0;
    }
	
	.section-filter .dropdown-menu{
		top:40px;
	}
}

@media (max-width: 768px){
   /* .section-filter .dropdown-menu{
        top:34px;
    }*/
	 .section-filter .dropdown-menu{
        top:0;
		position:relative;
		width:100%;
		max-height:145px;
		overflow:auto;
		border-radius: 0 !important;
		background:#f5f5f5;
    }
}


@media (min-width: 769px){
    .section-filter-mobile .xs-hidden{ display: none !important;}
    .section-filter .collapse{display: block !important;height:auto !important;}
	
	
	.panel-default>.panel-heading+.panel-collapse .panel-body{
		background: none;
		padding: 25px;
	}

    .section-filter .panel-default>.panel-heading+.panel-collapse .panel-body,
	.section-accordion-conter .panel-default>.panel-heading+.panel-collapse .panel-body{        
        padding: 0;
    }	

}

/*//////////CSS FOR New Filter/////////*/

@media (max-width:1024px){
.section-filter ul.filter_menu{margin:0; padding-left:0;}
.section-filter ul.filter_menu li{margin-right:10px;}
}


@media (max-width: 767px){
	
	.section-filter ul.filter_menu{margin-bottom:20px;}
	.section-filter ul.filter_menu li{border-bottom:1px solid #ddd; margin:0; display:block; padding:5px 0 7px;}
}


/*//////////CSS FOR desktop view in ipad/////////*/

@media (min-width: 767px) and (max-width:1024px){	
	.section-imagetext h2{margin-top:0;}
	
	.btn.rounded.black,.btn.underline{margin-top:10px;}	
	
	.section-contact .address address{padding:20px; margin-bottom:0;}
	
	.section-accrodion .center h3,.accordion-two-col{margin-bottom:30px;}
	
	.social-link{ margin:0 10px 20px;}
	
	.section-filter ul{padding-left:0;}	
	
	
}



section.two-col-content{padding:30px 0 0 !important;}

section.two-col-content .col-md-6,section.two-col-content .col-md-6 p, section.two-col-content .col-md-6 img{margin-bottom:20px;}


section.two-col-content.seo-content{padding:30px 0 60px !important;}

@media (max-width: 1220px) {
	section.two-col-content.seo-content{padding:10px 40px 40px !important}
}

@media (max-width: 767px) {
	section.two-col-content.seo-content{padding:0 30px 30px !important}
}