/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	padding: 4px 0;
	min-height: 55px;
	z-index: 1000;
}

.mean-container a.meanmenu-reveal {
	width: 38px;
	height:27px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 25px;
	right: 0;
	cursor: pointer;
	color: #1f1f1f;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #1f1f1f;
	height: 5px;
	margin-top: 5px;
}
.homeurgency .mean-container a.meanmenu-reveal span {

    background: #FFFFFF;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #f5f5f5;
	margin-top: 104px;


	position: fixed; /*added by ramesh*/
    left: 0;
    right: 0;
    pointer-events: none;
}

.meanclose + .mean-nav {
	pointer-events: auto;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	margin-bottom: 50px;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 100%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #dcdcdc;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	/*opacity: 0.75;
	filter: alpha(opacity=75);*/
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 65px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
/*	background: rgba(0,0,0,0.9);*/
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}


@media (max-width: 1060px) {

.navbar-nav > li:hover > a:after{background: none;}

ul.sub-menu{position: relative;}

.dropdown-menu p{display: none;}

.dropdown-menu figure figcaption h3{font-family: ''robotolight''; color: #1f1f1f;  font-size: 20px; text-transform:uppercase; margin: 0; }

.mean-container .mean-bar{
	position: fixed !important;
	width: 67px ;
	right: 80px;
}
    
.homeurgency .mean-container .mean-bar{
	right: 0;
}

.dropdown-menu .subMenu span:first-child a.menu-link{border:0px;padding-top:30px;}
.dropdown-menu .subMenu span a.menu-link{padding-top: 30px; padding-left: 30px; border-top: none;}


nav.mean-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

nav.mean-nav #primary-menu{
	padding-bottom: 50px;
}

.mean-container .mean-nav ul li a{color: #1f1f1f; padding-left: 0;padding-right:0; font-family:'robotomedium'; font-size: 30px;text-align: center; }

.mean-container .mean-nav ul li.current-menu-parent>a:first-child,
.mean-container .mean-nav ul li.current_page_item>a:first-child{background:rgba(255,255,255,0.8) !important;}
.mean-container .mean-nav ul li li a{border-bottom:none;}
.mean-container .mean-nav ul li li a{padding: 20px 0 20px 0 !important; border-top: none; width: 100%}

.mean-container .mean-nav ul li li li a{
	padding: 20px 0 0 10px !important; 
	text-transform: inherit;
}

.mean-container .mean-nav ul li a.mean-expand{width:100%; color: rgba(245, 245, 245, 0);}

.mean-container .mean-nav{background: none !important}

.mean-container .mean-nav ul{background: #f5f5f5 !important}

.dropdown-menu .col-md-3{display: block;float: none; width: 100%;}

}

.mean-container .mean-bar{
	/*position: fixed !important;*/
	position: absolute !important;
}

@media (max-width: 1050px){
.mean-bar span{transition: all ease-in-out 0.5s; transform: rotate(0deg);  }

.meanclose span{
    transform: rotate(140deg);
    position: relative;
    top:6px;
}

.meanclose span:nth-of-type(2) {
	pointer-events: none;
  		opacity: 0; 
      
}

.meanclose span:last-of-type {	 

  	position: relative;
    top: -13px;
    transform: rotate(40deg); 
}

}


@media (max-width: 1025px){
 .mean-container .navbar-nav>li>a{line-height: 30px;}
 .navbar>.container .navbar-brand{margin-top: 12px}
.megamenu .col-md-3{padding-left:0;}
.navbar-brand img{max-width: 90%;}
}

@media (max-width: 412px){
.navbar-brand img { max-width: 65%;}
.mean-container a.meanmenu-reveal{top:7.5px;}
}

@media (min-width: 481px) and (max-width:1060px){
	.mean-container a.meanmenu-reveal{right: 70px !important}
	.homeurgency .mean-container a.meanmenu-reveal{right: 0px !important}
}

@media (max-width: 412px){
		.mean-container a.meanmenu-reveal{right: 0 !important; width: 30px;}
		.mean-container a.meanmenu-reveal span{height: 4px; margin-top: 4px;}	
		.meanclose span:last-of-type{top: -10px;}	

}

@media (min-width: 413px) and (max-width:678px){
	.mean-container a.meanmenu-reveal {
		top: 25px;
	}
	
	.navbar>.container .navbar-brand{
		margin-top:20px;
	}
	
	.navbar-brand img { max-width: 71%;}
}

/*...........CSS FOR DROP DOWN........*/

@media (min-width: 1026px){	
	#primary-menu .hidden-xs{display: none !important;}
}

@media (max-width: 1025px){
	.mean-nav .hidden-xs{display: block !important;}

	#primary-menu .hidden-xs a {font-size: 18px; color: #666;}

	.hidden-xs .fa{margin-left: 5px;}

	#primary-menu .hidden-xs ul{margin-bottom: 0; border-bottom: 1px solid #dcdcdc}

	#primary-menu .hidden-xs a.mean-expand{color:#f5f5f5; text-align: left }


    .hidden-xs  .dropdown-menu{position: relative;}

}

