@charset "UTF-8";
/*
Theme Name: Custom Theme
Theme URI: http://asimove.com
Description: A custom Wordprss theme for asimove
Author: Lorenzo Pirondini
Vestion: 1.00
*/

 OL { counter-reset: item }
   LI { display: block }
   LI:before { content: counters(item, ".") " "; counter-increment: item }

body{
	background-color:#CCC;
}
section.container{
	margin-top:20px;
	}
header.header img{
	margin-top:20px;
	}		
header.header{
	background-color:#FFF;
	border-radius:10px 10px 0 0;
	}	
.sub_header{
	background-color:#666;
	}
	
.sub_header  p {
    font-size: 1.5em;
    color: #FFF;
	padding-top: 10px;
	}
.sub_header  p img, footer a img {
	margin: 0;
	float: right;
	margin-top: 3px;
	}
		
nav.navbar{
	border-radius:0px;
	margin-bottom:0;
	background-color:#000;
	}

.navbar-nav.nav-justified > li{
    float:none;
	}
.navbar-nav.nav-justified > li a{
    padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;	
	
	}	
	

.navbar-inverse .navbar-nav .active > a{
    color:#F0F;
	background: #FFF;
	border-radius: 10px 0;
	}
	
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #F0F;
	}	
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #f0f;
	background-color: #fff;
	}
.under_menu{
	background-color:#999;
	padding:0;
	padding-left:15px;
	}	
	
.under_menu p{
	top:35px;
	border-bottom: 1pt solid #fff;
	margin-left:0;
	padding: 0;
	color:#FFF;
	font-size: 18px;
	font-weight:bold;
	}	
.under_menu.col{
	padding-left:0;	
	}	
	
.hr_divider{
	background-color:#666;
	height:5px;
	}	
	
.home_content{
	background-color:#666;	
	}
.content{
	background-color:#FFF;
	padding: 35px 0;
	}
		
.content p{
	text-align:justify;
	}	
.content ul{
	padding: 10px 40px 10px 100px;
	border-top: thin solid #666;
	border-bottom: thin solid #666;
	}	
	
section.services_sub_menu{
	padding:0;
	background:#999;
	}	
	
.services_sub_menu .div_list{
	padding:0;
	}	
	
.services_sub_menu .div_list .list-group{
	margin:0;
	}	
.services_sub_menu .div_list .list-group-item {
	padding:5px 15px;
	background:#666;
	color:#FFFFFF;
	cursor:pointer;
	}		
	
.services_sub_menu .div_list .list-group-item:first-child{
	border-radius:0px;
	background:#000;
	cursor:default;		
	}

.services_sub_menu .div_list .list-group-item:last-child {
	border-radius:0px;
}
	
.services_sub_menu .div_list.middle{
	padding:0 6px;
	}		

	
		
	
section.main{
	background-color:#666;
	padding: 2em;
	color:#FFF
	}

section.main p{
	text-align:justify;
	}	
.jobContainer{
	
	
	}	
	
.jobElement{
	text-align:justify;
	}
	
.jobApplayContainer{
	background: #FFDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius:5px;	
	}	
		
section.sidebar{
	padding:0;
	}	
section.sidebar img{
	width:100%;
	height:auto;
	}	
section.footer{
	background-color:#FFF;
	border-radius:0 0 10px 10px;
}
section.footer p{
	float:left;
	margin-top:5px
}